[2015-01-24 04:08] MBlondin commented on #4557
@LaurentGoderre @thomasgohard Instead of having an image that scrolls with the page to show the overlay (like the WET3.0.4 Slide Out Tab)  Could a fixed to top NavBar with a link to open the overlay be a valuable option?

[2015-01-26 13:18] CalvinRodo opened #6472 "Issue with Menu Bar in Firefox when hitting "ctrl + +""
When on this page and hitting ctrl + + a few times the items in the menu bar lose left justification, this happens when I hit 110% zoom in Firefox, my screen is set to 1366 x 768

![menutest](https://cloud.githubusercontent.com/assets/87738/5900133/76ce50c4-a533-11e4-9d70-f1d79d3dbf72.png)

This is the page the test occurred on
http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index-en.html

[2015-01-26 13:28] vallieresc commented on #6471
Ok I'll update to 4.0.10 and make the PR wet-boew.js changes are still necessary.

[2015-01-26 14:15] CalvinRodo opened #6473 "Error with i18n text when ending session"
This was found by our clients when doing testing on an app.

Time tou session: S\'il vous plaît ouvrir une nouvelle session. And Avertissement d\'expiration de la session (try to escape char " ' " )

[2015-01-26 14:29] pjackson28 commented on #6471
What are you changing in wet-boew.js and why is it necessary? Perhaps we can help to find an alternate solution that doesn't involve changes to wet-boew.js as changing wet-boew.js creates issues going forward (maintenance/upgrade headaches, problems if you move to a platform where wet-boew.js is locked down, etc.). Also note that you should be using the minified version of wet-boew.js for performa

[2015-01-26 14:35] vallieresc commented on #6471
I modified web-boew.js because in our left menu navigation we have non linked items that should be included in the mobile panel. Without my changes these items cause a nodeName js error. They are <li><span>Link</span></li>. Also in our footer we do not have any link below the h3 so I've had to change the jquery selector to include all a tags in the footer.

On save my changes are reminified.

[2015-01-26 14:39] LaurentGoderre commented on #6472
Duplicate https://github.com/wet-boew/theme-gcwu-fegc/issues/189

[2015-01-26 14:40] #6472 closed

[2015-01-26 14:49] pjackson28 commented on #6471
You should be filing issues about these rather than modifying wet-boew.js. In those issues you should be identifying the use case and the markup you are using so we can see if there is a better way to do the markup or if a change in core is needed.

[2015-01-26 14:51] pjackson28 commented on #6471
Also if you have suggested code changes then you are welcome to submit a PR and we can review your suggested changes.

[2015-01-26 16:43] idekaresearch opened #6474 "Feeds: css file"
To use the WET 4 Feeds widget, do I have to include the feeds.css <link rel="stylesheet" href=".../feeds.min.css"> or will the WET framework dynamically load the appropriate css?

[2015-01-26 16:50] LaurentGoderre commented on #6474
You don't need tom load any file manually.

[2015-01-26 16:57] idekaresearch commented on #6474
I noticed that the feeds.css file is being included manually in the Feeds working sample. This css formats the final look.

[2015-01-26 17:25] pjackson28 commented on #6474
@idekaresearch The feeds.css just contains demo CSS for styling the Feeds plugin. It is not required for the plugin to work.

[2015-01-26 18:14] vallieresc commented on #6471
Noted.

The getElements = function( link, data ) {
		var selector = data.selector || link,
			parent = data.parent || null;

		return parent !== null ? $( parent ).find( selector ) : $( selector );
	},

seems to return the button itself. Data.selector is undefined and link is the button.

[2015-01-26 18:22] pjackson28 commented on #6471
There are some odd things with your markup. For instance the <code>id</code> and <code>aria-controls</code> attributes on the button are the same meaning that the button controls itself (where instead <code>aria-controls</code> should be the same as the <code>id</code> on the toggled element). This doesn't happen in the live working examples. What is the original markup that you are using (so not

[2015-01-26 18:26] vallieresc commented on #6471
@pjackson28 The id and aria controls was happening because the plugin couldn't pickup the selector.

[2015-01-26 18:26] pjackson28 commented on #6471
That is expected. The first example is invalid JSON while the second is valid JSON. WET requires valid JSON to be passed through the data-* attributes and ignores anything that is not valid (for security reasons). So when you used invalid JSON, it was the same as if you specified no selector at all (hence why the button referenced itself).

[2015-01-26 18:27] neoinsight commented on #6471
I share @pjackson28's concern about modifying the .js file from a usability point of view. WET menus force an error for unlinked menu items because well, it's a menu, there are supposed to be links.
When we perform usability testing, we use the .js version of WET so if you are modifying, it's also a usability risk.

[2015-01-26 18:27] idekaresearch commented on #6474
Our client saw the sample and wanted the look, but when I use the widget, the default bullets display for each item. I'll just include the relevant css. Thanks!

[2015-01-26 18:27] #6474 closed

[2015-01-26 18:31] vallieresc commented on #6471
@neoinsight I agree but our complex application has a multi tier navigation like a tree. In some cases a non link element is used to group sub pages so users can better understand the navigation.

[2015-01-26 18:42] neoinsight commented on #6471
Uh oh. 'complex application with multi tier navigation like a tree'. From a web navigation point of view, it's always preferable to group and navigate via linked elements, even if you have to add some simple hub pages (like these - sorry, don't have a WET4 example yet: http://www.dfo-mpo.gc.ca/otw-am/conditions/index-eng.htm) or like the whole Theme-Topic-Subtopic pages on Canada.ca. But agree it'

[2015-01-26 18:45] pjackson28 commented on #6471
@vallieresc Don't know how good it is from a usability standpoint but another option could be to turn the unlinked menu items into same-page links (so linking to each sub-menu). That would avoid the need for any JavaScript changes and would ensure the item is included in the tabbing order. That is what was done here: http://www.healthycanadians.gc.ca/eating-nutrition/safety-salubrite/index-eng.php

[2015-01-26 18:48] vallieresc commented on #6471
@neoinsight Sounds nice maybe in some cases but let's say I have 5 links under a non linked item. The non linked item would navigate to a sitemap page with the same 5 links. Seems a waste of a click to me and a lot of work for us.

@pjackson28 Could be a solution. What about the footer link lists? We do not have any lists. The h3 are the links and with your jquery selector .not('h3 a') it didn't w

[2015-01-26 18:55] pjackson28 commented on #6471
@vallieresc The problem is with your markup, as you should not be using an <code>h3</code> or <code>section</code> without section content (will fail WCAG 2.0). So if there are no sub-links, then remove the <code>section</code> element and change the <code>h3</code> element to a <code>div class="h3"</code> element (or something similar that doesn't involve <code>h3</code> or <code>section</code>).

[2015-01-26 18:59] neoinsight commented on #6471
@pjackson28 That on-page solution seems like it would meet usability and as you point out, accessibility requirements -  clicking on items that do nothing was what worried me, as well as general menu clutter/overloading.

[2015-01-26 23:11] shawnthompson commented on #6232
@pcwsmith would adding this to the GCWeb templates be a good thing?

[2015-01-27 00:28] #6470 closed

[2015-01-27 00:56] LaurentGoderre commented on #6473
Can you send a screenshot of the problem. I can't reproduce.

The i18n files uses double quotes (`"`) so single quotes within it don't need to be encoded

[2015-01-27 12:32] vallieresc commented on #6471
@pjackson28 For some reason clicking on my new anchored left menu item (links to submenu) will not visually navigate to the submenu. If I disable JS it will. Do you have any sort of preventDefault() or return false related to left menu anchors?

[2015-01-27 13:19] pjackson28 commented on #6471
It works fine for me. What markup are you using for your left menu? Does the href match the id?

[2015-01-27 13:26] vallieresc commented on #6471
yes they match

[code]

[2015-01-27 13:37] CalvinRodo commented on #6473
I'll try and get a screenshot of it, it was not found by me but one of the clients testing the my service canada business account release this weekend, it was specified as a "known" issue with WET and I was told no one had ever entered an issue here so I figured I'd do it for them.

There is a very real chance this has been fixed, or it's been implemented incorrectly.

[2015-01-27 13:58] #6467 closed

[2015-01-27 14:09] LaurentGoderre commented on #6473
What version are they using?

[2015-01-27 14:42] CalvinRodo commented on #6473
It looks like 3.1.7 I'm working on recreating it now.

[2015-01-27 14:45] LaurentGoderre commented on #6473
3.1 is no longer supported though. It's working well in v4.0

[2015-01-27 14:46] CalvinRodo commented on #6473
It's not supported but I would imagine the majority of the sites that use WET aren't using v4.0

[2015-01-27 14:51] jvanulde commented on #6206
@pvgenuchten I have changed the buttons slightly. See screenshot below. Will this be sufficient?

![screen shot 2015-01-27 at 6 49 22 am](https://cloud.githubusercontent.com/assets/2255248/5920330/c6551610-a5f0-11e4-8a77-349022c71801.png)

[2015-01-27 14:52] LaurentGoderre commented on #6473
Maybe so but we are not going to provide any fix for that version

[2015-01-27 14:58] CalvinRodo commented on #6473
Alright

[2015-01-27 14:58] #6473 closed

[2015-01-27 16:07] pjackson28 commented on #6471
Your markup works for me when I insert it into a left side menu. Could you please provide the markup for your whole left side menu?

[2015-01-27 19:20] ikug opened #6476 "Image in Tab"
I am using tab for our pages. In each tabs could have a image beside of content. I created one, and found out the display is different bwteen Chrome and IE9.

In Chrome:

![image](https://cloud.githubusercontent.com/assets/10654702/5925053/f6a2ef84-a62e-11e4-9ed8-b7b4f7851114.png)

But in IE 9:

![image](https://cloud.githubusercontent.com/assets/10654702/5925215/f0fe3326-a62f-11e4-848a-7bfa8be66c

[2015-01-27 19:27] pjackson28 commented on #6476
IE9 is supported but Quirks mode is not (we only support standard mode). Why do you need to run in Quirks mode? That is a very buggy and inconsistent rendering mode to be running (will lead to all sorts of problems). Also you should check to see if you are running in IE9 mode or in compatibility mode (use F12 to bring up developer tools). WET does not support compatibility mode as it is effectivel

[2015-01-27 19:36] ikug commented on #6476
Thank you for your response.

It is not that we want to use. It is the application we are using has to be Quirks mode, and worst thing is our users are only allowed to use IE 9 on Quirks mode. If it switches to standards, then the application can't be used properly.

I know what you are saying, and I just can't make a deal with them about it. But I am looking for some way to make it display nicely

[2015-01-27 19:43] pjackson28 commented on #6476
There is probably little we can due to help as Quirks mode and Standards mode are very different and all IE9 testing is done with standards mode. For your scenario, I would suggest having a custom CSS file that loads only for IE9 (see how we do that with conditional comments) and in that file have fixes that fix the IE9 issues you are facing.

[2015-01-27 19:49] ikug commented on #6476
Which file is from WET?

[2015-01-27 19:51] pjackson28 commented on #6476
I was meaning look at the template markup (HTML) and see how we use IE conditional comments. You can use a similar approach to target a CSS file at just IE9.

[2015-01-28 13:08] E1D1 commented on #6469
@LaurentGoderre

Sorry for the late reply but could you please explain why you say " if it isn't supported."

[2015-01-28 13:16] vallieresc commented on #6471
If I remove the web-boew.js script, the anchor works. I'm on 4.0.10.

[code]

[2015-01-28 13:43] pjackson28 commented on #6471
The link is working, but because of how you are nesting your menu items the id is being included in the mobile panel because the nested markup is being brought over. This means you have duplicate id values with the one hidden in the mobile panel being earlier in the DOM. So that means on the click it is trying to set focus on the element hidden in the mobile panel which instead results in focus be

[2015-01-28 14:33] LaurentGoderre commented on #6469
Some browser have native support for a date picker (such as Chrome) while other browser have not yet implemented it (e.g. Firefox). The date picker is a polyfill that bring that missing functionality to browser that don't already have. For that reason we do not add any functionality that native implementation don't have.

[2015-01-28 15:05] pjackson28 commented on #6471
Part of the problem is you are going three levels deep in the left menu whereas WET only supports two levels deep. Your code even looks odd visually in the left menu as the Examples link is at the same level visually as the nested links:
![sidemenu](https://cloud.githubusercontent.com/assets/1326498/5939762/776241d8-a6d4-11e4-834a-2546f2990619.png)

It also causes issues in the mobile panel:
![sid

[2015-01-28 15:07] pjackson28 commented on #6471
Note you could use the h3 approach as well (like in http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/content-secmenu-en.html) but you shouldn't be going past two levels deep (so don't combine both approaches into one).

[2015-01-28 15:08] vallieresc commented on #6471
This is only the demo project left menu. Other apps have more complex left menus. We cannot only support 2 levels. I take care of the mb-pnl layout with my css.

[2015-01-28 15:15] pjackson28 commented on #6471
You may be fixing it with CSS but you are not fixing the accessibility issues, particularly the breaking of the WAI-ARIA menu pattern in the mobile panel (so there will be keyboard and screen reader issues). What value is the h3 bringing in this case?

Also why do you need to display all the options at once? Shouldn't the side menu be more contextual (so top tasks/actions for the current section/a

[2015-01-28 15:22] LaurentGoderre commented on #6471
Using a left menu for navigation seems very problematic to me. The navigation would probably best suited inside the content area.

[2015-01-28 15:33] vallieresc commented on #6471
Applications using our framework are made up of many form pages that users must fill out. It varies from 5 pages to 100. Some have left menus split in areas (only showing part of the menu). The left menu is the most important part of navigation for us. The left menu pages also show their completion status as well as facilitate their navigation to any page they need to fill out. The h3 could become

[2015-01-28 15:51] pjackson28 commented on #6471
From what you describe it seems you are misusing the left menu. It is only intended for secondary navigation, it should not be relied upon for the primary (or the only) means of navigating and it should not contain anything that is not navigation (since it is in a <code>nav</code> element). Putting completion status in a nav element is against the HTML5 spec and makes no sense semantically (and ma

[2015-01-28 16:02] pjackson28 commented on #6471
Note also that with the grid system you could position some items on the left of the content area if that makes the most sense for your application (make sure to take into account how things should be displayed on smaller screens). You should not be using a side menu to just position stuff on the left much like you shouldn't be using a table solely for layout purposes. You should only use the side

[2015-01-28 16:10] vallieresc commented on #6471
When you say putting the left menu items in the content area what do you mean? I need those menu items available on all pages to facilitate navigation. Do you have an example somewhere of what you are suggesting?

[2015-01-28 16:17] LaurentGoderre commented on #6471
A progress status is not a navigation item though, it should be in the content area. Besides, it becomes quite useless to have it there in mobile view since it's hidden away

[2015-01-28 17:08] pjackson28 commented on #6471
Anything that is not navigation moves to the content area. If you need to repeat those items across numerous pages then create an area in your content area grid for that purpose.

As for navigation, focus should be on the content area. Identify what are the most common next steps and provide that through the content area (what makes the most sense in context). The user should be able to navigate t

[2015-01-28 17:18] eehret opened #6478 "Problems with datalist in Chrome when large number of items"
We noticed that when we try to use datalist with a large number of items it does not work well:
1.  If you have > around 100 items and you type something that matches a much smaller subset of the items, those items will show up.  But as soon as you match too many items (or if you just click the arrow without filtering, the list will not render at all (large black box instead).   When the black box

[2015-01-28 17:30] vallieresc commented on #6471
I'm not sure what type of menu you mean. Do you mean the type of menu on this page http://wet-boew.github.io/v4.0-ci/demos/toggle/toggle-en.html ?

[2015-01-28 18:03] fbernard2 opened #6479 "Intertab linking for the tabbed interface"
Unable to use relative paths for intertab linking.

[2015-01-28 18:04] pjackson28 commented on #6471
The side menu (the "Section menu") is on the left side of the page in desktop view (http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/content-secmenu-en.html). In mobile view (shrink viewport below 992px), the side menu gets hidden and the mobile panel button gets revealed (the button on the top right with the magnifying glass and the lines). In mobile view the "Section menu" is included in th

[2015-01-28 18:09] pjackson28 commented on #6479
You shouldn't be using relative paths for that at all (even for regular same page links). If you are linking to somewhere on the same page then you should only use the fragment identifier (URL hash, i.e., the number sign followed by the id of the fragment you are targeting). Otherwise you are telling the page to reload and the go to the fragment rather than just going straight to the fragment.

Se

[2015-01-28 18:13] pjackson28 commented on #6478
If you have that many datalist items then you dynamically load the items as you may be running into browser memory issues. See the [dynamic datalist example](http://wet-boew.github.io/v4.0-ci/demos/datalist/datalist-dynamic-en.html) for how to do the dynamic approach with large datalists.

[2015-01-28 18:20] fbernard2 commented on #6479
Right, we are using the fragment identifier (URL hash, i.e., the number sign followed by the id) but for the version 4.09,  build 623. It does not work.

[2015-01-28 18:27] pjackson28 commented on #6479
It is working in v4.10 (and in the live working examples) so you should try updating to that version to see if it addresses your issue. If you are still having the issue then you should also try on the live working example to see if it could be a browser or implementation issue.

[2015-01-28 18:35] fbernard2 commented on #6479
Thanks Paul, we will need to get version v4.10. Could you provide the link to the live examples?

[2015-01-28 18:40] pjackson28 commented on #6479
Yes, you can find it in my first response.

[2015-01-28 18:44] #6479 closed

[2015-01-28 19:12] pjackson28 commented on #6471
Note that PR #6471 adds more tolerance for nested menu items but you still need to revisit how you are using side menus and ensure that they are used properly (or switch to an alternate approach such as with the grid system).

[2015-01-29 02:19] McEmily opened #6482 "Disabling mobile mode for WET 4.0 (Intranet Theme)"
Was wondering if there is a way to disable mobile mode for the Intranet theme of WET 4.0?

Our application is often run within an 800x600 browser control in another application, and it renders it in mobile mode every time. We have a feeling our end users won't like this (even though these are the newest standards) and we can't necessarily ask that the browser controls be made any larger by default

[2015-01-29 14:11] ikug opened #6483 "Menu Bar and Search Box Missing in WET 4.0.10"
We upgraded WET new version from WET 4.0.9 to WET 4.0.10 this week. After we implemented to our current application, I found the menu bar and search box are missing in IE 8. I looked at your release note, and realized the one of new changes from old version is "Theming: Added the ability for themes to customize WET variables". I am not sure if this is the reason to course the menu bar and search b

[2015-01-29 14:42] LaurentGoderre commented on #6482
Unfortunately we do not support this. It can be done but it requires custom building and might make it more difficult to get future update.

[2015-01-29 14:48] LaurentGoderre commented on #6483
Thanks! I am on it!

[2015-01-29 14:52] LaurentGoderre commented on #6483
I wonder if it's that bug with IE If it has too many rules, it starts ignoring them

[2015-01-29 15:13] LaurentGoderre commented on #6483
Weird, it seems to be the minification that breaks it

This works:
http://wet-boew.github.io/themes-dist/theme-gc-intranet/unmin/index-en.html

This doesn't:
http://wet-boew.github.io/themes-dist/theme-gc-intranet/unmin/index-en.html

@nschonni any idea?

[2015-01-29 16:05] LaurentGoderre commented on #6483
Got it! WET Core has an IE8 cleaning task I will port the task over to the other themes

[2015-01-29 17:43] CalvinRodo commented on #6482
Is there any guidance on how to do this?

[2015-01-29 17:43] eehret commented on #6478
Is ~100 really too many items?  It doesn't seem outlandish.
Anyway, we are going to use jQueryUI's autocomplete for now, since that one seems to work fine for our purposes.

Thanks for the help.

[2015-01-29 18:31] LaurentGoderre commented on #6482
Since it's not supported there is no guidance on how to do this

[2015-01-29 18:31] LaurentGoderre commented on #6478
100 choices seems to defeat the purpose of such components though...

[2015-01-29 18:32] pjackson28 commented on #6478
Since this is potentially an issue with the native support in Chrome for an HTML5 element, I can't say. But if you have more than 100 items then that becomes a lot of markup to include in a page (will mean a lot of page bloat which is not good for mobile). At that point you may want to consider sourcing the data from an off-page source to minimize the actual total page size. Keep in mind that the

[2015-01-29 19:28] LaurentGoderre commented on #6483
Thanks a lot for reporting this! The following PR will need to be replicated on every theme

#6484

[2015-01-29 20:20] eehret commented on #6478
We are aware that pulling in this data dynamically with an async call would be preferable... if we have time, we may do that.  That's a big IF though :)

[2015-01-29 20:37] kdutt opened #6485 ".net MVC and datatables"
Hi,

Trying to get datatables to work in my mvc project.  I'm guessing its how things are being loaded with MVC views and the datatables.js is never loaded.

Has anyone run into this or other issues with MVC?

Thanks

[2015-01-29 21:04] LaurentGoderre commented on #6485
Do you have an example I can look at?

[2015-01-29 21:05] LaurentGoderre commented on #6478
I already created code samples for this, the only portion needed is the backend to send the options to the async call

[2015-01-30 02:18] jvanulde opened #6486 "Plugin: Datalist"
I am loading data dynamically into the datalist plugin and it works fine in all browsers except Safari. It appears that the list is not destroyed between updates. See screenshot below. I am using a slightly modified version of the code sample provided:

		var mapDiv = $("#geomap-map-" + geomap.mapid),
			selector = "#wb-geomap-geocode-search-" + geomap.mapid,
			xhr,
			timer,
			val,
			keys, key

[2015-01-30 12:04] upsonp opened #6487 "Geomap redraw layer"
I'm hoping for someone to help me work through an issue I'm having. It's related to <a href="https://github.com/wet-boew/wet-boew/issues/2299">this discussion</a> we had awhile ago.

In the discussion I was asking for a native method that would allow Geomap to filter points based on a bounding area. Well we have the AOI tool now, which is half way to what I was looking for.

I'm trying to write an

[2015-01-30 16:41] vallieresc commented on #6471
What would be the best way to have an css class toggle with the state of the toggle target but only after it has toggled? Basically I want to have a glyphicon arrow indicate that the element is open with a down and up arrow. If I have a click event, if executes before the plugin, the .on/.off class has not been updated yet.

[2015-01-30 16:41] #6483 closed

[2015-01-30 16:47] pjackson28 commented on #6471
For opening and closing elements you should be using HTML5 details/summary as that is what those elements are intended for (and the triangle is taken care of for you). You should be consistent with the convention for opened/closed that is already in use and try to avoid implementing different conventions.

[2015-01-30 18:43] vallieresc commented on #6471
Can the summary replace an <hx> tag? We need collapsible sections (large chunk of form).

[2015-01-30 18:53] pjackson28 commented on #6471
You can include such a tag in the summary element, just make sure to use the equivalent hx class on the summary element. For example:

[code]

[2015-01-30 20:56] mohamedbecha opened #6488 "Tabbed Interface: Tabs on Google Chrome"
Hi there,
There is an issue with the tabs on Google Chrome. It takes 2 clicks to open a tab.
The first click makes the tab active, the second click changes its text content...
IE and Firefox work great; one click is enough
Thx

[2015-01-30 21:02] pjackson28 commented on #6488
I just tried the live working example with Chrome and the tabs change with just one click. Which version of WET are you using? Can you reproduce the issue with the live working example at: http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html?

[2015-02-02 14:15] mohamedbecha commented on #6488
Im using v4.0.6. The link (WET page) above took 2 click with Chrome...

[2015-02-02 16:15] jvanulde commented on #6148
@pjackson28 I think we can close this. @bchagnon can you confirm.

[2015-02-02 16:26] pjackson28 commented on #6488
I can't reproduce your issue on Chrome 40.0.2214.94 m (with the live working example). The tab panel changes each time on the first click (both in desktop and mobile view). What version of Chrome are you using? Have you configured Chrome in any way?

[2015-02-02 16:47] LaurentGoderre commented on #6488
@mohamedbecha you should update to v4.0.10

[2015-02-02 17:58] CalvinRodo commented on #6485
I have not had an issue with using Datatables and ASP.Net MVC, so I'm assuming it's something on your implementation.

How are you loading your javascript?

What does the rendered HTML look like?

[2015-02-02 18:09] CalvinRodo commented on #6469
@E1D1
Basically the polyfill will only support the HTML5 specification
http://www.w3.org/TR/html-markup/input.date.html

Why can't you just set the current value for the Date textbox to be the value you want? That will start with it highlighted.

[2015-02-02 18:10] Bgolden67 opened #6490 "Help Question: rel="external""
Is there any reason that the rel="external" attribute has been left out of the toolkit samples?
Example url place holders for things like Facebook, Twitter etc. should be using rel="external" and if we want it to be consistently used they should be included in the sample pages shouldn't they? Otherwise it come be mis-understood that it's no longer necessary to use them.

just food for thought

[2015-02-02 18:12] mohamedbecha commented on #6488
Version 40.0.2214.94 m : same as yours but still taking 2 clicks. I never did a custom configuration for chrome. thx
Testers are welcome

[2015-02-02 18:56] mohamedbecha commented on #6488
@LaurentGoderre  Sounds good

[2015-02-02 19:12] LaurentGoderre commented on #6490
Nice catch! @pjackson28 I believe we should add them for those links shouldn't we?

[2015-02-02 19:13] LaurentGoderre commented on #6482
Closing since the request is not supported

[2015-02-02 19:13] #6482 closed

[2015-02-02 19:18] E1D1 commented on #6469
Hi Calvin

Because I want a few days to be highlighted on the calendar ?

[2015-02-02 19:20] CalvinRodo commented on #6469
Can you just set a min date and a max date to encompass the days ?

The other option is to not use type=date at all and just implement your own datepicker.

[2015-02-02 19:20] E1D1 commented on #6469
Hi Calvin

Because I want a few days to be highlighted on the calendar ?

[2015-02-02 19:22] E1D1 commented on #6469
Yes I could but it won't highlight for instance feb. 3rd and feb. 14

[2015-02-02 19:24] CalvinRodo commented on #6469
No it wouldn't.

What is the reason for highlighting these values?

Would maybe a drop down list be better suited for this?

[2015-02-02 19:27] E1D1 commented on #6469
Not really ... I want the user to use the calendar and at the same time highlight important dates .

The code I posted above works but not with the wet template

[2015-02-02 19:32] pjackson28 commented on #6488
Could you please record what you are seeing? Perhaps if we see the steps that you take and the visual results that will help.

[2015-02-02 19:33] pjackson28 commented on #6490
Yes, any missing rel="external" should be added.

[2015-02-02 19:36] CalvinRodo commented on #6469
Of course it doesn't because the html 5 date picker does not allow you to do that.

Are these important dates to inform the user of optimal dates to pick or just something like notifying them of holidays?

Maybe it should be a date picker but then some radio buttons below to specify the important dates to pick?

Otherwise your out of luck.

[2015-02-02 19:41] regagnon opened #6491 "Tabs"
I would like to know if there is a section on how to create tabs.
If yes can you please provide me with the link.

thanks

René

[2015-02-02 19:43] pjackson28 commented on #6469
If you are looking to highlight important dates, then maybe you should use the Calendar of events for that purpose and type="date" separately for selecting the date.

[2015-02-02 19:45] pjackson28 commented on #6491
You can find the documentation here:http://wet-boew.github.io/wet-boew/docs/ref/tabs/tabs-en.html

[2015-02-02 20:06] Bgolden67 commented on #6490
thanks guys!

[2015-02-02 20:43] LaurentGoderre commented on #6490
@Bgolden67 are you able to open a PR?

[2015-02-02 22:55] bchagnon opened #6492 "Geomap: Highlighting of selected entry row is broken."
When selecting an entry row by checking its check box on, the row does not get highlighted. New code still uses the deprecated WET 3.x class "background-highlighting".

[2015-02-03 00:33] ashzadeh opened #6493 "Main Menu, Sidebar, and Faceted searches"
Hello everyone,

I'm currently working on implementing WET4 into an existing WET3 site and am running into a few obstacles.

### Main menu
The menu menu does allow for sub menus but what if the sub menu parent is a page as well? As best I can tell, WET4 removes the link. Is there a solution for this?

### Sidebar
1. I don't see anywhere in the documentation or the examples a way to implement multi

[2015-02-03 00:58] pjackson28 commented on #6493
Main menu:
That is intentional. Keyboard and touchscreen users couldn't use such a link (need it to open the menu) so it would only be available to mouse users. Usability testing also showed a 30% decrease in task completion due to accidental clicks (as they weren't expecting it to be a link). So we only allow it to be a link with JavaScript disabled because the submenu isn't available. If you wan

[2015-02-03 12:41] Bgolden67 commented on #6490
a PR?

[2015-02-03 14:43] LaurentGoderre commented on #6490
Pull request

[2015-02-03 14:57] mohamedbecha commented on #6488
http://youtu.be/8GAs2XHK44Q here is a video i made

[2015-02-03 15:28] hamdaneh opened #6494 "DataTables : Error handling"
Hi,
I am trying to remove the default behaviour of Datatables when Ajax throws an error if JSON is mal formatted by adding this:

$.fn.dataTable.ext.errMode = 'none';

But I get in the console this error :
Uncaught TypeError: Cannot read property 'ext' of undefined.

Thanks!
Houda.

[2015-02-03 15:34] LaurentGoderre commented on #6494
That means that datatable is not loading properly

[2015-02-03 15:39] vallieresc commented on #6471
I have found that if an element has no state, which makes it visible on screen, and no type is passed, which means it toggles, the first click of the button will assume it is in off state when it is really in on state. Your first click will do nothing, only your second click will correctly toggle the state. The state when in a toggle mode and for a non details element should be taken from the visi

[2015-02-03 15:52] pjackson28 commented on #6494
Maybe not directly related but important to note that WET doesn't support malformed JSON. It will ignore any malformed JSON that you include in any data-wb-* attribute (since supporting malformed JSON would be a significant security risk).

[2015-02-03 17:00] hamdaneh commented on #6494
Thanks! You are right, I had to move that line after the datatable is initialized.

Bad JSON can happen when the service layer is down, so we need to handle errors for timeouts/400 bad requests etc., We need to show proper error messages to users.

[2015-02-03 17:42] pjackson28 commented on #6471
The issue here is the plugin assumes that the initial state is off. There is a global <code>states</code> object associated to the plugin and it doesn't get populated until the first toggle. So on the first click of a stateless button (toggle button), it doesn't find any state information in the <code>states</code> object for the selector so just default to off. So the likely solution is to have t

[2015-02-03 17:46] vallieresc commented on #6471
That sounds like a good solution. Will this be part of the next version?

[2015-02-03 18:04] ashzadeh commented on #6493
@pjackson28

Thank you for your quick reply. That clears up a lot on our end.

This is the example I meant: http://recherche-search.gc.ca/rGs/s_r?st=s&s5bm3ts21rch=x&num=10&st1rt=0&langs=eng&cdn=canada&hq=&q=&wb-srch-sub=#wb-land

[2015-02-03 18:13] pjackson28 commented on #6471
Will be fixed by #6495. You will be able to set the initial state through the <code>data-wb-toggle</code> attribute using the <code>state</code> property (either <code>on</code> or <code>off</code>).

[2015-02-03 18:17] pjackson28 commented on #6493
@ashzadeh That is what is currently being used for the Canada.ca (and the Canada.ca theme), but I don't think that is a general recommendation for WET as a whole at this point. We don't have anything like that in any of the other themes (although the other themes don't show any search pages so that would be why).

[2015-02-03 18:34] crichard commented on #6462
[code]
Does not work either

[2015-02-03 18:46] pjackson28 commented on #6462
Probably because the plugin intentionally prevents propagation to avoid setting off ancestor tabbed interfaces.

So why are you trying to detect a click event on a tab? It won't be very effective as the tabs are only visible in desktop view (so even if you could get an event handler on, it would be useless in mobile view). If you are interested in when a tab panel changes, then I suggest listening

[2015-02-03 18:53] crichard commented on #6462
I only need this for google analytics track events.  In smallview and xsmallview, I use a different selector, which works by the way.  Just not in desktop view.
[code]

[2015-02-03 18:54] vallieresc commented on #6471
Also the toggle plugin will not work if you have a span element inside the button tag like this:
[code]

[2015-02-03 18:57] crichard commented on #6462
using the following looks like it's going to work.  Thanks.
[code]

[2015-02-03 18:57] #6462 closed

[2015-02-03 18:57] pjackson28 commented on #6462
I suggest using the <code>wb-updated-wb-tabs</code> event instead. It will be much more accurate because tracking the click will mean you can't tell the difference between clicking that causes a tabpanel change and clicking of an active tab. So a user could triple click a tab, resulting in one tabpanel change, but analytics would show three views.

[2015-02-03 19:02] pjackson28 commented on #6462
@crichard That is the best approach as you can reuse the same code for tabbed interface and carousel and it will work across all views. Although I suggest one twist though, you should use:
[code]
This approach can survive DOM changes to ancestor elements where applying the event handler directly to the element may not (depends upon the change).

[2015-02-03 19:07] pjackson28 commented on #6471
That will be fixed by the PR as well.

[2015-02-03 19:08] crichard commented on #6462
Thank you for the suggestion.  But using this code still logs multiple clicks even when always clicking on the same (current active) tab.

[2015-02-03 19:24] pjackson28 commented on #6462
That will be fixed by PR #6496. It will only fire when the tabpanel was not already open.

[2015-02-03 19:26] crichard commented on #6462
Thanks.

[2015-02-03 22:23] pjackson28 commented on #6488
Weird. I don't know how to reproduce that. No matter what I do in Chrome I can't get that result. I tried exactly what you did and everything changes right away. Can you reproduce on any other machine? If so, can you reproduce on a machine on a different network?

[2015-02-03 22:24] #6471 closed

[2015-02-04 12:19] regagnon commented on #6491
Thank you very much, much appreciated.

Cheers

René Gagnon

You can find the documentation
here:http://wet-boew.github.io/wet-boew/docs/ref/tabs/tabs-en.html
—
Reply to this email directly or view it on GitHub (
https://github.com/wet-boew/wet-boew/issues/6491#issuecomment-72523812
).

Ce courriel est destiné exclusivement au destinataire mentionné en titre
et peut contenir de l'information privi

[2015-02-04 14:48] #6491 closed

[2015-02-04 15:09] LaurentGoderre commented on #6488
I believe this may be caused by the markup used. Can you please post the markup here?

[2015-02-04 15:18] LaurentGoderre commented on #6494
I don't believe it can be this easy. I will try to find a solution

[2015-02-04 15:20] LaurentGoderre commented on #6443
Can we close this now?

[2015-02-04 15:23] LaurentGoderre commented on #6447
The markup could be stripped from the title tag by the CMS. It is acceptable to not have the language tag in the title tag if the portion in a different name is a proper name (like in the example)

[2015-02-04 16:35] thomasgohard commented on #4557
@MBlondin what about the approach @Empereol is suggesting in #6367?

[2015-02-04 16:59] MBlondin commented on #4557
@thomasgohard the approach suggestion by @Empereol  looks interesting and promissing but I wonder the view that it would have on a phone.  The reason I propose the Overlay to display a step-by-step is, for example on our Web Application at NSERC/SSHRC, we use a wizard step for our forms to limit loading time to a minimum and currently use the WET 3.0.4 Slide Out Tab as our Table of contents of ste

[2015-02-04 17:39] mohamedbecha commented on #6488
@LaurentGoderre  It is not a page that i created. it is the wet tabs:  http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html
@pjackson28 Will try it at home

Thank you all

[2015-02-04 18:48] Bgolden67 commented on #6447
The only time we've experienced an issue with adding any tag to our h1 with our WMCS (Teamsite) is when we were calling an XML feed for our RSS before we went to news.gc.ca, the xml would "break" if that wasn't stripped before it was called to make the RSS feed or used to auto populate a "What's New" page
I don't believe it was ever resolved so the team here had to not put <em> in the h1 field. th

[2015-02-04 20:12] hamdaneh commented on #6494
Hi,
Me again,
I am trying to add an event listener on error now.. but my function is not triggered. Is the event error.dt the right one to use?

$.fn.dataTable.ext.errMode = 'none';
.on( 'error.dt', function ( e, settings, techNote, message ) {

	        console.log( ' An error has been reported by DataTables: ', message );
	    } )

Took this from this web site documentation : http://datatables.n

[2015-02-04 20:27] LaurentGoderre commented on #6494
You are missing a selector. Try this:

[code]

[2015-02-04 20:42] hamdaneh commented on #6494
thanks! that worked.

[2015-02-05 02:01] hamdaneh commented on #6494
Sorry, it is not working, I thought for some reason that it worked...  I have tried everything, including this:

[code]
But nothing seems to work... Not able to have a custom function for error handling.

[2015-02-05 15:14] DHaslip commented on #6443
Yes.

From: Laurent Goderre [mailto:notifications@github.com]
Sent: February 4, 2015 10:20 AM
To: wet-boew/wet-boew
Cc: Haslip, Deanne
Subject: Re: [wet-boew] Support for Blackberry (#6443)

Can we close this now?

—
Reply to this email directly or view it on GitHub<https://github.com/wet-boew/wet-boew/issues/6443#issuecomment-72873143>.

[2015-02-05 15:17] #6443 closed

[2015-02-05 15:18] #6476 closed

[2015-02-05 15:20] ikug opened #6498 "iFrame with WET"
I am just wondering if iFrame is against with WET?

In our app, we use WET and iFrame, but the layout seems weird once rendered.

[2015-02-05 17:55] Bgolden67 opened #6499 "for Demo pages: Institutional page"
Just wondering how one aspect in the intitutional page will be handled in the template page being made available.
In the guidelines being shown, there is a drop down menu on the social media icons to link to multiple accounts,
see page 89 & 93
http://www.gcpedia.gc.ca/gcwiki/images/d/d8/Canada_Site_Content_IA_Specification_-_V1_-_approved-EN.pdf

how will this be achieved?

[2015-02-05 18:01] pjackson28 commented on #6498
There is nothing in WET that prevents the use of iframes, WET uses them in a few cases, although they should still be used sparingly as they can create headaches (e.g., inability for the current page to control any aspect of the iframe, including CSS, without an established API). Where possible you should use AJAX and similar approaches instead as they give you more control over the end result.

B

[2015-02-05 18:02] pjackson28 commented on #6499
Could you please file this in wet-boew/GCWeb? This question seems to be specific to the Canada.ca theme.

[2015-02-05 18:07] EricLavoie88 opened #6500 "Footnotes Overlap"
When using the "Print Preview" options in IE and FF, the links in brackets following the footnotes at the bottom of the page overlap the text that follows.

[2015-02-05 18:08] pjackson28 commented on #6500
@EricDunsworth Please look into this.

[2015-02-05 18:13] EricLavoie88 commented on #6500
![footnoteoverlap](https://cloud.githubusercontent.com/assets/7073468/6066130/b9b91ec0-ad38-11e4-9fd7-df684cbc2191.JPG)

[2015-02-05 18:16] Bgolden67 commented on #6499
Thanks Paul and yes Canada.ca theme specific.

[2015-02-05 18:21] ikug commented on #6498
OK, thanks.

[2015-02-05 18:21] #6498 closed

[2015-02-05 20:02] rlambert27 opened #6501 "Form error using * symbol"
Hello,

I noticed today that the Form validation example (http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html) is using the * symbol to identify required fields. The field also has the "required" text.

I believe the * symbol is being inserted using :before on those labels that have the required class.

So this invokes two questions:

1) Why are we using two methods to identify the

[2015-02-05 20:12] LaurentGoderre commented on #6501
I don't think it fails since the required status is also conveyed in text

[2015-02-05 20:14] thomasgohard commented on #6501
1) I don't see a problem with communicating the same information using two methods in this case. The asterisk as an indicator of a required field is fairly well established. The plain text "required" provides a backup for people who don't know what the asterisk stands for.

2) I think the current implementation fails to meet "If a symbol is used, the user is advised of its meaning before the first

[2015-02-05 20:22] EricDunsworth commented on #6500
The reason for what's happening in the screenshot is that the page in question is using footnote links that contain folder/file names. Normally the footnote links are meant to point towards same-page IDs (e.g. ``<a href="#id">``).

Anyways, I'll look into making some CSS adjustments to prevent the screenshot's effect from happening :).

[2015-02-05 20:24] CalvinRodo opened #6502 "Secondary Menu"
Is there any documentation on how to implement the secondary menu other then viewing the source in the theme examples

http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/content-secmenu-en.html

[2015-02-05 20:24] LaurentGoderre commented on #6501
Even then, the asterisk is added via CSS so it's not read to screen reader and the relationship is clear visually

[2015-02-05 20:25] LaurentGoderre commented on #6502
Not that I am aware. The code is fairly easy to implement though

[2015-02-05 20:25] rlambert27 commented on #6501
Well just to play devil's advocate, the "each indicator of required status that is not provided in text" means the * symbol that is used. The "required" text can't be used to indicate the meaning of the * symbol because not only is it in the same form control it's also after the symbol and not before.

I have no issues using both items to indicate required status although I think the * symbol has

[2015-02-05 20:28] thomasgohard commented on #4557
We want a common solution for the wizard pattern. And, yes, it would have to work on mobile, which I think @Empereol's approach can support easily enough.

The problem with an overlay-based solution is that you need a trigger. And, if the contents of the overlay need to be available at any point in the process, that means that that trigger must permanently claim some part of the screen. That's a b

[2015-02-05 20:28] LaurentGoderre commented on #6501
Btw, you are quoting a technique, not a common failure so not meeting this technique does not mean that we don't meet the success criterion

[2015-02-05 20:32] CalvinRodo commented on #6502
It is but it would make the documentation a lot more usable if we didn't have to go looking at the source for pages.

Is this code correct

[code]

[2015-02-05 20:45] thomasgohard commented on #6501
According to the article [CSS generated content and screen readers](http://www.456bereastreet.com/archive/201205/css_generated_content_and_screen_readers/), some screen readers do read CSS generated content.

I just tested using the test page linked to from the article with NVDA and Firefox: The CSS generated content is being read by NVDA.

[2015-02-05 20:49] thomasgohard commented on #6501
Testing on the form validation page it doesn't read the asterisk, though.

[2015-02-05 21:06] CalvinRodo commented on #6501
Could the * cause an issue with someone with a learning disability, a11y isn't just for Visually disabled people.

[2015-02-05 21:06] CalvinRodo commented on #6501
Also it seems a bit redundant to have both

[2015-02-05 21:20] thomasgohard commented on #6501
The asterisk should improve scannability for sighted users. I'm not sure what the effect would be for people with learning disabilities.

We would need to do some usability testing with people with different types of disabilities to identify how they understand and interact with those elements.

[2015-02-05 21:25] rlambert27 commented on #6502
Hi Calvin,

The "class="list-group-item"" goes on the A element and not the LI element.

Roch

[2015-02-05 21:30] CalvinRodo commented on #6502
Is there a bug in the implementation here then since according to the documenation on (list groups) [http://wet-boew.github.io/wet-boew-styleguide/v4/design/listgroup-en.html] the list-group-item goes on the li

[2015-02-05 21:39] thomasgohard commented on #6502
The `list-group-item` class can go on any element: http://wet-boew.github.io/wet-boew-styleguide/v4/design/listgroup-en.html#links.

[2015-02-06 13:16] CalvinRodo commented on #6502
@thomasgohard But can it go on any element in this situation or does it have to go on an anchor tag inside of a list item side for the side menu to work? Should I even have list items in the side menu.

[2015-02-06 13:25] pjackson28 commented on #6502
If you put it on the li instead then the clickable area for the link will only be the size of the text (so not full width and height). So not a good idea to put it on the li instead (unless you use extra markup or custom CSS which defeats the purpose).

[2015-02-06 13:30] CalvinRodo commented on #6502
Sounds good, so this is

[code]

So next question what does the class `wb-navcur` do?

[2015-02-06 13:59] EricLavoie88 commented on #6500
In addition to the footnotes issues, we've also found a few other "issues" related to the links that appear in brackets beside the link text in the print version.

1. We use relative links for all links to the TBS website (/folder/file.asp) and this is how they appear in the brackets in the print version. Is there a way to add the domain name in order to get the full URL? (http://www.tbs-sct.gc.ca

[2015-02-06 14:30] thomasgohard commented on #6500
@EricLavoie88 can you open a separate issue for the table of contents links. @zachfalsetto is developing a plugin for the table of contents, we can address that issue there.

[2015-02-06 14:32] EricDunsworth commented on #6500
Issue #4229 is also out there (seems to be dedicated to print CSS/URL issues).

[2015-02-06 14:35] EricLavoie88 opened #6504 "Print version links in brackets in the Table of Contents"
In a web browser's print version, the links in brackets (which appears after every link text on a web page) appears after every link in the table of contents, which isn't very useful for the user in a print version. Not sure if it would be possible to disable this function for the TOC or internal links to anchors as they are not relevant.
![toc-print-version](https://cloud.githubusercontent.com/as

[2015-02-06 14:38] pjackson28 commented on #6502
It's the class for visually identifying the link for the current page. Normally it is applied by a plugin but it can be hardcoded if it is always the same item (like in the secondary menu examples).

[2015-02-06 14:44] pjackson28 commented on #6500
@EricLavoie88 For the first question, there is no way to apply the domain name. CSS only has access to what is in the markup so has no way of determining what is the domain name of the page. With this print example it is just using the content of the href attribute so if the domain name is not in the href attribute then it can't be in the brackets either.

[2015-02-06 14:48] CalvinRodo commented on #6502
@pjackson28 If that's the case why is it being applied to the H3 tag in the example pages?

[2015-02-06 14:51] pjackson28 commented on #6502
It's being added to the h3 to show that it represents the current page. All of the links below it are for sub-pages. In that example it is just providing the name of the current section and then the top links for that section.

[2015-02-06 14:58] CalvinRodo commented on #6502
Ah cool so then something like this would be more appropriate

[code]

I also noticed that you have two ULs inside of each other to get the correct styling so I think this should be the proper markup and I should have a good understanding for when I or whomever gets around to writing the documentation for this.

[2015-02-06 15:01] mohamedbecha commented on #6488
IE9 (real not emulation): Tabs content is not showing

[2015-02-06 15:14] john0931 opened #6505 "When did WET first come out?"

[2015-02-06 15:22] pjackson28 commented on #6505
It first came out in August 2010. You can find all the major dates in the project history in the [roadmap](http://wet-boew.github.io/v4.0-ci/docs/versions/rdmp-en.html).

[2015-02-06 15:28] pjackson28 commented on #6488
It does for me. See the following video of the test I just ran with IE9: https://saucelabs.com/tests/8c6000ef84494f948cd3b9165b5de616

Perhaps you are having network issues? Could your network be blocking important files? You might be able to tell through the developer tools (F12) and looking at the network traffic (perhaps you have some 404s or other).

[2015-02-06 15:35] mohamedbecha commented on #6488
yes , but if you copy paste the tabs code and try to create a simple tabs testing examples, they will not work

[2015-02-06 15:41] pjackson28 commented on #6488
Perhaps there is an issue with the markup in the examples you created? What happens if you use the working example markup with no changes? Do the live working examples work for you in IE9?

[2015-02-06 15:44] mohamedbecha commented on #6488
i just copy paste the code for the tabs. making a very simple 2 tabs for testing.
The test i made don't work in IE9. But, the live example works fine

[2015-02-06 15:46] pjackson28 commented on #6488
What mode is your browser running in for your local test? Is it in IE9 mode or compatibility mode? Do you get any errors in the console? What changes (if any) did you make after copying/pasting? Could you post the tabbed interface markup of the test that doesn't work?

[2015-02-06 15:50] mohamedbecha commented on #6488
i have IE9 installed in a old work station for testing. no errors.. here is the code :

<div class="wb-tabs">
	<div class="tabpanels">
		<details id="details-panel1">
			<summary>Example 1</summary>
			<p>Example 1</p>
		</details>
		<details id="details-panel2" open="open">
			<summary>Example 2</summary>
			<p>Example 2</p>
		</details>
	</div>
</div>

[2015-02-06 15:52] mohamedbecha commented on #6488
i have IE9 installed in a old work station for testing. no errors.. here is the code :

'  <div class="wb-tabs">
' 	<div class="tabpanels">
' 		<details id="details-panel1">
' 			<summary>Example 1</summary>
'			<p>Example 1</p>
'		</details>
'		<details id="details-panel2" open="open">
'			<summary>Example 2</summary>
'			<p>Example 2</p>
'		</details>
'	</div>
' </div>

[2015-02-06 15:53] mohamedbecha commented on #6488
![untitled-3](https://cloud.githubusercontent.com/assets/6919911/6082305/705bc744-adee-11e4-9478-60b0905829a7.png)

[2015-02-06 16:05] biljanap commented on #6504
This seems to be default Bootstrap behavior. We have custom css file and this is the code we used on our project to override it:
<code>@media print { a[href]:after { content:"" !important; } }</code>

[2015-02-06 16:26] gocGrabinski opened #6506 "Data Ajax Issue in IE with CORS and https"
Attempting to use Data Ajax (fetch, replace) with CORS from one https domain to another https domain (our CDN for common elements).
	The Data Ajax calls work in FireFox(v 33) but NOT in Internet Explorer (11 in Edge and 8 mode).  Have not tried with any other browsers.
	Solution could be to use XDomainRequest with IE scripts.
	Copied an example script using the XDomainRequest object in IE. It was

[2015-02-06 16:32] biljanap commented on #6486
I believe <code>datalist</code> element is not supported in some browsers. Unfortunately Safary is one of them.
<a href="http://www.w3schools.com/tags/tag_datalist.asp">W3schools: HTML datalist element</a>
<a href="http://caniuse.com/#search=datalist">Can I Use: datalist</a>

[2015-02-06 17:07] pjackson28 commented on #6488
I don't see anything in there that would cause an issue. What mode is your IE9 running in? Is it compatibility mode? Are there any files that are not being downloaded?

[2015-02-06 17:10] pjackson28 commented on #6486
@biljanap We provide a polyfill to add support for browsers that lack native datalist support.

[2015-02-06 17:51] pjackson28 commented on #6502
It at least renders correctly in the mobile panel. @thomasgohard Could you please provide your feedback on what is proposed?

[2015-02-06 20:03] mohamedbecha commented on #6488
IE is running on normal mode...

[2015-02-06 20:29] pjackson28 commented on #6488
Strange that it works fine on your machine for the live working examples but not locally. Have you checked to see if there is a 404 for any of the supporting files (can do with the developer tools)? There needs to be something that is different, either in the browser or with the page, to explain why it behaves differently with those two scenarios.

Can you reproduce your issue on any other machine

[2015-02-06 20:37] biljanap commented on #6486
@pjackson28 Is this being used for Search Canada.ca?

[2015-02-06 20:47] vallieresc opened #6507 "Overlay will not open from Mega Menu"
If I have the following in the mega menu inside an li item it does not work. The anchor and modal markup is good since it works when in the content area. I don't have any js errors. Running on 4.0.10. I also tested on your fresh theme and it didn't work.
[code]

[2015-02-06 21:05] pjackson28 commented on #6486
@biljanap Yes it is. Here is a video of it working on Safari 7: https://saucelabs.com/tests/c1fea71c96984349bbeb93d2544b2dc9

Note that the incredible lagginess is from the really slow cloud-based testing. It eventually works, but the lag made it much more difficult to select an item in the datalist (wouldn't be an issue when dealing directly with Safari).

[2015-02-06 21:13] biljanap commented on #6486
@pjackson28 I was checking search functionality on Canada site using Safary on my iPhone. It's not working. Is it supposed to work for mobiles too?

[2015-02-06 21:18] pjackson28 commented on #6507
That's because the Lightbox link isn't initialized because it is AJAXed in. You would need to fire a wb-init.wb-lbx event on that link after the menu has been AJAXed in (so would use wb-ready.wb or wb-ready.wb-menu).

Why are you opening a popup directly from a sub-menu? The area is contained within a nav element which according to HTML5 "represents a section of a page that links to other pages or

[2015-02-06 21:32] pjackson28 commented on #6486
@biljanap It looks like it is an issue with loading initially in mobile view rather than using Safari. It looks like the dynamic datalist support used by Canada.ca is not loading in that case. Oddly enough it loads fine if you start with desktop view and then switch to mobile view by shrinking the browser viewport.

@LaurentGoderre Please look into this. The menu plugin takes care of initializing

[2015-02-09 13:30] vallieresc commented on #6507
It is not ajaxed in. Our logout link is in the mega menu. Here is the rendered link.

[code]

[2015-02-09 15:14] pjackson28 commented on #6507
We recommend against putting your logout link in the mega menu, as that menu is intended for navigation links (doesn't make sense there as the menu uses the HTML5 nav element and has the hidden heading "Topics menu"). Lougout link there also fared poorly in usability testing in comparison to other locations (in the content area fared much better).

Note also that if you will be migrating to the Ca

[2015-02-09 15:50] upsonp commented on #6487
Any word or update on this request?

I've successfully managed to get the table to update to features that exist in the AOI box using a filter from the tables API (http://www.datatables.net/reference/api/). However, I lose the "select" column and the points on the map aren't updated.

[2015-02-09 17:33] CalvinRodo commented on #6507
#6232 Is the issue with guidance for Logout button.

[2015-02-09 20:13] gocGrabinski opened #6508 "Conditional Comments Issue with IE 11"
Was working on another issue when I noticed that IE11 was loading scripts for IE8 AND IE9 and above.
Not sure if this is intentional or not. The page on http://www.canada.ca/en/index.html still renders OK.

However there is a recurring un handled error:
SCRIPT5007: Unable to get property 'indexOf' of undefined or null reference
File: datalist.min.js, Line: 6, Column: 4354

Our IE11 Edge/Enterprise

[2015-02-09 20:53] CalvinRodo commented on #6508
I'm not seeing these issues at all with ie11

In ie11 edge mode I'm seeing the following coming down the pipe.
![networkie11edge](https://cloud.githubusercontent.com/assets/87738/6115270/7114ff58-b072-11e4-8065-86a6ecfbb4d9.png)

In IE8 I get the expected scripts as well:
![networkie8mode](https://cloud.githubusercontent.com/assets/87738/6115280/81cd4b8e-b072-11e4-947b-b8a8c7db1d4f.png)

Although

[2015-02-09 21:17] gocGrabinski commented on #6508
Thanks for the quick response Calvin.
When I try IE11 Edge mode (desktop) all works as you describe. When I try IE11 ie8 mode (desktop) I still get both sets of scripts loading.  Possible it is something else in my IE configuration/installation causing that however.
I will bring this to the attention of our IE team.
Thanks again.

[2015-02-09 21:17] #6508 closed

[2015-02-09 21:19] CalvinRodo commented on #6508
What department are you in could it be that they have a gpo that forces enterprise mode to be on?

[2015-02-09 21:56] pjackson28 commented on #6508
You should also take a look at the server configuration documentation: http://wet-boew.github.io/wet-boew/docs/server-en.html. Of particular interest is the IE compatibility mode section which provides help for configuring the server to trigger edge mode in browsers.

[2015-02-10 14:39] LaurentGoderre commented on #6506
Data Ajax works with CORS in IE11 we tested this at length. However, since in your other issue you were in compatibility mode, it is possible that that is interfering with this. It's also worthy to note that IE 8 and 9 do not support CORS at all and require a fallback

[2015-02-10 14:47] gocGrabinski commented on #6508
I am at ESDC.
I have an early version of our IE11 release for testing.  Roll out will be next fiscal.  We have a IE11 product management team that manages the URLs that require Enterprise mode.
I am starting to wonder if there is some other issue with my  IE11 install however.

Stan Grabinski
Prgrammeur analyste | Programmer Analyst
Téléphone | Telephone 819-654-4035

From: Calvin Rodo [mailto:not

[2015-02-10 14:47] knicklabs opened #6509 "Main Menu Dropdown Delay and Dependency on JavaScript"
There is a needless delay on the dropdown of the main menu component which impedes usability. The dropdown feature is implemented in JavaScript where a pure CSS solution should suffice. The feature should work in browsers with JavaScript disabled.

[2015-02-10 14:56] LaurentGoderre commented on #6509
The delay is actually added for usability reasons. Here is an extract from an article by Jakob Neilsen

<blockquote>Don't make response time too fast, though: the mouse should remain stationary for 0.5 seconds before you display anything that's hover-dependent, such as a mega drop-down or a tooltip. Violating this guideline will make the screen flicker insufferably when users move the mouse. Only

[2015-02-10 15:09] knicklabs commented on #6509
Interesting. I was not aware of Jakob Neilsen's advice on this. The 500ms delay still seems excessive to me though. There is a 300ms delay in mobile safari used to signify user intent. This shorter delays feels much more responsive. I am not aware of any research on this particular topic. Do you know of any additional sources of information on this or was this decision based solely on Neilsen's ad

[2015-02-10 15:13] LaurentGoderre commented on #6509
@knicklabs our approach is progressive enhancement because if the menu doesn't work in javascript, the top level links go to a landing page that gives access to the same information.

As for additional sources, @thomasgohard probably knows better

[2015-02-10 15:15] Brundlefly201 commented on #6509
Jakob Neilson also recommends never using a dropdown menu at all.

but this article from 2009 he's referring to "Mega-Menus" ( mega menus were pretty new in 2009 ) not just simple dropdown navigation interfaces.

[2015-02-10 15:16] LaurentGoderre commented on #6509
Maybe so but it doesn't mean the the advice of waiting for the mouse to stop is a bad one.

[2015-02-10 15:27] Brundlefly201 commented on #6509
Maybe not on the first mouseover...

but continuing the 500ms delay for entire menu after a user has already clearly decided to interface with it might be.

[2015-02-10 16:13] pjackson28 commented on #6509
The delay actually provides a significant benefit even after the first mouseover, particularly with users with mobile impairments. If a person has a shaky hand and the pointer briefly edges onto the next top-level menu item then you will get a flickering mess of menus (switching sub-menus back and forth rapidly). Same if you move the pointer diagonally right from the top-level menu item to a menu

[2015-02-10 16:14] CalvinRodo commented on #6508
No i"m fairly certain it has to do with Enterprise mode, I don't think forcing edge in the headers will fix this specific problem since I believe enterprise mode ignores it, although I'm not sure if you have to turn that on per site or what.

http://blogs.msdn.com/b/ie/archive/2014/11/11/announcing-improvements-to-the-enterprise-mode-site-list.aspx

As far as I know with enterprise mode you have t

[2015-02-10 17:04] gocGrabinski commented on #6506
Hi Laurent,
Did you test with an https set up ? Just wondering.
Our testing with http worked fine in IE11. It is the https set up that is not working.
When I try the https urls  with IE11 in Edge mode it appears as if the data-ajax calls in IE11 just do not occur.

Our http set up in IE11 gives me this:
Confirming Edge mode …
[cid:image001.png@01D04529.A0F01A50]
Network shows data-ajax calls:
[cid

[2015-02-10 17:14] LaurentGoderre commented on #6506
The images did not upload, can use the GitHub site to upload the images?

[2015-02-10 17:26] sylus commented on #6309
Hey @LaurentGoderre any idea when we will ship with a new version with this fixed? :)

[2015-02-10 17:39] CalvinRodo commented on #6508
@gocGrabinski I also ran into problems with WET 3 in Enterprise mode set to ie8 mode, it doesn't render well at all.

But as I said it should not be need to run sites that have implemented WET 3 and WET 4 as they should work just fine with IE11.

![wet3 ie11 enterprise mode](https://cloud.githubusercontent.com/assets/87738/6132636/d81a5112-b121-11e4-8d79-ef90241079c9.png)

[2015-02-10 17:59] LaurentGoderre commented on #6309
Is this a priority for you guys?

[2015-02-10 18:44] CalvinRodo opened #6510 "Secondary Menu breaks JS with LI's without anchor tags in them"
The secondary menu causes a javascript error that breaks the rest of the page loading.

More specifically it causes the following error to get thrown *TypeError: i is undefined wet-boew.min.js:10* this is in Firefox 34, this causes the wb-ready.wb event to not get fired.

The following should be enough to replicate the issue.
[code]

We use the secondary menu in the ROE Web assistant to inform the

[2015-02-10 18:48] gocGrabinski commented on #6506
Here are the images ...
Our http set up in IE11 gives me this:
![http_example_console](https://cloud.githubusercontent.com/assets/5992730/6133855/f3d4507a-b12a-11e4-8cc2-6c32fec2f252.jpg)

Network shows data-ajax calls:
![http_example_network](https://cloud.githubusercontent.com/assets/5992730/6133693/c6e1f15e-b129-11e4-906c-14e081fd9a9c.jpg)
Our https set up gives me this
![https_example_console]

[2015-02-10 18:50] LaurentGoderre commented on #6510
@CalvinRodo the left menu should not be used for this purpose because it's only meant for navigation. This kind of stuff need to be in the content area.

[2015-02-10 18:51] ashzadeh opened #6511 "WET3 to WET4 classes documentation?"
Hello,

We're looking into creating a script to covert WET3 classes to WET4 classes where it's applicable (i.e. span-x to col-md-x).

Is there documentation for the style changes? I'm hoping that I don't have to go through each style guide and look for the differences.

Thanks for the help!
Ash

[2015-02-10 18:52] CalvinRodo commented on #6510
It is being used for navigating it's just restricting navigation to certain pages until you progress through the flow of the assistant.

[2015-02-10 19:03] CalvinRodo commented on #6510
@LaurentGoderre
According to the [w3C specification for the nav element ](>http://www.w3.org/TR/html5/sections.html#the-nav-element)

Which implies to me that what I'm doing here is kosher. Although maybe there is a better way to implement it, like disabled links

[2015-02-10 19:19] LaurentGoderre commented on #6506
@gocGrabinski to be clear...are you requesting something via ajax via the exact same subdomain but using https instead of http or are you requesting something from another subdomain or domain?

[2015-02-10 19:21] LaurentGoderre commented on #6511
Duplicate of #5729

[2015-02-10 19:22] #6511 closed

[2015-02-10 19:26] LaurentGoderre commented on #6510
I was not really referring of the markup but rather the concept of placing content that represent progress in a navigation section. Navigation on a page is a secondary element (this is why it's collapsed in mobile view) while the progress of the current task is a primary element, it does not belong in a navigation area.

[2015-02-10 19:27] #6148 closed

[2015-02-10 19:28] CalvinRodo commented on #6510
But as i said it's not solely representing progress, it's also used as the main source of navigation in our assistant.

[2015-02-10 19:30] pjackson28 commented on #6510
You are using nav for more than its intended purpose. If you want to show progression then you should be doing that in the content area where it is always available. You should be using it for a hybrid navigation/progression area as it is just for secondary navigation.

I also don't see the value of having unlinked menu items in the side menu. How is that supposed to be rendered in the mobile pane

[2015-02-10 19:31] LaurentGoderre commented on #6510
It's not valid though to have non navigational elements in a navigation area

[2015-02-10 19:40] gocGrabinski commented on #6506
There are two https domains.

1.       The ‘app’ https domain with our content.

2.       The ‘cdn’ https domain that has all of our WET4 distribution, plus the ‘common’ html components we are trying to ajax in with the data-ajax.
For our tests I have taken the example content-en.html and content-fr.html pages that came with the v4_0_10 distribution and altered the css, js, images to use our  http

[2015-02-10 19:44] LaurentGoderre commented on #6506
Are you sure that the right CORS header are returned (don't know if it's possible that Firefox doesn't treat a request as CORS bu IE does...)

[2015-02-10 19:54] CalvinRodo commented on #6510
@pjackson28

I'm using it for navigational purposes, we just don't let them navigate farther then they are allowed to. The value to have unlinked menu items is to let the user know how what further steps are left in the process.
I guess I could just take this whole thing out of a nav element, but in my view this is a major block of navigational elements and thus is a valid usage of the nav element

[2015-02-10 20:03] LaurentGoderre commented on #6510
Again, I was not talking about the spec but from a logical perspective. Headings help the grouping and the consumption of the navigation, text that is not a link and not a heading don't serve navigation purpose and it doesn't fit the mental model.

What you could do instead is having a list of future steps in the content area and only the navigation for the past steps in the left navigation

[2015-02-10 20:08] gocGrabinski commented on #6506
![https_example_firefox_ajaxheaders](https://cloud.githubusercontent.com/assets/5992730/6135312/9a6dad78-b135-11e4-8bfe-2f9fc95f8462.jpg)
This is what Fire Fox shows for the response headers. Not sure what else IE would need.

[2015-02-10 20:09] CalvinRodo commented on #6510
So basically you guys are saying this bug isn't being fixed if not then I say feel free to close it.

[2015-02-10 20:21] LaurentGoderre commented on #6506
I think that your CORS headers are backwards. I think they need to be on the other server

[2015-02-10 20:31] LaurentGoderre commented on #6506
I tried reproducing locally and everything is working fine in IE11 for me

[2015-02-10 20:35] shawnthompson commented on #6499
This is being done for release 1.5 of GCWeb and has just been merged in. We are using a overlay instead of a drop down menu.

[2015-02-10 20:36] CalvinRodo commented on #6510
So i just did a quick test and this is not related exclusively to the nav menu.

[code]
This code will also cause javascript to break, so it seems to be related to the wb-sec class.

As I said if this bug is not going to be fixed then you might as well close this issue.

[2015-02-10 20:39] LaurentGoderre commented on #6510
I think that this specific error has to do with putting the h3 in the list item. The h3 should not be in a list

[2015-02-10 20:40] LaurentGoderre commented on #6510
Ooops nevermind that is how it's implemented

[2015-02-10 20:42] LaurentGoderre commented on #6510
You shouldn't change the nav element to a div

[2015-02-10 20:49] danpoleary commented on #4466
I to am having the same issue. The init of any flot plugin added using the above example is never called.

How do we add flot plugins?

[2015-02-10 20:52] CalvinRodo commented on #6510
I did it as a test, to see what was causing it.

[2015-02-10 20:53] LaurentGoderre commented on #6510
It's most likely in the logic to generate the mobile menu

[2015-02-10 20:57] CalvinRodo commented on #6510
Should that code run when it's not in mobile mode.

[2015-02-10 21:04] LaurentGoderre commented on #6510
I will fix the failure but these non links will not be included in the mobile menu

[2015-02-10 21:15] CalvinRodo commented on #6510
That's fine, as I said we have no mobile users, so no one ever sees mobile mode anyways.

[2015-02-10 21:18] pjackson28 commented on #6510
Yes it needs to run when not in mobile mode as viewpoint width changes can happen on desktop and mobile devices (e.g., changing from landscape to portrait orientation or shrinking the browser window).

Also low mobile numbers is not sufficient justification for not trying to support mobile (since can change in the future and current poor mobile support could be a contributing factor). Besides, opt

[2015-02-10 21:25] CalvinRodo commented on #6510
I'm pretty sure we aren't assessing for the mobile standard here, once we do I'll worry about it, but until that time I'm not going to spend my time worrying about implementing features that no one is using.

Once they start accessing our site through mobile devices then it will be worth optimizing for it. Until that time the most I will do to accommodate Mobile users is implement WET.

[2015-02-10 22:53] LaurentGoderre commented on #6507
I don't think it can be done , if somehow we manage to deal with the conflict on dekstop view, it wouldn't work on mobile view

[2015-02-11 00:22] sylus commented on #6309
Not at the moment as only occurs when unminified version is used. Just curious about the upgraded bootstrap version. ^_^

[2015-02-11 14:07] vallieresc commented on #6507
Done in content area

[2015-02-11 14:07] #6507 closed

[2015-02-11 14:27] Bgolden67 commented on #6499
Is there an eta on the release date for this?

[2015-02-11 14:46] #6510 closed

[2015-02-11 14:54] #6449 closed

[2015-02-11 15:06] bchagnon commented on #6148
And I confirm.

[2015-02-11 16:06] gocGrabinski commented on #6506
Laurent - tested a few more times using xmlHttpRequest object directly. Once again it all works great in Fire Fox but in IE11 (Edge mode) get an 'Access Denied' error after the xmlHttpRequest.open() is called.  Which lead me to this https://msdn.microsoft.com/en-us/library/ie/ms537505%28v=vs.85%29.aspx#xdomain. Looks like I will have to talk to our IE team about the Security Zone set up. Hopefully

[2015-02-11 16:46] LaurentGoderre commented on #6506
The fallback for CORS needs to be a server side solution, mixed with a small amount of client side script but WET has all the hooks to allow that and it is being used in some production environments. Would you want more details on how to achieve this?

[2015-02-11 16:54] gocGrabinski commented on #6506
Yes please,
As our department moves to IE11  from IE8 and our sites/web apps switch to WET4 I am sure the fallback for CORS might need to be implemented as we make the transition.

Stan Grabinski
Prgrammeur analyste | Programmer Analyst
Téléphone | Telephone 819-654-4035

From: Laurent Goderre [mailto:notifications@github.com]
Sent: 2015-02-11 11:46 AM
To: wet-boew/wet-boew
Cc: Grabinski, Stan [NC

[2015-02-11 17:39] LaurentGoderre commented on #6506
Basically, the fallback is to use the same concept as JSONP but with HTML (HTMLP). WET uses Modernizr to determine if CORS is supported if not, it checks if a `corsFallback` method is present and invokes it before sending the ajax request. In this method you can apply the changes to the requested needed for the HTMLP.

https://github.com/wet-boew/GCWeb/blob/master/src/theme.js#L74-L79

For the ser

[2015-02-11 17:48] LaurentGoderre commented on #6490
I added them.

[2015-02-11 17:48] LaurentGoderre commented on #6490
I added them.

[2015-02-11 17:48] #6490 closed

[2015-02-11 17:52] LaurentGoderre commented on #6231
Is this still an issue?

[2015-02-11 18:19] #6231 closed

[2015-02-12 14:35] danpoleary commented on #4466
I have dug deeper into this issue, and you can repeat it on the sample charts/charts-en.html sample page.

Take the above code, and add it to the page, but instead of stacked, use flot.navigate and flot.navigateControl.

Apply the following to the bar table example on the charts-en.html page:
data-flot='{ "zoom": { "interactive": true }, "pan": {"interactive": true},
            "navigationControl

[2015-02-12 15:29] gocGrabinski commented on #6506
Have confirmed that it was an IE Zone related problem. Our application development domain falls under a different IE Zone than our development CDN domain on our network. Once in the same IE Zone data-ajax CORS works correctly in IE11.

[2015-02-12 15:29] #6506 closed

[2015-02-12 16:04] shawnthompson commented on #6499
It's available in the latest [development release](http://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html#v40dev) or can be seen on the [Theme landing page](http://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html#v40dev) on the Facebook and Youtube icons

[2015-02-12 16:29] LaurentGoderre commented on #5671
#6514 would address this, now running grunt watch rebuild only the needed section when files are changed

[2015-02-12 16:55] thomasgohard commented on #6502
Mmm… The GC Web Usability theme isn't implementing the secondary menu as detailed in https://github.com/wet-boew/GCWeb/issues/776#issuecomment-65173962.

@DK-TBS is the design you detailed in https://github.com/wet-boew/GCWeb/issues/776#issuecomment-65173962 still up to date?

[2015-02-12 17:25] DK-TBS commented on #6502
Yep!  Those screenshots and description are still accurate, the spec describes the same approach.

[2015-02-12 18:12] LaurentGoderre commented on #6502
@thomasgohard how does it differ?

[2015-02-12 18:13] Pacoup commented on #5671
Right, sounds like a nice solution. I'm not going to implement grunt-newer because I totally forgot about this and now I don't want to try implementing it anymore, haha, so, closing this. Thanks.

[2015-02-12 18:13] #5671 closed

[2015-02-12 18:49] danpoleary opened #6516 "flot plugin loading issues"
I also left comments in https://github.com/wet-boew/wet-boew/issues/4466.

when using the following code:
[code]

The plugins are only loaded if 2 or more table charts exist on the page. if only one, they are not loaded.

I have dug deeper into this issue, and you can repeat it on the sample charts/charts-en.html sample page.

Take the above code, and add it to the page, but instead of stacked, us

[2015-02-12 18:59] LaurentGoderre commented on #6516
That code doesn't seem very robust as far as async go, Modernizr load is not synchronous so parsing occurs before the plugin is loaded.

[2015-02-12 22:00] LaurentGoderre commented on #6129
Our version of bootstrap has been updated, can you verify that this is fixed now?

[2015-02-12 22:21] cvrebert commented on #6216
Note that the latest bootstrap-sass version is currently v3.3.3.

[2015-02-12 22:28] cvrebert opened #6517 "grunt-bootlint version is outdated"
`package.json` currently specifies `^0.2.1`
Latest version is `0.7.0`

[2015-02-12 22:29] cvrebert opened #6518 "grunt-autoprefixer version is outdated"
`package.json` currently specifies `^1.0.1`
Latest version is `2.2.0`

[2015-02-12 22:49] cvrebert commented on #6245
As alluded to by http://getbootstrap.com/css/#forms-example , `.form-control` is only meant for use on `<textarea>`, `<select>`, and textual `<input>`s.
`<input type="file">` doesn't fall under any of those categories.

[2015-02-12 22:51] cvrebert commented on #6215
Should this be closed since #6363 has been merged?

[2015-02-12 22:54] cvrebert commented on #6082
Not in [Safari](https://bugs.webkit.org/show_bug.cgi?id=17205) or [Chrome](https://code.google.com/p/chromium/issues/detail?id=24826).

[2015-02-13 13:19] CalvinRodo commented on #6245
That should be added to the WET documentation.

[2015-02-13 14:11] spacejang opened #6519 "Form Validation and Tab interface: How to add a custom validation method?"
Hi there,

I have a form inside Tabbed interface.
1. custom validation method works if the form is without Tabbed interface. however the following code does not work.
[code]
[code]

it would be greatly appreciated if you could help.Thanks

[2015-02-13 14:25] spacejang commented on #6519
<div class="wb-tabs">
            <div class="tabpanels">
                <details id="details-panel1">
                    <summary>Test Search</summary>
                    <div class="wb-frmvld">
                        <form name="" action="searchResult-en.html" method="get" class="form-horizontal" id="Reports">
                            <div class="panel panel-default">

[2015-02-13 18:21] LaurentGoderre commented on #6216
Thanks! it takes us a while to get up to date

[2015-02-13 18:21] #6216 closed

[2015-02-13 18:22] LaurentGoderre commented on #6215
Oh thanks for catching this!

[2015-02-13 18:22] #6215 closed

[2015-02-13 19:35] duprasf opened #6522 "Missing bootstrap icon"
I have been working with WET 4 and the bootstrap help page since I haven't found documentation of basic WET classes (what is from bootstrap). I was working with glyphicon and it seems that WET is missing a good number of them, I'm guessing they are newly added to bootstrap since all icons I found missing are after the glyphicon-tree-deciduous in the bootstrap list (http://getbootstrap.com/componen

[2015-02-13 19:40] LaurentGoderre commented on #6519
@spacejang you can wrap block of code with 3 of the ` character followed with the language to create codes of block.

[2015-02-13 19:43] LaurentGoderre commented on #6519
@spacejang it is also recommended to use bubbling for event handler. You should be using:

[code]

[2015-02-13 19:45] LaurentGoderre commented on #6522
@cvrebert are the glyphicons mentioned new? If so from which version?

[2015-02-13 19:51] spacejang commented on #6519
The following code does not work for me.
wb.doc.on("wb-ready.wb-frmvld", ".wb-frmvld", function (event) {
    $.validator.addMethod("beforeDate", function (value, element, param) {
        return this.optional(element) || (($(param).val() === '') ? false : (value >= $(param).val()));
    }, "Please enter a EndDate greater than or equal to StartDate");

 ..........more code ...
    });

[2015-02-13 19:55] cvrebert commented on #6522
More Glyphicons were added recently. It's in the Release Notes / Changelogs.

[2015-02-13 19:56] LaurentGoderre commented on #6519
It gives you an error or it doesn't do anything?

[2015-02-13 19:58] spacejang commented on #6519
it doesn't do anything? Form submitted without "message"..

[2015-02-13 19:59] duprasf commented on #6522
I’ve just seen it, when you go in blog, it’s from Bootstrap 3.3.2 released 19 Jan 2015. Very recent. How often do you update WET with new Bootstrap code base?

[2015-02-13 19:59] LaurentGoderre commented on #6519
And outside of the tabbed interface it works?

[2015-02-13 20:00] LaurentGoderre commented on #6522
We just updated to v3.3.1. Unfortunately we can update as fast as we would like because we need to test to make sure nothing breaks

[2015-02-13 20:02] duprasf commented on #6522
Of course. I did not know if was this recent. I have used another icon in the meantime and will look if we have them later.

[2015-02-13 20:27] spacejang commented on #6519
yes. it works both. Thanks
1. wb.doc.on("wb-ready.wb-frmvld", ".wb-frmvld", function (event) {
2.  $(".wb-frmvld").on("wb-ready.wb-frmvld", function (event) {

[2015-02-13 20:37] wilkmit commented on #6129
Seems to be working fine for me now. Thanks.

[2015-02-13 20:47] wilkmit commented on #6129
This issue seems to be fixed. Thank you.

[2015-02-13 20:47] #6129 closed

[2015-02-13 20:50] LaurentGoderre commented on #6129
Awesome! Thanks for verifying!

[2015-02-13 21:21] LaurentGoderre opened #6523 "Geomap: Convert font size units to ems"
To be consistent with other plugins, font sizes in the geomap plugin should be changed to ems

[2015-02-13 21:42] #6500 closed

[2015-02-13 22:24] LaurentGoderre commented on #6120
@scraymer we updated our version of WET can you updated to the latest development release and test?

[2015-02-16 13:19] danpoleary commented on #6516
That code was from the other ticket! So if that code is not proper, how do we load flot plugins then?

[2015-02-16 14:36] andrewleith commented on #6438
We are going to just scroll the header out of view when our pages are long enough to warrant it.  Not perfect, but it will work.

[2015-02-16 15:10] LaurentGoderre commented on #6505
Closing since the question was answered

[2015-02-16 15:10] #6505 closed

[2015-02-16 15:13] LaurentGoderre commented on #6447
Can we close this?

[2015-02-16 15:15] LaurentGoderre commented on #6432
@muling can you confirm that updating to the new version fixes the issue?

[2015-02-16 15:17] LaurentGoderre commented on #6420
Seems like the hosting issue were resolved, the server is back online!

[2015-02-16 15:17] #6420 closed

[2015-02-16 15:18] LaurentGoderre commented on #6415
@bomarleau can we close this?

[2015-02-16 15:22] LaurentGoderre commented on #6340
Is this still an issue?

[2015-02-16 15:23] LaurentGoderre commented on #6307
Closing due to inactivity

[2015-02-16 15:23] #6307 closed

[2015-02-16 15:25] #6241 closed

[2015-02-16 15:25] muling commented on #6432
We are using version 4.0.10, and it doesn't seem to fix the issue as far as I can tell.

[2015-02-16 15:26] LaurentGoderre commented on #6192
Closing since tracking in the GCWU repo

[2015-02-16 15:26] #6192 closed

[2015-02-16 15:27] LaurentGoderre commented on #6175
Can we close?

[2015-02-16 15:29] LaurentGoderre commented on #6150
Is this still an issue?

[2015-02-16 15:29] #6119 closed

[2015-02-16 15:30] LaurentGoderre commented on #6079
Is this still an issue?

[2015-02-16 15:31] LaurentGoderre commented on #6049
Is this still an issue?

[2015-02-16 15:31] LaurentGoderre commented on #6043
Can we close this?

[2015-02-16 15:42] LaurentGoderre commented on #6432
Did anything change when you updated it?

[2015-02-16 15:46] muling commented on #6432
Do you mean change anything in the template?  Not that I am aware.

[2015-02-16 15:53] LaurentGoderre commented on #6432
No, I mean did the table look change when you updated to v4.0.10?

[2015-02-16 15:55] muling commented on #6432
No.  What is it supposed to look like?

[2015-02-16 16:00] EricDunsworth commented on #6306
IMO there'd still be value in documenting the meaning of + releases in WET's versioning page. If all other kinds of version types are documented, why not document + too?

I should also note that the semver.org link doesn't clearly describe what its take on + releases are (I assume it's patches) and nothing in WET's documentation states that WET uses semantic versioning.

[2015-02-16 16:23] LaurentGoderre commented on #6052
@lucas-hay IE seems to really mess up it's implementation of the Media API but I found a simple fix for this. It should be included in next version.

[2015-02-16 16:37] LaurentGoderre commented on #6432
The display of the table should have changed when you updated to v4.0.10....Are you sure it is correctly applied?

[2015-02-16 16:47] muling commented on #6432
There are CSS customizations, but even when I totally remove our customizations, the table still does not apply the correct table striping.

[2015-02-16 17:03] LaurentGoderre commented on #6432
Did you follow Bootstrap's documentation?

http://getbootstrap.com/css/#tables-striped

[2015-02-16 17:11] muling commented on #6432
You can see our code in the comments above.  The examples in that link do not cover what we need in our table.

[2015-02-16 17:19] redNomer commented on #6340
you can close this oneit didn't work so we're not using it Date: Mon, 16 Feb 2015 07:22:16 -0800From: notifications@github.comTo: wet-boew@noreply.github.comCC: tom.reddon@live.caSubject: Re: [wet-boew] Session Timeout (#6340)Is this still an issue?

—Reply to this email directly or view it on GitHub.

[2015-02-16 17:59] chyne commented on #6445
@hamdaneh Did you get this working? I've only way I have been able to get a checkbox added to a column is to initialize the datatable in code, which means I need to drop the wb-tables class (to prevent double initialization), but then a lot of the styling seems dependent on the wb-tables class being present.

[2015-02-16 18:02] LaurentGoderre commented on #6445
You shouldn't modify the classes. I will need to investigate

[2015-02-16 18:13] LaurentGoderre commented on #6340
The plugin or WET overall?

[2015-02-16 18:15] nathanpw commented on #6447
Yeap, this can be closed. Thanks for the responses everyone! :)

[2015-02-16 18:15] #6447 closed

[2015-02-16 18:16] hamdaneh commented on #6445
I had to do it in the javascript code, the same way as you did (drop the table and initialize it), and then pass the json object with advanced settings (functions to add html stuff).

[2015-02-16 18:18] LaurentGoderre commented on #6445
This may work as a work around but this is highly discouraged. We should work on a more elegant fix for this.

[2015-02-16 18:28] redNomer commented on #6340
the plugin

Date: Mon, 16 Feb 2015 10:13:58 -0800
From: notifications@github.com
To: wet-boew@noreply.github.com
CC: tom.reddon@live.ca
Subject: Re: [wet-boew] Session Timeout (#6340)

The plugin or WET overall?

—
Reply to this email directly or view it on GitHub.

[2015-02-16 18:30] redNomer commented on #6340
I should clarify  - I couldn't get it to workand ran out off time to continue to work on it Date: Mon, 16 Feb 2015 10:13:58 -0800From: notifications@github.comTo: wet-boew@noreply.github.comCC: tom.reddon@live.caSubject: Re: [wet-boew] Session Timeout (#6340)The plugin or WET overall?

—Reply to this email directly or view it on GitHub.

[2015-02-16 18:39] #6052 closed

[2015-02-16 19:14] chrismajewski commented on #6043
We probably can, this is being defined in Kristina's Canada.ca Metadata Application Profile which aligns with the demo I ran at the last CodeFest.

[2015-02-16 19:17] jvanulde commented on #6487
@upsonp thanks for prompting us again on this. There isn't a way that I can think of to refresh the table. Effectively, we need to call the a private function. The best way to accomplish this would be for us to expose a public function that allows for a full or partial refresh of the table markup. Can you confirm that this would work? Without having explored any options I expect that we could atta

[2015-02-16 19:49] EricDunsworth opened #6528 "Generic root-level pages (except 404) are broken in all themes"
The pages in question are fine in the wet-boew repo's site, but are broken in various ways throughout all other theme repos. Seems like wet-boew's version of the pages in question are getting re-used "as-is" in the other themes.

Any chance this could be looked into? Not sure if there's any value in keeping the license pages (.txt versions already exist in the repos), but IMO the index pages shoul

[2015-02-16 19:51] #6043 closed

[2015-02-16 19:54] LaurentGoderre commented on #6528
Can you provide more details, these links seem to work....

[2015-02-16 19:58] EricDunsworth commented on #6528
@LaurentGoderre Here's a few screenshots for reference...

http://wet-boew.github.io/themes-dist/GCWeb/License-en.html
![gcweb-license](https://cloud.githubusercontent.com/assets/1907279/6218384/35f12fd0-b5ec-11e4-9726-80e31c67a70a.png)

http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index.html
![gcwu-index](https://cloud.githubusercontent.com/assets/1907279/6218388/400ae11e-b5ec-11e4-83ea-

[2015-02-16 20:42] LaurentGoderre commented on #6528
Oh ok. Feel free to open a PR but this is definitely not a priority

[2015-02-16 20:49] EricDunsworth commented on #6528
I don't think I'm familiar enough with how the build system piggybacks on wet-boew when building themes to be able to fix it myself.

If I have a chance and can figure it out I'll try fixing it. Otherwise, someone else that has more experience with configuring the build system might need to look into it at some point.

[2015-02-16 22:39] upsonp commented on #6487
Yeah, that's kind of what I have in mind. I spent most of last week looking at the code trying to figure out how to do just that, but I'm nit well versed in JavaScript.

[2015-02-17 00:50] shawnthompson commented on #6241
@LaurentGoderre I'm coming to code sprint tomorrow can you help me build my MTL theme?

[2015-02-17 14:49] jvanulde commented on #6487
Looking into it a little further I notice that there is a onFeaturesAdded listener on the layer that generates the table elements. Have you tried removing the features from the layer and then adding the selected ones back to the layer?

[2015-02-17 14:53] shawnthompson opened #6531 "Feeds: Facebook: Department logos"
The department logos for Parks Canada and Environment Canada are not showing up in the feed anymore. Tried both internal ESDC network and external wifi and both are giving the same result.

[2015-02-17 15:29] LaurentGoderre commented on #6241
Yeah

[2015-02-17 15:38] LaurentGoderre commented on #6531
The EC one is loading for me but not the Parks. Perhaps the feed is using an unsafe method for those thumbnails

[2015-02-17 16:04] LaurentGoderre opened #6533 "Carousel style 2 change the scroll location when playing"

[2015-02-17 16:47] nrustand92 opened #6534 "Feedback form comment box-character limit"
Is it possible to have the number of remaining characters updated as users type in a comment box (see the input field under "Please provide details"):
http://www.canada.ca/en/contact/feedback.html

I'm not putting this under the GCWeb repo because perhaps it's applicable to forms in various themes and working examples.

The idea is to look like this:
![characterlimit](https://cloud.githubuserconte

[2015-02-17 17:30] LaurentGoderre commented on #6120
I check IE 9, 10 and 11 and all looks ok.

[2015-02-17 17:30] #6120 closed

[2015-02-17 17:33] upsonp commented on #6487
@jvanulde I've tried removing them from the table. I'm not sure how to clear them from the map layer, because I CAN do that if I knew how to clear the map layer.

I'm assuming you're referring to the methods in this file
https://github.com/wet-boew/wet-boew/blob/master/src/plugins/deps/geomap-lib.js

How do you call those methods?

[2015-02-17 17:55] andrewleith opened #6535 "Accessibility in Complex Forms"
I was hoping I could get the community's opinion on a technique we were hoping to use in our complex forms.  Our forms consist of questions and answers.  Sometimes questions can get nested, and sometimes a question will have more than one answer (input/select/etc).

In the past we used the obvious techniques of labels and fieldsets to identify inputs in our forms and this works well in simple situ

[2015-02-17 18:04] LaurentGoderre commented on #6535
The issue with this particular example is that you have multiple field with the same label and only a header to tell them apart. A fieldset is the safest element to use here (and you can style it too look the same as if you were using headers)

[2015-02-17 18:16] andrewleith commented on #6535
Thanks for the feedback.  You didn't catch what we're trying to do, however: make the experience for a screen reader user less verbose and more natural.  Adding the fieldsets results in some painful usability and unnecessary verbosity for screen reader users.

You're right - if a user were to arbitrarily land on an input, they would not "automatically" know that the CITY input had to do with Locat

[2015-02-17 18:46] LaurentGoderre commented on #6535
@andrewleith in forms mode in some screen reader non form elements get ignored so it's possible that the user might not get the information at all. Besides, there are scenario where filling the form is not sequential, for example when fixing an submission error.

We should be weary of making judgments about usability of screen readers if we are not everyday users. Verbosity issues should be addres

[2015-02-17 19:59] andrewleith commented on #6535
In our testing (JAWS + NVDA, IE + Firefox)  the information was presented the same way as if you read down the page - nothing was omitted.

In the case of submission errors we can easily annotate the fields with the missing context if that was necessary.

In the end though I think you (like most developers) want to shy away from trying to improve the screenreader experience because of how fragment

[2015-02-17 20:10] LaurentGoderre commented on #6535
I don't want to shy away from improving the experience, I am only saying that I can't judge the quality of the experience or what would make it better or worse because I am not a regular user of those technology.

Maybe @dfarough or @mysticjeff  has some insight on this matter.

[2015-02-17 20:16] GarthMartin opened #6537 "Tabbed Interface breaks change event on element"
I have a jQuery applied change event on a select element that works fine in a regular panel layout, but when the exact same code is applied in a tabbed interface layout, the change event never fires.  (it is the exact same code since I am mocking up 2 UI looks for the client.)

I call the same code in the document.ready function and it works as expected, but never fires on change.

The source look

[2015-02-17 20:19] andrewleith commented on #6535
Thanks, here is the first example in a fiddle if it makes it any easier:

https://jsfiddle.net/6e9ozv5o/embedded/result/

[2015-02-17 20:22] LaurentGoderre commented on #6537
There seem to be something going on with the tabbed interface....there are a few plugins that have issue in it. I will investigate.

[2015-02-17 20:28] LaurentGoderre commented on #6537
Actually you can probably fix your issue by changing your code to the following:

[code]

[2015-02-17 20:29] LaurentGoderre commented on #6537
The tabbed interface performs a DOM rewrite which invalidates that selector. By listening on the document and filtering by ID it guarantees that handler will work event on DOM changes

[2015-02-17 21:03] RobJohnston commented on #5532
Has this been fixed?  I can't reproduce it on the form validation example page but a local version running 4.0.9 produces the error in IE9 (all I got to work with today).  Other people around the 'net fix it with a variation of what was mentioned in https://github.com/jzaefferer/jquery-validation/issues/518.

[2015-02-17 21:34] mysticjeff commented on #6535
We did just have this discussion at AWG and I believe that the consensus  was that describedby or an alert (like what we do for error messages in WET) would be preferable.

-----Original Message-----
From: Laurent Goderre [mailto:notifications@github.com]
Sent: Tuesday, 17 February, 2015 3:11 PM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Accessibility in Complex Forms (#

[2015-02-17 21:34] mysticjeff commented on #6535
I'll have a look tomorrow in case I'm totally off

-----Original Message-----
From: Andrew [mailto:notifications@github.com]
Sent: Tuesday, 17 February, 2015 3:20 PM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Accessibility in Complex Forms (#6535)

Thanks, here is the first example in a fiddle if it makes it any easier:

https://jsfiddle.net/6e9ozv5o/embedded/result/

—

[2015-02-18 00:47] GarthMartin commented on #6537
Thanks Laurent.  That fixed the issue.  What exactly is the wb.doc object? I am not that familiar with it.
Cheers,

[2015-02-18 14:02] andrewleith commented on #6535
@mysticjeff Thanks Jeff.  I am working on two links on jsbin so you can experience the difference between the two techniques.  I'll let you know as soon as they're ready.

[2015-02-18 14:17] LaurentGoderre commented on #6537
`wb.doc` is a cached version of `$(document)`. Creating a jQuery object wastes resources so we cached the ones that are used frequently so your code doesn't have to.

[2015-02-18 14:18] GarthMartin commented on #6537
Thanks again.

[2015-02-18 14:18] #6537 closed

[2015-02-18 14:37] #5576 closed

[2015-02-18 14:38] sviens commented on #5576
Closed due to inactivity.

[2015-02-18 14:44] mysticjeff commented on #6535
That's perfect; I can run a few people through it and give some feedback

-----Original Message-----
From: Andrew [mailto:notifications@github.com]
Sent: Wednesday, 18 February, 2015 9:03 AM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Accessibility in Complex Forms (#6535)

@mysticjeff <https://github.com/mysticjeff>  Thanks Jeff. I am working on two links on jsbin so you

[2015-02-18 16:04] andrewleith commented on #6535
@mysticjeff: here are the links:

1. As described above, no `fieldset`, no `aria-describedby`: http://jsbin.com/cinigogizi
2. With `aria-describedby` from the inputs to the question: http://jsbin.com/gumujifetu

Thanks for taking the time to review this.

Andrew

[2015-02-18 16:19] andre-d opened #6538 "Tabs should provide a way to disable the remember last tab functionality"
I have an application like /View/170 with a tab inside it for info and another for related metadata.  I would like (and in testing it seems the user expects it to) when visisiting /View/170 to always give you the Info panel and not remember your last tab open.

I am aware I can use /View/170#Info or what have you and always be explicit, but it would be nice to not require or redirect to the fragme

[2015-02-18 17:02] dfarough commented on #6535
These examples are interesting.
For the most part, from my prospective as an advanced Jaws user, the first example minus the ARIA is more than adequate for my purposes.  Of course the context is important and the more complex the form the more important it is to insure that the user gets all the necessary information when moving through the form.

I like example1 for the following reasons.

1.  Ta

[2015-02-18 17:10] josephbr opened #6539 "Hyperlinks don't function in nested tabs."
I currently have a page containing nested tabs. Each parent tab contains the Year and all the child ones have the months (for that year). However, for some reason, hyperlinks do not function when placed within a child tab. Clicking them just advances to the next child tab rather than directing the browser to the URL. Bear in mind that these are just ordinary hyperlinks/anchor tags; nothing special

[2015-02-18 17:14] GarthMartin opened #6540 "Tabpanel Horizontal scroll bar if form-horizontal used - related to #6439"
I seem to be having the same issue as in #6439 however adding container-fluid to the form class is not resolving it.  Here is my markup.  The first div and the form declaration are in a master page if that makes any difference.

[code]

Can anyone see something obvious I have missed?  I am using 4.0.10 production.

Thanks,

Garth

[2015-02-18 17:16] GarthMartin commented on #6540
Sorry my markup did not come out right.
[code]

[2015-02-18 17:17] LaurentGoderre commented on #6540
@GarthMartin I fixed your markup, you need a new line after the three `

[2015-02-18 17:36] RobJohnston commented on #6540
I've been noticing this too, and I have a note that it appeared between 4.0.7 and 4.0.9.  I think it was the addition of "overflow-x: auto" here:
https://github.com/wet-boew/wet-boew/blob/master/src/plugins/tabs/_base.scss#L211
I'm currently just overriding it with overflow-x:inherit until I get a better solution.

I'm more of a back-end developer, so it's ever-so-slightly possible that I don't kn

[2015-02-18 18:02] LaurentGoderre commented on #6540
We updated Bootstrap to v3.3.- in WET v4.0.11. It might have fixed that issue

[2015-02-18 19:13] GarthMartin commented on #6540
@RobJohnston Where did you override it?

@LaurentGoderre V4.0.11 does not appear to have resolved the issue.

[2015-02-18 19:14] LaurentGoderre commented on #6540
I would recommend not overriding anything because it would make support harder

[2015-02-18 19:18] GarthMartin commented on #6540
@LaurentGoderre I would tend to agree with you 100%.  The tabbed interface seems to have a number of issues the more I play with it and search issues on here.  I may have to revert back to jQuery tabs.

[2015-02-18 19:32] LaurentGoderre commented on #6540
It would be a shame, we are working hard to resolve those issues and have implementers help us with this is very helpful

[2015-02-18 19:34] GarthMartin commented on #6540
@LaurentGoderre It's not a threat :-)   Just need to get the job done!  I appreciate all your help!

[2015-02-18 19:37] RobJohnston commented on #6540
@GarthMartin I made another CSS file that loads after all others (just for the one application that is affected) as a temp fix until I have time to look further.
The only thing in that file now is this
[code]

@LaurentGoderre I agree that 4.0.11 does not resolve it, but interestingly I can't reproduce it by just wrapping the tabbed content example in a horizontal form.  Will have time to look deep

[2015-02-18 19:39] LaurentGoderre commented on #6540
@RobJohnston it's not a bad way but ideally fixes would be added here so others can benefit from it

[2015-02-18 19:43] chyne commented on #6445
I am open to suggestions. I am passing functions that define how to render certain rows, so I would think that hooking into the draw.dt event would be too late.

[2015-02-18 19:47] josephbr opened #6542 ""Tabbed interface" tab content disappears when Open/Close all function is used"
I seem to have found a strange problem when tabs (using the "Tabbed Interface" code) have been nested inside of collapsible bars and the "CLOSE ALL" function is invoked.

The OPEN/CLOSE ALL function I am using is also referenced in this ticket:
https://github.com/wet-boew/wet-boew/issues/6416

This is the button's markup is:
[code]

Upon clicking it, the collapsible bars close (as they should) but

[2015-02-18 20:33] shawnthompson commented on #6232
@pcwsmith or @DK-TBS is there anything in the works for something like this?

[2015-02-18 21:14] DK-TBS commented on #6232
Nothing in the works on our end.  We've had a look Thomas' sketches over here, and everyone thinks it's tops.  No complaints from TBS!  Run with it  :)

[2015-02-18 21:33] pjackson28 commented on #6540
Note that the reason why the horizontal scrolling is showing up is because the form is overflowing the tab panel (likely due to margin or padding). By overriding the tab panel overflow you are creating an accessibility issue where content that is too wide to fit the tab panel will be clipped rather than exposed through scrolling.

So in the end the issue isn't with the tabbed interface it likely i

[2015-02-18 21:43] pjackson28 commented on #6539
Nested tabs have been tested successfully in the past (although fixes were needed a few versions ago). What version of WET are you using? Please post your markup as well so others can attempt to reproduce.

[2015-02-19 13:06] GarthMartin commented on #6540
@pjackson28 So based on the markup I posted, do you have a suggestion as to where to put the additional container(s)?  I have tried surrounding the wb-tabs and tabpanels divs with both container and container-fluid divs, but get the same (or worse) results.

Thanks,

[2015-02-19 13:33] andrewleith commented on #6535
Thanks @dfarough. So is your conclusion that, to be safe, we should maintain the `aria-describedby` even at the cost of the verbosity to make sure less advanced users can recall the context?

[2015-02-19 13:40] Bgolden67 opened #6544 "<cite> font-style"
Just wondering what the reasoning was behind changing the <cite> tag from italicized by default to normal font in the css?

Which then brings the question of what should publishers be using to italicize their cited text..  should they start using <i> again after so many years of avoiding it so as to not use <em> and emphasize it?

[2015-02-19 14:18] RobJohnston opened #6545 "Must click twice on validation summary error messages"
Go to the form validation page (http://wet-boew.github.io/wet-boew/demos/formvalid/formvalid-en.html) and click submit.  You will see 7 errors listed in a validation summary.  Click one, and it goes to the correct form field.  Now scroll up to the validation summary again and click one.  It will do nothing.  If you click twice it will go to the form field.  Tested in IE9, FF 18, Chrome 40, all the

[2015-02-19 15:07] juliemercier opened #6546 "Date picker icon not displaying with IE9?"
When I look at this page: http://wet-boew.github.io/wet-boew/demos/datepicker/datepicker-en.html, I do not see the datepicker icon. However, when I click where the icon should be, the calendar picker displays. I checked with some of my colleagues and we all have the same issue. Is there something we're missing? Thanks.

[2015-02-19 15:12] RobJohnston commented on #6546
Hit F12 and make sure that you're in the "Browser Mode: is "IE9" and not "IE9 Compatability View"?

[2015-02-19 15:16] JasonTBS commented on #6546
While in IE9 edge mode I still do not see the glyphicons. When doing a network capture within the IE9 developer window I do not see the glyicons resource being loaded.

[2015-02-19 15:19] juliemercier commented on #6546
Is it possible, glyphicons are being blocked by the firewall?

[2015-02-19 15:27] juliemercier commented on #6546
When I go to this page: http://glyphicons.com/, out of 610 icons, I see a little over a dozen icons and on this page: http://getbootstrap.com/components/ I only a dozen icons.

[2015-02-19 15:32] crochefort commented on #6545
Look's like on the first click it's loosing the focus and after that ... it goes. I hope this help.

[2015-02-19 15:34] LaurentGoderre commented on #6546
@juliemercier is this occuring on your personal computer or your work one?

[2015-02-19 15:35] juliemercier commented on #6546
We are all having this issue at work.

[2015-02-19 15:40] LaurentGoderre commented on #6546
This is caused by a network policy put in place by SSC which blocks font icons from being loaded. It is not an issue with this project

[2015-02-19 15:41] juliemercier commented on #6546
OK. Thank you.

[2015-02-19 15:41] #6546 closed

[2015-02-19 17:06] ikug opened #6548 "Thumbnail Images overlay on the Main Image"
I have an issue with slide show for image.
I attach it with the message below. My concern is what happens if the images in the thumbnail are more than 3 or 4, with "Play" button are wider than the certain size(displaying size for single image on the above), how the thumbnail looks like with all the small images?
For an instance, that I have 7 images put into slideshow for image, and how the 7 imag

[2015-02-19 17:13] dfarough commented on #6535
If the context warrants then this method will insure that no information is missed.  Important instructions such as those found when creating passwords are good candidates for this approach.  Given the example you presented, I feel that method 1 with the focusable headings  is sufficient.

[2015-02-19 18:24] pjackson28 commented on #6540
The new parent container(s) should be nested in each details element and include everything except the summary element. The key is to counteract the margins/padding that are causing the form elements to overflow the details elements. Using Firebug or Chrome developer tools will help to identify the problem and will help to identify the correct Bootstrap classes to use (essentially the negative mar

[2015-02-19 19:19] RobJohnston commented on #5532
I've looked a bit more into this and it appears to only be a problem when the page is served via ASP.NET Development Server (the one built into Visual Studio).  When the page is deployed to IIS then the problem goes away.  Interestingly, the only thing I have to do to make it show (locally) is wrap the DatePicker example in ```<div class="wb-frmvld">```.

@nschonni  I think the IE7 label can be re

[2015-02-19 19:29] biljanap commented on #6540
@GarthMartin I had the same issue and I found that two options work for me:

**Option 1** - Placing ```<form>``` element inside ```<details>``` element (unless you must have multiple tabs inside the same ```<form>``` element).
Here is the code for Option 1:
[code]

**Option 2** - Placing css class  <code>form-horizontal</code> on <code>div</code> element that groups```<label>``` and ```<input>```

[2015-02-19 19:51] sviens opened #6549 "Feature/Plugin Request: Tag/Word Cloud"
On behalf of the Marketing and Social Media group at Public Safety Canada, I'd like to request a tag/word cloud feature. Example: http://www.wordle.net/

The intended use is to provide greater prominence to words that appear more frequently in the content of the Get Cyber Safe blog and allow navigation based on these words.

Thank you.

[2015-02-19 21:32] ikug commented on #6548
I also test it on another case with lower resolution with no wide images. It seems  thumbnail area got extended based on how high the size of image.
In my next attachment, I only put 3 images into thumbnail, but because of height, the thumbnail area covers caption area, and "Play" or "Pause" button is overlay on the image.

Does thumbnail class has dynamicly controlling the size of itself, based o

[2015-02-19 22:12] zachfalsetto commented on #6549
Would there be a limit to the amount of words included in the word cloud? I find that if there are too many words, it is far less effective. Also these things take up a large amount of space. On the blog I see a large search section followed by the blog articles. Would this further push the articles below the fold?

[2015-02-20 03:46] melodyma opened #6550 "SCSS variables: Overlay Plugin questions"
@LaurentGoderre - For overlay, this is what I propose as the parameters we should extract as variables. My notes are proceeded by  `//***` in the code snippets below. Things I think should be customizable are labelled as `//*** CUSTOMIZE` along with some inline questions and notes.

overlay/_base.scss
[code]

overlay/_ie8.scss
Should `1px solid #999;` be the scss placeholder and extended by left,

[2015-02-20 05:37] melodyma opened #6551 "SCSS variables: Inventory"
@LaurentGoderre - Just taking an inventory of everything that has to have it's variables pulled out to the variables file. It would great if you can confirm!

- [ ] Cal Events ???
- [ ] Calendar ???
- [ ] Charts
- [ ] Core ???
- [ ] Lightbox
- [ ] Overlay
- [ ] Tables
- [x] Tabs/Carousel
- [ ] Text Highlight
- [ ] Zebra

[2015-02-20 14:18] RobJohnston commented on #6232
So using existing styles, what's the best markup to accomplish this today (or close to it)?  Some thoughts...

[code]
or

[code]

I think the first looks better but the second responds more like the screenshot.

[2015-02-20 16:32] sviens commented on #6549
I don't see why the word count couldn't be limited, especially it if helps usability. Maybe a limit of 20-25 words? The search section is being removed in the coming months (tied to our upgrading to WET4).

[2015-02-20 16:37] LaurentGoderre commented on #6549
I am curious what @pcwsmith opinion is on this

[2015-02-20 17:09] pcwsmith commented on #6549
Tag clouds are are pretty much unusable as a nav pattern - they are over-complicated and confusing to most people. I would advise against going there.There is certainly no plan to make this an available in-page nav pattern in the Content and IA spec.

(Really these are meant more as tools for analyzing information - even there, they are mostly a toy.)

[2015-02-20 17:17] sviens commented on #6549
Thank you for reviewing this request.

[2015-02-20 18:09] nellleo commented on #6549
@pcwsmith Many readers find them easy mechanisms to filter content. Is there something that could be created to carry popular/widely-used blog widgets like tag clouds that can be introduced here? I'm very much against GC blogs looking as sterile as they do minus the widgets (and they honestly still do.. :-) ).

[2015-02-20 18:49] shawnthompson opened #6552 "Tabbed Interface - Carousel: show-thumbs"
When you put in a grid of col-md-8 or smaller, the thumbnails float up into the figcation.

![capture](https://cloud.githubusercontent.com/assets/2575266/6307006/3fb13ea8-b906-11e4-80de-8b75585932f9.JPG)

This happened when we put the show-thumbs class on the carousel on the [Theme landing page](http://servicecanada.github.io/GCWeb/theme-en.html) on Canada.ca. (Add the class to the carousel using

[2015-02-20 18:57] RobJohnston commented on #6534
I'll add to this a request to do a word count as well as a character count.  Some inspiration:
 * http://www.sitepoint.com/10-jquery-wordtext-counter-plugins/
 * http://stackoverflow.com/questions/14010446/word-and-character-count-using-jquery

[2015-02-20 19:07] LaurentGoderre commented on #6552
Duplicate of #6548. There seems to be a lot of issues with that carousel style....

[2015-02-20 19:08] #6552 closed

[2015-02-20 19:10] GarthMartin opened #6553 "Issue with Date polyfil and IE9"
Strange issue with IE9 and the date polyfil.  For some reason you have to click twice on the icon to get the calendar to open?  Code below:

Also, is there any way to have the calendar open when the input element recieved focus? (Nice to have of course - is there a reason it does not?)
Using 4.0.10

Thanks in advance,

Garth
[code]

[2015-02-20 19:16] GarthMartin commented on #6553
Sorry just to expand a touch, when you click the first time, the icon moves below the label and then back up beside the input element.  The second time, the date picker opens.  I put an alert into the
[code]
event that fires on load, so as far as I can tell the date picker is inited, but it does not load.  Note the alert does not fire when you click the icon the first time (nor the second time), a

[2015-02-20 19:25] LaurentGoderre commented on #6553
Wonder if it's related to #6545

[2015-02-20 19:28] LaurentGoderre commented on #6534
Word count is a lot harder to implement because of JavaScript lack of support for french characters in Regular Expressions. More specifically, the word boundary regular expression doesn't work on words that begin or end with a french accent

[2015-02-20 19:33] GarthMartin commented on #6553
#6545 seems to be a reversed scenario where it initially works, but after that it takes 2 clicks.

[2015-02-20 20:19] RobJohnston commented on #6534
I think this guy might have it:  http://plugins.jquery.com/word-and-character-counter/

[2015-02-20 20:28] LaurentGoderre commented on #6534
Not bad!

[2015-02-20 21:20] LaurentGoderre commented on #6549
You are welcome to open a PR for this features but we will not be working on this for the time being

[2015-02-20 21:28] LaurentGoderre commented on #6544
@Bgolden67 Bootstrap italicizes the `cite` element in the new version so there is no reason for us to duplicate it.

[2015-02-20 21:39] LaurentGoderre commented on #6540
Is it possible that #6532 is proposing a fix to your issue?

[2015-02-20 21:40] pcwsmith commented on #6549
FWIW, a better pattern might be tag-specific navigation - where each post is tagged with a few keywords, and clicking on a tag associated with an individual post delivers a list of all/recent posts that have also been tagged with that keyword. Have not researched this in any detail, but seems to me to be more relevant and unobtrusive way of promoting discovery of similar content within a blog. Som

[2015-02-23 03:52] ruchiratrivedi opened #6555 "Data Picture: I want to Initializes the plugin manually"
Hi,

I am trying to initialize the plugin manually with $( "[data-pic]" ).trigger( "wb-init.wb-pic" ); but nothing seems to happen. I am adding data picture after the page has loaded.

Thanks,
Ruchira

[2015-02-23 12:45] Bgolden67 commented on #6544
So in the next release cite will be italicized again? In 4.0.10, of the canada.ca theme the  cite tag is set to normal in the wet-boew-min.css and this is over riding the default action to italicize it.

[2015-02-23 13:58] LaurentGoderre commented on #6544
The next release will be fixed.

[2015-02-23 15:02] josephbr commented on #6539
I tried it with v4.0.10, v.4.0.11, and the latest dev build as of when I first posted this ticket and all of them had the same problem.

I managed to re-produce the bug using the following markup. Just  go to "Outer Tab 2" and the nested "Inner Tab 1" and then click the "CLICK ME!" link. Instead of going to the pages it links to (for the sake of testing, I used http://www.google.ca), it instead ad

[2015-02-23 16:14] LaurentGoderre commented on #6555
@ruchiratrivedi in our unit tests (which pass) the Data Picture elements are created dynamically. If it's not working, it could be caused by something else. What browser are you using? Can you provide a bit more  details? Do you have a example we can look at?

[2015-02-23 17:08] pjackson28 commented on #6553
Note that the calendar can't be opened when the input receives focus because that doesn't happen when the browser has native support for input type="date" (you have to click the button to open the date picker). We are just providing a polyfill to add support to browsers that lack the native support.

[2015-02-23 18:24] neoinsight commented on #6553
Also don't want the calendar to open automatically because many people prefer to just type in the date, and are more successful and faster at doing that than using the calendar.

[2015-02-23 18:41] RobJohnston commented on #6540
One would think so, since that issue is referencing the PR that introduced the exact line that I though caused the problem, but the solution doesn't work for me after adding this to the wet-boew.css class at the appropriate location:
[code]

So if you start with the tabbed interface example, wrap it in a horizontal form, and then add a form group like in the form example, you'll end up with the fo

[2015-02-23 18:48] neoinsight opened #6558 "Datepicker Redesign to Reduce User Errors"
Last week, we had usability participants try to enter their date of birth via the datepicker. People had many problems that I will explain in other issues, but for now, would like to understand if this particular problem is a bug, because it looks like one.

Participant opens the calendar, selects year and month, clicks GO, then clicks a day, and it reverts back to the current date.  On Chrome, it

[2015-02-23 19:00] LaurentGoderre commented on #6558
@neoinsight Chrome use a native date picker so it wouldn't be affected. We will need to investigate in Firefox though.

[2015-02-23 19:01] LaurentGoderre commented on #6553
:+1:

[2015-02-23 19:17] neoinsight commented on #6558
Another potential bug - notice how it blacks out on the participant using Chrome v35.0.1916.114 m
https://www.youtube.com/watch?v=bx3kR8xJa48

[2015-02-23 19:18] LaurentGoderre commented on #6499
Can we close this?

[2015-02-23 19:19] #6469 closed

[2015-02-23 19:21] LaurentGoderre commented on #6558
That is a bug with Google Chrome, not WET4

[2015-02-23 19:56] pjackson28 commented on #6539
Will be fixed by #6559. Turns out that it was a combo tabs/toggle bug.

[2015-02-23 20:10] pjackson28 commented on #6540
A simple fix seems to just wrap all the form groups in a <code>div class="container-fluid"</code>. I don't know if that is proper according to Bootstrap but it does counteract the negative padding and margin applied to <code>.form-horizontal .form-group</code> which is disrupting the tabpanel. So the resulting markup could be:
[code]

Note that applying <code>container-fluid</code> to the <code>de

[2015-02-23 20:12] RitchieD opened #6560 "WET 3.1 Question. How to wait for WET to fully initilize?"
What is the jQuery code for WET 3.1 to wait for all WET initialization to be complete.
Specifically I need to wait for the form validate initialize to complete so I can add a custom validation.

I’m looking for something like this but for WET 3.1

    $(document).on("wb-ready", function (event) {
        alert('WET is fully loaded');
    });

[2015-02-23 20:17] #6539 closed

[2015-02-23 20:19] LaurentGoderre commented on #6558
I am unable to reproduce in Firefox

[2015-02-23 20:26] RobJohnston commented on #6540
That works for me. How 'bout you @GarthMartin ?

[2015-02-23 20:27] LaurentGoderre commented on #6558
@neoinsight by analyzing the video, I can conclude with reasonable confidence that what occured is user error and that may indicate that the way the go to behavior works needs to be revised.

The user goes into the go to section and changes the year and month, doesn't press "Go" which is required to actually change the calendar view but instead click on the day number. The computer then lags a bit

[2015-02-23 20:28] RitchieD commented on #6560
I've been search for how to do this and finally after I post the question I find the answer...lol

    $(document).on("wb-init-loaded", function(event) {
        alert('WET is fully loaded');
    });

[2015-02-23 20:28] #6560 closed

[2015-02-23 20:33] LaurentGoderre commented on #6540
@pjackson28 we need to review our HTML. As I bumped Bootlint it found a lot of incorrect use of Bootstrap

[2015-02-23 20:34] pjackson28 commented on #6545
I checked in the JS and the click event on those links are not making it to the document node when focus was in the field initially.  This likely is because the summary is updated every time there is a field blur.

[2015-02-23 20:48] LaurentGoderre commented on #6553
I can't reproduce (see SauceLabs test)

https://saucelabs.com/tests/13c9ea6a04c54642850c6fbb24db3fb3

[2015-02-23 20:58] neoinsight commented on #6558
Ah ok! Thanks. The Go behaviour is a problem for sure. More videos to come. Could close this then.

[2015-02-23 21:16] LaurentGoderre commented on #6558
Can you open a new issue requesting that we get rid the go button and implement a redraw of the calendar when either the month or year change. Doing this is risky because you don't want to cause it to fail WCAG 2.0 Success Criterion 3.2.2 On Input but if the focus is properly managed there can probably be some significant usability gains.

P.S. it's pretty cool to see those videos of users. If eve

[2015-02-23 21:23] LaurentGoderre commented on #6535
Can we close then?

[2015-02-23 21:29] andrewleith commented on #6535
I was hoping we might get some input from other community members.  @mysticjeff: does anyone have anything else to add? or could we close this?

[2015-02-23 21:33] mysticjeff commented on #6535
I have 2 other people testing this; but they won't get to it until thurs/fri (likely)

-----Original Message-----
From: Andrew [mailto:notifications@github.com]
Sent: Monday, 23 February, 2015 4:29 PM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Accessibility in Complex Forms (#6535)

I was hoping we might get some input from other community members. @mysticjeff <https://g

[2015-02-23 21:45] pjackson28 commented on #6545
PR #6561 should address the issue. It introduces a 100ms delay before updating the summary links to give enough time for events to bubble up.

[2015-02-23 22:15] #6545 closed

[2015-02-23 22:16] LaurentGoderre commented on #6535
ok, np

[2015-02-23 22:34] LaurentGoderre commented on #4466
The code mentioned by @duboisp is not asynchronously safe and will only work if the plugin finished loading after the parsing of the table is complete (which rarely occurs). We are looking at a new plugin structure to facilitate this but in the meantime, there will be a need to add functionality to specify additional plugins.

[2015-02-24 03:39] stephenbe commented on #6411
Slack is such an amazing app, we use it constantly at our agency, very valuable tool.

@cjbarber created a repo with alternative chat systems we could maybe use :

https://github.com/cjbarber/hipchat-alternatives

Can anyone in the government check these out, see if they're blocked?

[2015-02-24 14:15] crichard commented on #6538
See #6252 .  If your page has a unique page id, the tab selection from a previous page should not be remembered.

[2015-02-24 14:19] andre-d commented on #6538
I would still like the ability to optionally direct link to a tab. Like in
the preferences example. Removing the ID removes the ability all together.
On Feb 24, 2015 9:15 AM, "Cynthia Richard" <notifications@github.com> wrote:

[2015-02-24 14:27] crichard commented on #6538
Until a feature like that is implemented, I think you can disable session storage for a page.  You can use this function and call it on a specific page.  It worked in WET 3.1, I don't know about WET 4.0.

[code]

[2015-02-24 14:28] andre-d commented on #6538
Yeah. I did something like that. It changed a bit in four but basically on
load early on in the page load I remove any previous keys about the tab.
On Feb 24, 2015 9:27 AM, "Cynthia Richard" <notifications@github.com> wrote:

[2015-02-24 14:28] pjackson28 commented on #6538
The easiest way would be to specify the tab you want active in the URL hash. The URL hash will always override whatever the plugin remembers as the last active tab. You could do the same thing with the <code>wb-select.wb-tabs</code> event as well.

[2015-02-24 14:32] pjackson28 commented on #6538
It probably would be fairly easy to add an option to the plugin that makes it ignores sessionStorage as well (ignoring would be off by default). Anyone interested in taking a crack at it? It could just be a boolean available through data-wb-tabs and a simple conditional wrapped around each sessionStorage area.

[2015-02-24 14:48] LaurentGoderre commented on #6538
Since it's a boolean, why not use a class name instead? It would simplify the code. I'm just not sure what to call that class

[2015-02-24 14:50] crichard commented on #6538
ignoreSession maybe ?

[2015-02-24 14:51] pjackson28 commented on #6538
You could make it available through a class name, but it should be available through the data attribute as well. Otherwise you wouldn't be able to specify a global setting for the page (e.g., through <code>window[ "wb-tabs" ]</code>). Also note that we don't use camel-case for class names (so "ignore-session" may be better).

[2015-02-24 14:55] LaurentGoderre commented on #6538
Sounds good!

[2015-02-24 14:58] crichard commented on #6538
Can I give it a try, or do you want to do it @andre-d ?

[2015-02-24 15:03] LaurentGoderre commented on #4466
@duprasf @danpoleary @benhurqc @JammG my pull requests addresses this issues. To use you only need the following:

[code]

[2015-02-24 15:11] LaurentGoderre commented on #6538
@crichard go ahead! ;)

[2015-02-24 15:14] #4466 closed

[2015-02-24 15:15] LaurentGoderre commented on #6516
Please test the latest change and let me know

[2015-02-24 15:15] #6516 closed

[2015-02-24 16:12] LaurentGoderre commented on #6445
@hamdaneh @chyne you don't need to use the data attributes to specify callbacks. Any of the DataTable callback can be added using the following approach

<script>
(function() {
	window[ "wb-tables" ] = {
		rowCallback: function( row, data ) {

		},
		initComplete: function ( settings, json ) {

		},
	};
})();
</script>

[2015-02-24 16:23] RobJohnston commented on #6534
So for @nrustand92 and others, I've tried this out and it's working well for me.  Nice and quick too compared to a normal javascript counter (at least up to 3000 words, which is my limit).  To get results like in the screenshot of the original post, you would need something like this, placed after jquery loads:

[code]

This assumes a textarea with an ID of "details" and will produce a message lik

[2015-02-24 17:08] LaurentGoderre commented on #6494
@hamdaneh here's how to do it:

[code]

[2015-02-24 17:50] neoinsight commented on #6558
Absolutely right about videos. I will make more available. Lots to discuss about datepicker before coming up with soutions - Peter will book a meeting.

[2015-02-24 18:52] upsonp commented on #6487
I've been really badly fumbling my way though this for the last week. I'm now able to add features to the map using the OpenLayers API, but it doesn't seem to be calling the onFeaturesAdded method.

Bare with me, I have very little JavaScript experience, but the following will create an array of features from an XML file containing all the relevant point information and add the points that are "in

[2015-02-24 19:27] Christopher-O opened #6563 "Data Ajax: pulling in content by id not working"
In WET version 4.0.3 and prior, there was a function available for the data ajax script to directly pull content from a page by ID, class or tag.  For example the ajax call would be something like
="ajax/data-ajax-extra-2-en.html #ajax-content"
that would pull content wrapped with the id of "ajax-content".  You can further customize it by pulling in by class and/or certain tags within that content

[2015-02-24 20:11] LaurentGoderre commented on #6563
It's weird....I can't find it anywhere....

[2015-02-24 20:24] LaurentGoderre commented on #6563
I don't think either of these plugins ever had that functionality. The only one that does is the lightbox plugin

[2015-02-24 20:26] pjackson28 commented on #6563
It actually did because before 4.0.4 it used the load() function (now uses the ajax() function). According to jQuery: "The .load() method, unlike $.get(), allows us to specify a portion of the remote document to be inserted. ... When this method executes, it retrieves the content of ajax/test.html, but then jQuery parses the returned document to find the element with an ID of container."

So essen

[2015-02-24 20:38] Christopher-O commented on #6563
I was looking at the load() jQuery function online and it mimics exactly how our current WET4 template operates (we are still using WET 4.0.0).  We would like to update to 4.0.11 to take advantage of a few new features that became live in 4.0.5 but we do not want to lose this great feature by doing so.

[2015-02-24 20:40] LaurentGoderre commented on #6563
Using the ajax method gives as a much greater level of control on the ajax process but we can look at adding this functionality.

[2015-02-24 20:42] Christopher-O commented on #6563
That would be greatly appreciated!

[2015-02-24 21:08] pjackson28 commented on #6563
We recently added similar functionality to the Lightbox plugin (https://github.com/wet-boew/wet-boew/blob/master/src/plugins/lightbox/lightbox.js#L215-L220). It isn't as full-featured as what jQuery provided as it only allows selecting by the URL hash (so just by id). If the select by id is all that is needed then we could use the Lightbox approach. If more is needed, then perhaps whatever is deve

[2015-02-24 21:16] Christopher-O commented on #6563
90% of the time, we use the ID approach (hashtag), but for our main page we use the class approach
="ajax/data-ajax-extra-2-en.html .ajax-content" and add the class ajax-content inside the class="" part of a tag, so that we can pull multiple pieces (like story items), into a div tag to build up content.   I have also used the tag function
="ajax/data-ajax-extra-2-en.html #ajax-content li" to re-cu

[2015-02-24 21:31] LaurentGoderre commented on #6563
I don't think WET should provide more than ID selection. We can provide the option to provide a custom filter function that overrides our basic one.

[2015-02-24 23:04] nrustand92 commented on #6534
Nice!!!
On Feb 24, 2015 11:23 AM, "Rob Johnston" <notifications@github.com> wrote:

[2015-02-25 14:27] mysticjeff commented on #6535
the links provided are blocked by the network: http://jsbin.com/cinigogizi, http://jsbin.com/gumujifetu.

Could you zip it up and dropbox/googledrive/onedrive it and we'll set it up here

-----Original Message-----
From: Andrew [mailto:notifications@github.com]
Sent: Monday, 23 February, 2015 4:29 PM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Accessibility in Complex For

[2015-02-25 14:47] andrewleith commented on #6535
Our department conveniently blocks all three of those services, i'll see what I can do from my phone :)

[2015-02-25 14:57] andrewleith commented on #6535
Can you download it from github and then set it up there?

1. no_fieldset_no_aria_describedby: https://gist.github.com/andrewleith/10086c914a6c33c22833/download
2.  with_aria_describedby: https://gist.github.com/andrewleith/1373e36cb7ac2ff1c124/download

[2015-02-25 15:40] dfait-webstandards opened #6565 "Pie Chart does not pull the correct table header while using reversed table parsing."
Hi,

I'm trying to implement a pie charts with reversed table parsing but i'm having an issue where the incorrect table header is being called to populate the generated figcaption element.

The issue is present in the Charts and graphs - Specific test cases Working Examples
http://wet-boew.github.io/v4.0-ci/demos/charts/testing-en.html

If you look at the pie charts under the heading "Pie charts a

[2015-02-25 15:57] LaurentGoderre commented on #6565
@duboisp please investigate

[2015-02-25 16:02] Christopher-O commented on #6563
Another possibility (if adding these functions to the ajax() function to be an issue), could be to reimplement the load() function from 4.0.3 with a different set of attributes (e.g. data-load-append/data-load-replace/etc.).

[2015-02-25 16:34] louis-galipeau opened #6566 "Twitter embedded timeline:"
This feature does not work in IE 8. It keeps just spinning and no content is shown.

Did we drop support for IE 8 yet?

[2015-02-25 16:42] LaurentGoderre commented on #6563
@Christopher-O we can't go back to the load because it does not give enough control for request like JSONP etc.

[2015-02-25 16:47] Christopher-O commented on #6563
Okay, thanks for the comment, I look forward to seeing what might come out of this.

[2015-02-25 17:07] neoinsight commented on #6558
Do you think this is the same bug? This one is on Chrome, but same problem of clicking day on calendar and losing the year and month. Voice is disguised.
https://www.youtube.com/watch?v=xGXch7-MYPo

[2015-02-25 19:30] mysticjeff commented on #6535
Today, we did a number of user tests with different people, different technologies and different skill levels, of the form with and without the use of ARIA and we agree with @dfarough, who said that: " a little too verbose for my liking but might be appropriate depending on the level of complication in the form. design.".

We would further emphasize the negative experience this level of verbosity

[2015-02-25 19:41] LaurentGoderre commented on #6558
@neoinsight that date picker is Chrome's native implementation and WET has no part in it. I did notice though that you can't type anything while the date picker is opened and from the video typing in a value does not update the calendar.

That being said, I doubt the behavior demonstrated in this video is covered by the spec so perhaps the spec need to be updated to improve usability.

[2015-02-25 19:45] neoinsight opened #6567 "Datalist polyfill Autocomplete - can't scroll, can't type issues"
Usability participants had a lot of trouble using the datalist polyfill autocomplete element when it was filled with a list of countries.
1. One of the biggest issues is that it still displays the drop down arrows, but it's not scrollable for all participants on Chrome (7 of 13 participants).  Also, when it opens, it opens from the bottom of the list (showing Z to S)  if the field is lower on the

[2015-02-25 19:52] LaurentGoderre commented on #6567
Chrome does not use our polyfill because it supports the datalist natively. This is a bug with Google Chrome. Furthermore it seems like the user does not get the point of the autocomplete where you start to type.

In this example, the problem really is that a datalist is not the right control for the information being requested.

[2015-02-25 20:10] LaurentGoderre commented on #6566
There you go: https://twittercommunity.com/t/update-on-twitter-for-websites-ie7-and-ie8-browser-support/28234

[2015-02-25 20:11] #6566 closed

[2015-02-25 20:14] neoinsight commented on #6567
Ok, so a Chrome bug.
Re not using datalist, in previous tests for another department, we watched people struggling to choose a country from a long list of countries, so datalist seemed like a good option to help them. And if these bugs and issues hadn't made it so difficult, maybe it would have worked.
But more basically, shouldn't this work better? When is it the right control?

[2015-02-25 20:36] LaurentGoderre commented on #6567
It is rather awkward. In that case, you want user to select a value from a controlled list but the field allows the user to enter whatever they like so from a data integrity it's not optimal. To me it seems like this field lacks some maturity. There could be an option to specify whether to allow free form data to be allowed of if only known value can be selected.

[2015-02-25 21:53] #6538 closed

[2015-02-26 00:35] shawnthompson commented on #6563
As am I!

[2015-02-26 14:49] shawnthompson opened #6570 "Tabbed Interface: Geomap: Don't play nice together"
I tried to put a geomap inside a tabbed interface and the map would not load.

Here's an [example page](http://servicecanada.github.io/GCWeb/contact/find-en.html).

This page is a draft and might be updated or deleted so if someone goes to check it and it's not there, let me know and I'll put it back up.

This has been tested on the tabs demo page and same thing happens there.

[2015-02-26 14:50] LaurentGoderre commented on #6570
@jvanulde can you look into this?

[2015-02-26 14:56] DavidTrottier1 opened #6571 "populating a dataTables dynamically"
using wet 4.0.10
developing with ie9

I wonder if anyone has managed to populate a wet 4 datatables dynamically using .net c#. I see in the working example that all table are being populated by static values or by json files but i'm looking to fill the table dynamically from database. dotnet gridview is what I am currently using but I wish I could use the datatable from the wet to stay consistent.

[2015-02-26 15:12] LaurentGoderre commented on #6571
@DavidTrottier1 you could create an API that output the JSON file dynamically for the table

[2015-02-26 15:55] sgdowney commented on #6571
When you say that you want to populate dynamically, what do you mean exactly?  Will the data be available as the page is being generated on the server or will be pulled in after rendering on the client browser?

[2015-02-26 16:14] DavidTrottier1 commented on #6571
the data would be available after the page is generated since I'm using server side entity framework to pull the data direct from the database.

I'm starting to think that a web API linked to the database that output a json is the only way around. what do you think?

I was also trying to adapt the wet 4 look and feel to my dotnet gridview but no success.

[2015-02-26 16:18] #6385 closed

[2015-02-26 16:25] LaurentGoderre commented on #6571
@DavidTrottier1 it may not be the only option but I believe it's the most flexible and future proof one. Let me know if you need help implementing it.

[2015-02-26 16:30] sgdowney commented on #6571
There are a few ways to approach this.  I'm assuming that your page will execute some type of Ajax request to get the data.  The results could be returned in a couple of ways:
1.  A JSON formatted array of objects.
2.  An HTML table with all the prerequisite classes set on it.  The datatable plugin could then be manually initialized.
For the data api you could go with http://www.odata.org/ and use

[2015-02-26 16:34] DavidTrottier1 commented on #6571
thanks for your support guys, I'll let you know if I need any help implementing it. your help is very appreciated.

[2015-02-26 16:34] #6571 closed

[2015-02-26 16:37] LaurentGoderre commented on #6571
OData looks cool but might be overkill for a simple API to start. .NET has really good JSON serialization functionality

[2015-02-26 16:40] DavidTrottier1 commented on #6571
awesome, I'll look into the .NET solution

[2015-02-26 17:15] thomasgohard commented on #6567
The goal here is for the list of options to get filtered based on the user's input to speed up the selection. Is that correct @neoinsight?

If so, validation should be added to ensure that the value that is inputted/selected is in the list of options.

Another related problem will be that users may not spell the options as they've been labelled (e.g., "St. Petersburg" vs. "Saint Petersburg"). In s

[2015-02-26 17:22] ikug commented on #6548
I would like to add an additional issue within this ticket.
It is about a scrollbar showing underneath of displaying image itself. This issue has already showed in the first comment above, and I attach another image below, so that it will look clearly.

Also this issue happens in IE only, not in Firefox and Chrome.

![slideshow with scrollbar](https://cloud.githubusercontent.com/assets/10654702/63

[2015-02-26 17:31] RobJohnston commented on #6567
And the markup is wrong.  Instead of
[code]
It should be this:
[code]
Note the missing closing bracket after the country name.  The error produces some weird markup, different depending on the browser.

[2015-02-26 17:34] E1D1 opened #6572 "WET Input type="date" polyfill (date picker) not showing up"
Good day,

I'm trying to implement the date picker using and it doesnt seems to be showing up. I see the input but the calendar icon is not showing up in EI nor in Firefox.

here is the code.
[code]

[2015-02-26 17:37] LaurentGoderre commented on #6567
nice catch!

[2015-02-26 17:37] pjackson28 commented on #6567
@RobJohnston Good catch! It would be interesting to see if those markup errors are at least partially responsible for the reported Chrome and Safari bugs.

@neoinsight Do you have any additional testing scheduled where you could find out whether or not fixing the markup addresses some of the bugs that were encountered?

[2015-02-26 17:37] LaurentGoderre commented on #6572
Is it working in our example for you?

[2015-02-26 17:41] E1D1 commented on #6572
No...I use the same example from the WET website. exactly as displayed in the code

[2015-02-26 17:42] neoinsight commented on #6567
Hey thanks for the markup catch!  We do have more testing planned - so yes, could fix the markup first and then check.

@thomasgohard Yes, the idea is to have something easy and fast to use as an alternative to long dropdowns.

[2015-02-26 17:47] LaurentGoderre commented on #6572
I meant is it working on the WET website?

[2015-02-26 17:51] thomasgohard commented on #6558
Related issue: https://github.com/wet-boew/wet-boew/issues/6143.

[2015-02-26 17:55] neoinsight commented on #6567
Markup is fixed. Does not seem to solve Safari problem or Chrome bug.

[2015-02-26 18:04] pjackson28 commented on #6567
@neoinsight Another thing to try is reducing the number of entries (to say 50) to see if there is any change in behaviour. There was one report a while back about the native datalist support misbehaving in certain browsers when there were a large number of entries (well over 100) and the issue went away when there were a smaller number of entries. Could you please check to if you are encountering

[2015-02-26 18:20] LaurentGoderre commented on #6494
@hamdaneh have you tried it?

[2015-02-26 18:25] hamdaneh commented on #6494
Not yet, will let you know as soon as I try it.

Sent from my iPhone

[2015-02-26 19:28] pjackson28 commented on #6533
Probably because a setfocus event is being fired on every tab rotation. Maybe the tabbed interface should be updated to not setfocus when a play-related tab rotation occurs (so only exception to the setfocus approach).

[2015-02-26 19:41] pjackson28 commented on #6533
Will be fixed by PR #6573.

[2015-02-26 19:52] neoinsight commented on #6567
@pjackson28 I have reduced the country list down to 50. No difference that I can tell on Chrome or Safari. Using a dynamic datalist is beyond me - this prototype is just to test the concepts. Also, not needed for countries, which is the problem I'm trying to solve. Many government forms use country selections.

[2015-02-26 19:55] neoinsight commented on #6567
@thomasgohard Do you know if it's possible to suppress the drop down indicator in the field? Would like to test it again but without any dropdown showing up,since that's where most of the bugs are happening - it would act more like BizPaL's city selection autocomplete that way (you can see it here  - it also has all the synonym and spelling support http://services.bizpal-perle.ca/eng/?b=01).

[2015-02-26 20:40] shawnthompson opened #6574 "title element with HTML markup"
In some cases we might need to add HTML elements into the `title` front matter but once the build is complete we get the HTML markup in the `<title>` element of the compiled HTML page.

[code]
[code]

[2015-02-26 21:04] b0uch3 opened #6575 "Dismissable alert"
Has the dismissable option for alerts been removed from the bootstrap base functionality?  If so, why isn't it included?

I noticed the documentation still mentions it, but the example is not listed in the [working example](http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-en.html)

*Wrap any text and an optional dismiss button in .alert and one of the four contextual classes*

[2015-02-26 21:05] ikug commented on #6548
I knew what causes has a scrollbar on image itself in IE.
It has a extra row class above the credit content. Once I removed the row class then it shows properly.

![image](https://cloud.githubusercontent.com/assets/10654702/6401826/39ca6f6c-bdd1-11e4-9dd4-a8ad4578a4af.png)

[2015-02-26 21:09] LaurentGoderre commented on #6567
they might be but I'm not sure how reliable it will be

[2015-02-26 21:12] LaurentGoderre commented on #6575
@b0uch3 we do not use the Bootstrap components. I believe we have a solution on the way for this. Was it you @Pacoup that was working on it?

[2015-02-26 21:23] neoinsight commented on #6567
@LaurentGoderre Yes, looks like you are right. Because even suppressing the dropdown on a numeric HTML5 field looks very complex.  Too bad.

[2015-02-26 21:48] #6533 closed

[2015-02-26 21:51] pjackson28 commented on #6575
We use [collapsible alerts](http://wet-boew.github.io/v4.0-ci/demos/collapsible-alerts/collapsible-alerts-en.html) instead as it was determined that the alerts should still be available, just taking up considerably less space.

[2015-02-26 22:01] Pacoup commented on #6575
@LaurentGoderre Yup.

@b0uch3 And @pjackson28 is right, we did collapsible alerts instead.

[2015-02-26 22:02] naptash opened #6577 "Calendar of Events: WET3 code in WET4 documentation"
Just an FYI, http://wet-boew.github.io/v4.0-ci/docs/ref/cal-events/cal-events-en.html

Still show WET3 code almost entirely.

[2015-02-27 14:18] tascinc opened #6578 "GoC Web Usability Theme"
Menus are appearing shifted to the right significantly... why is that?

Also, form labels that wrap are automatically right-justified. Very odd behavior...

[2015-02-27 14:39] LaurentGoderre commented on #6575
@b0uch3 does that work for you?

[2015-02-27 14:44] LaurentGoderre commented on #6578
The first issue is a duplicate of https://github.com/wet-boew/theme-gcwu-fegc/issues/189

For the second issue can you please add a screenshot. We have to determine if it's caused by the theme or WET core

[2015-02-27 14:44] LaurentGoderre commented on #6577
Thanks for pointing that out!

[2015-02-27 14:46] LaurentGoderre commented on #6577
@melodyma would you be able to take this on? It should be too much.

[2015-02-27 14:48] LaurentGoderre commented on #6567
Here's to hoping that Chrome jumps on the user testing band wagon!

[2015-02-27 14:53] pjackson28 commented on #6567
Probably would be good to raise this with the HTML5 spec as well. If certain behaviour is important or needs to be avoided then it should be spelled out in the spec. It likely will be easier to encourage browser vendors to align with the spec rather than to try and convince them to change something they've implemented that is not spelled out in the spec. Of course it is easier to get something int

[2015-02-27 14:56] melodyma commented on #6577
Yes, I can take this on!

[2015-02-27 15:26] LaurentGoderre commented on #6577
Sweet! Thanks!

[2015-02-27 15:28] LaurentGoderre commented on #6567
The spec is often written around what browser implement. Maybe it would be worthwhile to use the polyfill and create a design that works and then send the demo as an example with supporting evidence that ours perform better?

[2015-02-27 15:32] neoinsight commented on #6567
@pjackson28 @pcwsmith What I'd like to do is get some help to implement this version https://github.com/JamieAppleseed/selectToAutocomplete  which is pretty well the way it should work, then I could test it (starting March 9).   I don't understand what he means though about the jquery autocomplete.  You can see that he's addressed the same issues I was trying to solve by just using the datalist.

[2015-02-27 15:33] neoinsight commented on #6567
@LaurentGoderre Yes, exactly what I need. Sorry - we overlapped there. But am hoping the Appleseed stuff would help us create the design that works.

[2015-02-27 15:34] LaurentGoderre commented on #6567
This however means that the change might take years to get implemented

[2015-02-27 15:38] neoinsight commented on #6567
@LaurentGoderre Holy smokes - I had no idea.

[2015-02-27 16:09] b0uch3 commented on #6575
For a good number of alert cases I am running into, dismissal of the message and panel is preferred.  Otherwise we are left with a coloured panel and arrow that isn't needed on screen anymore.  Messages like "Successfully signed out" or "Record has been updated" do not need to persist.  There are really an unending set of cases where an alert can be dismissed.

In contrast, messages like a Privacy

[2015-02-27 16:13] GarthMartin commented on #6540
@RobJohnston yes it has worked for me as well.  Thanks.

[2015-02-27 16:24] tascinc commented on #6578
The odd right-justification of labels is related to the css class
'form-control' - left-justified if the label does not wrap (narrower than
view port) and right-justified if wider than the view port and forced to
wrap.

Romoving the class fixed that one.
On Feb 27, 2015 9:44 AM, "Laurent Goderre" <notifications@github.com> wrote:

[2015-02-27 16:28] b0uch3 opened #6580 "Datepicker"
I'm having a UX consistency problem when using the date type attribute in IE.

In my forms, I am implementing action buttons using input-group-addon.  However when I try and set a date field using type=date, the generated calendar icon cannot be attached the same way from what I can tell.

Here's what I'm trying to achieve along with what the datepicker documentation example creates.

![date-field

[2015-02-27 16:30] b0uch3 commented on #6580
Here's the .NET markup:

[code]

[2015-02-27 16:50] pjackson28 commented on #6575
There are no plans at this point to implement the Bootstrap JS (we only use the CSS framework). Why would you require the user to dismiss those messages? If they are no longer needed, and are transitory in nature, then you should remove them automatically (e.g., once the user has proceeded with other actions) and not require the user to put in the effort to dismiss the messages (particularly annoy

[2015-02-27 16:58] pjackson28 commented on #6580
What you are trying to do will be impossible to achieve with any browser that has native support for input type="date" (e.g., Chrome, Android browser, iOS Safari, Opera, etc) since the browser is in full control of applying and styling that button. The polyfill you are trying to style is only intended to replicate the native support that is available in other browsers and is not intended to provid

[2015-02-27 18:02] Joberrr opened #6581 "Links for latest news not working on institution template page (grid system medium)"
Concerning institution-en.html line 165.
Links for the 'Latest' news items with photos will not work when the browser window size is medium (col-md-6).  The links will work without issue when the browser window is large (col-lg-4) or when it is small (single column).

Example page (be sure to resize browser to medium layout size):
http://www.canada.ca/en/gov/dept/transport.html

[2015-02-27 18:09] b0uch3 commented on #6580
Thanks. That's what it looked like to me.  however, your example displays the button right beside the field, albeit without attaching it to the field.  I can't replicate that. I'm not sure why.  I'm hooked in to version 4.0.10.

I've been looking at other components, and the only one that I think I'll have full control over which will allow me to add a trigger button the way I need to for consiste

[2015-02-27 18:29] LaurentGoderre commented on #6578
What version are you using?

[2015-02-27 18:37] tascinc commented on #6578
4.10. I see that 4.11 was released last week. I haven't applied it yet to
my test site.
 On Feb 27, 2015 1:30 PM, "Laurent Goderre" <notifications@github.com>
wrote:

[2015-02-27 18:44] pjackson28 commented on #6580
Why would you need to enforce that consistency across browsers? Wouldn't it be better to rely upon the calendar support that users would be familiar with already? What works well for users on one browser may work very poorly for users on another (particularly when dealing with touchscreens and mobile devices). For instance if an iPhone or iPad user is familiar and comfortable with using the date p

[2015-02-27 19:06] LaurentGoderre commented on #6578
This issue sounds familiar....

[2015-02-27 19:06] #6574 closed

[2015-02-27 19:09] pjackson28 commented on #6581
This looks like issue that is specific to the Canada.ca theme. If so, please close the issue here and refile in wet-boew/GCWeb as it will likely have to be addressed in that repository.

[2015-02-27 19:43] #6581 closed

[2015-02-27 19:51] LaurentGoderre commented on #6567
Seems like my instinct was partially right. Without using any CSS, the list does not start at the bottom but at the top

![chromedatalist](https://cloud.githubusercontent.com/assets/1090826/6419971/fc92c742-be8f-11e4-933f-a047a61252a5.png)

[2015-02-27 19:56] b0uch3 commented on #6575
I didn't realize that none of the JS were included. The alerts are typically added via a postback.  It'd be nice to provide the ability to dismiss them for the majority of users though.

[2015-02-27 19:59] LaurentGoderre commented on #6567
Nevermind...whether it's starting at the top or bottom depends on the position on screen

[2015-02-27 20:06] LaurentGoderre commented on #6567
I can hide the down arrow by using the following CSS

[code]

[2015-02-27 20:07] pjackson28 commented on #6575
I was more suggesting having a status messages area (or even a log area) rather than adding a new alert for each item. That way you can have a clear messages button if you don't want to remove the messages automatically (and users can dismiss all messages at once rather than one at a time) and can make it an aria-live region so screen readers will actually get the messages. That way you could just

[2015-02-27 20:23] pjackson28 commented on #6567
Looks like someone already filed the datalist scrolling issue with Google: https://code.google.com/p/chromium/issues/detail?id=375637

[2015-02-27 20:35] LaurentGoderre commented on #6567
@neoinsight would you be able to apply that code to your test site so that we can test before applying it to WET?

[2015-02-27 21:02] vallieresc opened #6582 "Anyway to see the changes made to the theme files?"
I've looked through your changes but it doesn't list any changes to the theme templates. I seem to be getting huge SVG images when upgrading from 10 to 11.

[2015-02-27 21:05] pjackson28 commented on #6582
Which theme is this occurring in? If it is the Canada.ca theme then you should file the issue in wet-boew/GCWeb as they would know what changed. You could also look at the differences between the v4.0.10 and v4.0.11 tags in that repo to see what actually changed.

[2015-02-27 21:06] pjackson28 commented on #6582
I should also mention that you could go to the file in question on the repo and look at it's history to find out all the changes that were made, including the commits where the changes were made (which would have messages).

[2015-02-28 21:56] neoinsight commented on #6567
Summary of status of this issue:
1. There is a bug in Webkit browsers that prevents scrolling through the dropdown list
2.  Another bug in Safari in which the dropdown format is displayed in a broken way.
3. Another bug that causes the dropdown to be displayed from the last items in the list (e.g. the s-z section instead of a) depending on the size of the browser window.
4. The Wet team will look

[2015-02-28 22:36] neoinsight commented on #6567
Summary of status of this issue:
1. @LaurentGoderre I have applied that code to just the page on the site, and yes, it does appear to work. Combined with the placeholder I have added that says 'Start typing...', this will hopefully people avoid the known Chrome issue completely. I will report the usability testing results here.
2. In Safari, another bug causes the dropdown format to be displayed w

[2015-03-01 14:53] neoinsight opened #6584 "Form Validation Input Field Stays Red after Error is Cleared & Is Red for No Error"
1. In usability testing of form fields, some participants noticed that after they had cleared a validation error, the field outline remains red. It should revert back to black once the validation passes.

2. If a min or max date is applied to a Datepicker Polyfill input with validation, the field turns red once it gains focus, before the person has even entered a date, and it stays red afterwards,

[2015-03-02 00:36] DavidMacDonald opened #6585 "Is there a menu bar where the top level is a link, with no dropdown?"

[2015-03-02 14:09] vallieresc commented on #6582
I'm using web usability found it on Wet-boew / theme-gcwu-fegc

[2015-03-02 14:09] #6582 closed

[2015-03-02 14:25] pjackson28 commented on #6585
Yes, you just leave out the <code>ul</code> for the sub-menu and it will behave like a regular link with the extra keyboard and WAI-ARIA enhancements.

[2015-03-02 14:30] pjackson28 commented on #6585
Here is an example:

[code]

[2015-03-02 16:10] LaurentGoderre commented on #6567
@zachfalsetto can you look into this with your Safari?

[2015-03-02 17:15] LaurentGoderre opened #6586 "Optimize table parser plugin"
The table parser has a lot of code duplication and sub-optimal code. @duboisp please review and fix.

[2015-03-02 18:59] #4621 closed

[2015-03-02 19:37] LaurentGoderre commented on #6572
@E1D1 any update on this?

[2015-03-02 20:39] jvanulde commented on #6487
Can you check to see what eventListeners have been added to "featureLayer" and let me know if "onFeaturesAdded" is there?

[2015-03-02 21:21] LaurentGoderre commented on #6558
@pcwsmith @neoinsight what do you think about this prototype

![datepickerprototype](https://cloud.githubusercontent.com/assets/1090826/6450761/17434728-c0f8-11e4-8c0f-0e9650d7ee5e.PNG)

[2015-03-02 22:12] neoinsight commented on #6558
Oh hey, that would really help! Year is obvious, and no Go button.

[2015-03-03 01:13] melodyma commented on #6577
@LaurentGoderre - The overview documentation for Calendar of Events is missing Ajax and Fluid-width Calendar that is in the details page. Should that be in the overview?

[2015-03-03 07:11] E1D1 opened #6587 "Date picker icon not displaying"
Hi,

When generating the date picker using the Jquery's command .append(), The calendars glyphicon is not showing up.

[code]

Thankx for your help

[2015-03-03 15:51] nrustand92 commented on #6534
Thanks @RobJohnston!
@LaurentGoderre would you or someone else be able to implement this feature on a working example?
If not, that's ok, just asking :)  thank you in advance.

[2015-03-03 15:53] LaurentGoderre commented on #6534
Eventually maybe but we are a bit busy right now

[2015-03-03 16:08] CalvinRodo commented on #6587
Are you manually triggering the wb-init.wb-date event as per the documentation?

http://wet-boew.github.io/v4.0-ci/docs/ref/datepicker/datepicker-en.html

[2015-03-03 17:12] CalvinRodo opened #6589 "Officially Supported Browsers"
Is there a list of the versions of each major browser that are officially supported by WET 4?

[2015-03-03 17:20] LaurentGoderre commented on #6589
duplicate of #6341

[2015-03-03 17:21] #6589 closed

[2015-03-03 17:39] LaurentGoderre commented on #6558
Here's an updated look
![datepickerprototype2](https://cloud.githubusercontent.com/assets/1090826/6468321/480f0c84-c1a2-11e4-8797-a71675696133.PNG)

[2015-03-03 17:54] LaurentGoderre commented on #6558
@neoinsight one issue I have with this design is I have nowhere to put an icon for closing the dialog. Selecting a value, clicking outside or pressing escape all close the dialog but is that enough or do we absolutely need a close icon?

[2015-03-03 18:01] neoinsight commented on #6558
Everyone I saw clicked outside to close. I didn't even know there was a close icon! So I think we could live without it. Tabbing to next field would close it too?

[2015-03-03 18:24] nrustand92 commented on #6534
no worries thx!

On Tue, Mar 3, 2015 at 10:53 AM, Laurent Goderre <notifications@github.com>
wrote:

[2015-03-03 18:24] LaurentGoderre commented on #6558
Not sure.....it would depend on the keyboard navigation we would decide one. If arrow keys navigate in the calendar then tab key could move the cursor to the next field or element in the tabindex (a bit like the menu behaves) What do you think?

[2015-03-03 19:56] Grim-GH opened #6591 "HELP? - Menu Plugin :: Having an issue on mouseover [Con't]"
Continued from: https://github.com/wet-boew/wet-boew-styleguide/issues/241

Added the logic to pull the MenuItemID from the DB and use it as the ID and href, as well as encoding the ampersands, as per Laurent's suggestion in the original thread.
New menu code on page load.
[code]

Still getting the disappearing menu onmouseover behaviour. -.-
For a brief moment I'm able to mouseover the links and

[2015-03-03 20:36] Wenifred opened #6592 "Multimedia Player - Video: Closed captions"
The closed captions do not seem to be working on our videos any more. The black box pops up but the text doesn't show.  I am seeing the same thing on your multimedia player page: http://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-en.html

[2015-03-03 21:03] LaurentGoderre commented on #6591
Doesn't seem likely. Do you have any third party or custom JavaScript that could be creating a conflict? Is there any error in the console?

[2015-03-03 21:03] neoinsight commented on #6558
Right now, tabbing won't open the calendar at all anyway. Tab stays in the text field for the date which makes most sense for a screenreader user. So goes from YYYY, to MM to DD to next field. Not sure how a screenreader user could even open the calendar. But if they do, tabbing gets stuck in it - can't get out via tab. So let's do what you suggest above, move to next element in the tabindex.

[2015-03-03 21:10] LaurentGoderre commented on #6558
@dfarough @mysticjeff what do you think about that?

[2015-03-03 21:34] pjackson28 commented on #6558
Note that the keyboard navigation was modelled after the WAI-ARIA authoring practices design pattern for the date picker (http://www.w3.org/TR/wai-aria-practices/#datepicker) so we should ensure that at a minimum we stay aligned with those. It is very specific about keyboard begaviour.

Also a comment about a close button, we have it on all other overlays and popups so it would probably be a good

[2015-03-03 21:36] LaurentGoderre commented on #6592
Oooh the damage one missign space can do.....Thanks for bringing it up!

[2015-03-03 21:38] #6592 closed

[2015-03-03 21:39] LaurentGoderre commented on #6592
It's fixed in the latest code.

[2015-03-03 21:42] LaurentGoderre commented on #6558
The date picker isn't quite like an overlay though and adding the button is likely to cause issues on touch devices when the user will accidentally touch the close button instead of the next button.

[2015-03-03 21:52] LaurentGoderre commented on #6558
Also....Ctrl-PageUp changes tabs in Firefox which mean that we can't implement it in a way where it meets everyone's expectations. Also it seems like those instructions would make sense to a screen reader user(except for the change year) bit not necessarily to a sighted keyboard only user.

It seems like the current one isn't meeting the ARIA spec exactly either so I think we will have to create a

[2015-03-03 22:05] Wenifred commented on #6592
:) Perfect thanks!

[2015-03-03 22:29] pjackson28 commented on #6558
We can add additional keyboard support but the minimum should still meet what is required by WAI-ARIA. We could do more harm than good if we are faithful to the WAI-ARIA states and properties but not the keyboard requirements. That happened a while back with the menu bar where we went with a hybrid keyboard approach (supported arrows and tabbing) and it ended up causing a lot of screen reader user

[2015-03-04 13:37] Grim-GH commented on #6591
Removed all the JavaScript that gets included and tested again. Same issue.
Also bumped up to 4.0.11. Same issue.
Just to make sure it wasn't the web server I dumped the demo files on the server and tested. That works.

Forgot to mention in the last post that "Home" and "Logout" work. It's seems to be only the inner/child objects that misbehave.
Here's my whole `<header>`.
[code]
`<% newBuildMenu

[2015-03-04 15:00] MattMoore-GOC opened #6594 "How are views of YouTube Multimedia Player tracked in YT Analytics?"
Looking at the code, it does not appear that the YouTube Multimedia Player uses YT's embed code to display the video. My question is how a view of the video in the WET player is recording by YouTube's analytics. Will they be counted as it they were played on the video page itself? As an embed? Are they tracked at all by YT?

[2015-03-04 15:11] matvez opened #6595 "polyfill (date picker) and ASP.NET UpdatePanel / date picker issues on ASP.NET UpdatePanel post back"
On post back a WET polyfill date picker inside an ASP.NET UpdatePanel is lost. The UpdatePanel reloads existing markup and destroys the existing polyfill. How can I reinstate the polyfill date picker inside that UpdatePanel on post back?

[code]

[2015-03-04 15:12] pjackson28 commented on #6591
Do you have a working example we can look at or can you post the rendered code you see in Firebug or Chrome Developer Tools? Would be helpful to see the resulting code after the JavaScript enhancements have been applied (so can compare with live working examples).

Also, can you reproduce the issue on the WET working examples site or is it only on your local instance? Also, which browsers can you

[2015-03-04 15:14] LaurentGoderre commented on #6558
that would make the calendar widget HUGE though

[2015-03-04 15:17] pjackson28 commented on #6594
It doesn't use YouTube's embed code but it does use YouTube's chromeless player API. So it should update YouTube's analytics like an embed does. If it doesn't then that would be an issue with YouTube's chromeless player API.

[2015-03-04 15:20] LaurentGoderre commented on #6594
If it doesn't, it's fairly easy to track those on your own.

[2015-03-04 15:21] pjackson28 commented on #6558
Then that would be the case for every other popup, OS component, OS window (including browser windows and tabs), etc. out there. They all make room to fit the "X" button in their interfaces so I don't see why it would be an issue here. Why would we go against the common convention just to save some space?

[2015-03-04 16:04] LaurentGoderre commented on #6595
What does your postback do? It sounds like it doesn't refresh the page but changes the DOM

[2015-03-04 16:18] matvez commented on #6595
On button OnClick event will trigger a partial postback at UpdatePanel level. This loses the polyfill date picker icon.

        protected void btn_Click(object sender, EventArgs e)
        {
            //empty
        }

[2015-03-04 16:22] Grim-GH commented on #6591
Found it. \*facepalm\*
Was adding `class="item"` to the `<a href="">` child elements, when I shouldn't have.

Before:
[code]
After removing `class="item"` from newBuildMenu() logic:
[code]
Problem solved. :)

[2015-03-04 16:25] bsouster opened #6596 "Multimedia player: youtube demo not working"
We noticed the Youtube Mutlimedia player demo isn't loading up:
http://wet-boew.github.io/wet-boew/demos/multimedia/multimedia-youtube-en.html

I tried the same demo from the WET package on our server and it's working perfectly (v4.0.9).
Maybe connected to the caption issue recently discovered?

[2015-03-04 16:26] LaurentGoderre commented on #6595
I would strongly recommend not using an UpdatePanel and rely on our Form Validation instead of the server side .NET way.

[2015-03-04 16:28] LaurentGoderre commented on #6596
We really need unit test for this plugin!!!Thanks for letting us know

[2015-03-04 16:30] LaurentGoderre commented on #6591
These little problems are hard to find! Nice catch!

[2015-03-04 16:30] #6591 closed

[2015-03-04 17:23] matvez commented on #6595
The UpdatePanel is used for an internal web application and not Form Validation related. I use your polyfill datepicker for any date related input fields. The above code sample is a “bare-bones” code sample displaying the issue when using a polyfill datepicker with an UpdatePanel. On my side, the real issue arises when using ASP.NET controls (even complex aspx pages) containing lots of CRUD operat

[2015-03-04 17:29] lucas-hay commented on #6594
@MattMoore-GOC are you currently using Google analytics on your site?

[2015-03-04 19:36] LaurentGoderre commented on #6595
The problem is that by using the UpdatePanel, elements that are added to the page are not enhanced like the elements that exist when the page loads. You will need to create a script to re-enhance all elements after the UpdatePanel makes a change to the page.

[2015-03-04 20:04] #6596 closed

[2015-03-04 21:29] matvez commented on #6595
That is exactly what I want. Any ideas on how to create such a script to reload the polyfill? What do I need to call from the WET in order to reload that polyfill date picker?

[2015-03-04 21:31] dfarough commented on #6558
First of all I think that loosing the close button would cause problems for some users.  having more ways to exit is best I think.

What are those buttons for?  do they move back and forward a year, or by a month?  If you get to select the month and year, are they really necessary?

If we are trying to keep to AREA keyboard behaviour, then we need to fix the arrow navigation within the date grid.

[2015-03-04 21:45] LaurentGoderre commented on #6558
@neoinsight do you think the arrows have value? I think that perhaps they provide a bit more speed in some scenario but maybe we can get away with removing them.

[2015-03-04 21:48] LaurentGoderre commented on #6595
[code]

[2015-03-04 21:49] neoinsight commented on #6558
The arrows have value for short-term dates. People definitely used them and expect them to move by a month. Agree they duplicate the month picker, but for just one or two months, it's faster - especially when looking at choosing a date that's at the end or beginning of a month.

[2015-03-04 22:28] LaurentGoderre commented on #6577
Hmmm. I don't know. I am working on the calendar right now. We should focus on fixing the issue and then we can revisit when the calendar work is merged

[2015-03-04 22:42] mysticjeff commented on #6558
I agree with David on this.

-----Original Message-----
From: dfarough [mailto:notifications@github.com]
Sent: Wednesday, 04 March, 2015 4:31 PM
To: wet-boew/wet-boew
Cc: Stark,Jeffrey [NCR]
Subject: Re: [wet-boew] Datepicker bug on Firefox? (#6558)

First of all I think that loosing the close button would cause problems for some users. having more ways to exit is best I think.

What are those but

[2015-03-05 14:02] CalvinRodo commented on #6587
@e1d1 can this be closed? Did manually triggering the plugin fix this?

[2015-03-05 14:27] LaurentGoderre commented on #6551
Maybe Feeds, Share and Toggle too

[2015-03-05 15:04] matvez commented on #6595
Thanks, I am try out to load the proper request. It should look something like this:

<%@ Page Language="C#" MasterPageFile="~/Wet.Usability.Intranet.Master" AutoEventWireup="true" %>

<asp:Content ID="HeadContent" ContentPlaceHolderID="HeadContent" runat="server">
    <script>
    </script>
</asp:Content>
<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="server">
    <form i

[2015-03-05 16:27] LaurentGoderre commented on #6595
You can't use the document ready because an ajax call does not re-trigger the ready event. You need to rely on the .NET event for the UpdatePanel, if any.

[2015-03-05 17:02] LaurentGoderre commented on #6595
.NET out of the box is really really dirty but here's how you can do it
http://stackoverflow.com/questions/1152946/how-to-have-a-javascript-callback-executed-after-an-update-panel-postback

[2015-03-05 18:01] matvez commented on #6595
On the example below, both alert("pageLoad"); and alert("EndRequestHandler"); work yet the next line $("input[type=date]").trigger("wb-init.wb-date"); does not work :(

<%@ Page Language="C#" MasterPageFile="~/Wet.Usability.Intranet.Master" AutoEventWireup="true" %>

<asp:Content ID="HeadContent" ContentPlaceHolderID="HeadContent" runat="server">
    <script>
    </script>
</asp:Content>
<asp:Cont

[2015-03-05 18:29] LaurentGoderre commented on #6595
Hard to say why without seeing what markup .NET generates

[2015-03-05 18:33] LaurentGoderre commented on #6595
I just tested and that code works perfectly for me. Can you confirm that .NET outputs the form as an input of type date?

[2015-03-05 18:35] matvez commented on #6595
You tested the code in .NET ? here is the txtDate source output:

<input name="ctl00$MainContent$txtDate" id="MainContent_txtDate" type="date" data-rule-dateISO="true" />

[2015-03-05 18:36] bellisrartech commented on #6553
I have the exact same issue as GarthMartin in FireFox (currently v36) and IE8 and IE10. I get a gray line with the calendar icon shifting to the left the very first time that I click on the calendar glyph after the page has loaded initializing. After that the calendar control displays properly. Here is my markup:
<div class="form-group">
 <label class="col-md-3 control-label" for="date1"><span cla

[2015-03-05 18:48] CalvinRodo commented on #6595
I can confirm that using type="date" on an Asp.Net text box will output a input with type="date".
This
[code]
Renders as
[code]

This is our app running on WET 3, but it does demonstrate an input of type date being rendered properly.

[2015-03-05 19:57] bomarleau commented on #6415
Yes, we can close this. Thanks for the replay.

[2015-03-05 19:57] #6415 closed

[2015-03-05 20:11] LaurentGoderre commented on #6595
You could try

[code]

To make sure that the selector works

[2015-03-05 20:30] NPhilouze opened #6599 "Date picker: No visible area to trigger picker when icon is missing"
Most browsers have the ability to force font styles which results in icons not being displayed.
Since the date picker polyfill is triggered by clicking the calendar icon, the absence of icons affects its functionality:
Default fonts: ![old](https://cloud.githubusercontent.com/assets/11313678/6513872/34a507f6-c34c-11e4-9f05-6ff2dda87dfc.JPG)
Forced fonts: ![oldforcedfont](https://cloud.githubuserco

[2015-03-05 20:44] matvez commented on #6595
The output is "1"

[2015-03-05 21:01] LaurentGoderre commented on #6595
I don't see any reason why this wouldn't work.....

[2015-03-05 21:03] LaurentGoderre commented on #6599
It's not quite a bug and this should really be fixed at the browser level but I do kind of link this is a fail safe. :+1:

@pcwsmith, what do you think?

[2015-03-05 21:35] pjackson28 commented on #6599
Note that this originally was in a button but thanks to the overly aggressive form handling of IE, we had to change it to a link. That was because people were accidentally triggering the date picker when trying to submit the form (since IE was activating the first button it could find in the form). We could replicate the button look with CSS but we should be careful about implementing actual butto

[2015-03-05 21:35] DK-TBS commented on #6599
Hi @LaurentGoderre!  Dave here.  Peter sits next to me, and we both took a look... we both agree that the fix is worthwhile.  A blank box isn't ideal, but it's a hell of a lot better than seeing nothing at all.

Oddly enough, we suffer from the same problem here, but for a different reason.  Our browsers aren't doing any kind of forced fonts thing, but our firewall seems to smack down any and all

[2015-03-05 21:39] DK-TBS commented on #6599
Oh no, so even the button fix might not be an option?  Someone needs to find a way to just delete IE from the internet.

[2015-03-05 22:09] nschonni commented on #6595
.Net and Visual Studio did require patches at one point to actually produce type=date on the input tags.

[2015-03-05 22:46] shawnthompson commented on #6599
:+1:

[2015-03-06 13:30] NPhilouze commented on #6599
While it's true that you won't see the arrows in the polyfill with forced fonts, you're still able to click the month and use the month and year dropdown menus.

I've replaced the button in my example to the <a> tag that was used initially changing input-group-btn to input-group-addon.
Since the clickable area is the icon itself, it's difficult to find it when it's not visible, even with the input

[2015-03-06 14:46] LaurentGoderre commented on #6599
@NPhilouze has a good point there!

[2015-03-06 15:03] DK-TBS commented on #6599
Very true;  the prev/next arrows are really only a convenience, a shortcut past the dropdown business.  Not having those icons is a smaller problem than the missing calendar button.

Glad to see that the text field will still accept direct input, so none of this should represent a total barrier for users, at least.  The calendar is cute, but not crucial  :)

[2015-03-06 15:58] causerdan opened #6600 "AJAX Ligtbox close button Problem"
I found a small bug in the modal lightbox.  I could only find this in the one instance of this plugin but the close button ends up moving the right side of the screen.  You can actually see it on the demo page:  http://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html

I was looking at the Ajax Example 1.

![modallightboxerror](https://cloud.githubusercontent.com/assets/8202566/6528156/1c

[2015-03-06 16:11] ikug commented on #6548
Has this issue been fixed and added to 4.0.12 release?
If yes, how the images will be displayed in thumbnail? Let's see if I have 20 images in thumbnail...

[2015-03-06 16:37] McEmily opened #6601 "Mega Menu not displaying in IE8 (WET 4.0)"
Among other issues with IE8 (including svg objects displaying as xml-style code) the biggest issue our intranet application is having is the mega menu is not displaying at all in IE8, thus eliminating any form of navigation through our application. Granted, I am running IE11 with IE8 compatibility mode, which only mimics the IE8 browser, but this is a concern to my team because the widespread upda

[2015-03-06 16:44] pjackson28 commented on #6601
You can't rely on any testing with IE11 running in IE8 compatibility mode as emulation in IE11 is badly broken. We have repeatedly seen in the past issues being raised with IE8 compatibility mode that don't occur in a true IE8 browser.

As for why the SVG objects are not rendering correctly, it could be your server is not configured correctly to support SVG. Another thing you should look into is w

[2015-03-06 17:02] pjackson28 commented on #6600
Thanks for catching that. Will be fixed by PR #6602.

[2015-03-06 18:11] #6600 closed

[2015-03-06 18:35] pjackson28 commented on #6584
Will be fixed by PR #6603.

[2015-03-06 19:21] LaurentGoderre commented on #6601
@McEmily you should get these IE VM to test in a true IE environment

https://www.modern.ie/en-us

[2015-03-06 19:22] LaurentGoderre commented on #6548
This has not yet been fixed no.

[2015-03-06 19:23] #6584 closed

[2015-03-06 20:07] biljanap opened #6604 "Question regarding text case for label element"
I am moving an existing application to WET4. I noticed that text case has not been used consistently for <label> elements. Sometimes sentence case is used and sometimes each word is capitalized.
I would like to advise the client to go one way or another. I checked Form validation example (<a href="http://wet-boew.github.io/v4.0-ci/unmin/demos/formvalid/formvalid-en.html">http://wet-boew.github.io/

[2015-03-06 20:15] NPhilouze commented on #6604
It's generally accepted to follow the Microsoft UI guide lines which would be sentence-style capitalization: https://msdn.microsoft.com/en-us/library/dn742478.aspx

Source: http://ux.stackexchange.com/questions/28172/what-are-some-reference-works-for-capitalization-in-ui-text

[2015-03-06 20:18] biljanap commented on #6604
@NPhilouze Thanks. That's what I go with for new applications.

[2015-03-06 20:53] LaurentGoderre commented on #6604
@pcwsmith, @DK-TBS what are your thoughts on this?

[2015-03-06 21:09] pcwsmith commented on #6604
Overall we are following a sentence-case style for labels and headings in Canada.ca screens. But I'm sure we haven't been 100% consistent in our documentation either.

[2015-03-06 21:50] pjackson28 commented on #6604
Note PR #6608 switches the labels for form validation, date picker and feedback form to sentence case. We welcome any PRs for switching over any other text to sentence case that we missed or even help identifying what we missed.

[2015-03-09 15:49] DHaslip opened #6609 "H1 property="name""
Would someone be able to explain what the <code>property="name"</code> attribute is used for on the <code>&lt;h1&gt;</code>  element?  It doesn’t look like it’s required as “Skip to Main Content”  works correctly without it in both Firefox and IE11.  And normally undefined attributes would be prefixed with <code>data-</code>, so I'm not sure where <code>name</code> is used.

[2015-03-09 16:10] pjackson28 commented on #6609
It is HTML Data, in particular RDFa 1.1 Lite + Schema.org. As stated in the Standard on Web Interoperability:
"HTML data is an approach for embedding and extracting machine-readable content in Web pages. HTML data is used in a variety of ways, assisting with the retrieval, extracting and re-use of content in Web pages by Web browsers, search engines, and data re-users." (http://www.tbs-sct.gc.ca/p

[2015-03-09 16:51] pjackson28 commented on #6570
@shawnthompson Could you please describe what the incorrect behaviour is? I'm assuming it has something to do with Geomap injecting some of the content outside of the tabbed interface but just wanted to confirm what is the actual issue (also makes for more helpful issue tracking).

[2015-03-09 16:59] shawnthompson commented on #6570
The geomap will not show up inside the tabs, I had to move it outside of the tabs to show the client what it would look like if it did show up.

[2015-03-09 17:16] pjackson28 commented on #6570
@shawnthompson Did it show up for you at all in the tabs? When I tried it, some content (not the maps) appeared in the tap panel while the rest (including the maps) appeared below the tab panel. Did you experience that behaviour as well?

[2015-03-09 17:51] shawnthompson commented on #6570
@pjackson28, It didn't show up at all but I'll try it again and let you know

[2015-03-09 18:00] junioro12 opened #6610 "Tables: Issues with Pager when using Server Side Processing"
We're trying to use the Tables control (http://wet-boew.github.io/wet-boew/demos/tables/tables-en.html) to display a large dataset...so we needed to enable server side processing.  It works actually quite well, however the pager at the bottom of the table seems incorrect.  If you select the next/previous links, its cycles through 33,000+ records just fine, calling for them a page at a time from th

[2015-03-09 18:02] DHaslip commented on #6609
Thanks.  A follow-up question:  Does the “skip to main content” link require the  <code>&lt;h1&gt;</code>   element of the page to have the property=”name” attribute?  Or is the  id=”wb-cont” attribute sufficient?

[2015-03-09 18:10] pjackson28 commented on #6609
The two are unrelated. The property="name" attribute is used to programmatically identify the webpage name when building the data structure for the page. It is effectively the same as metadata, where its absence would mean the parser would have to make assumptions as to what is the name of the resulting data structure. So both are needed, with <code>id="wb-cont"</code> being needed for the skip li

[2015-03-09 18:13] pjackson28 commented on #6609
Note also that html5 permits more than one h1 on the page (in fact all headings could technically be made into h1 if sectioning elements are used correctly). So you can no longer safely assume what is the name of the page (can't even rely upon the title element since often sites cram more than the page name in there). So that is why we need to be clear and unambiguous regarding what is the actual

[2015-03-09 18:25] biljanap commented on #6501
Anything new on this subject? I am in the process of implementing required fields and form validation for one of my applications and I would like to know if I should continue to rely on existing form validation example where both methods are used. Thanks.

[2015-03-09 18:32] Fu22yWu22y opened #6611 "Left nav wb-navcur not working properly"
I'm having issues with the left-nav and the css tag wb-navcur no generating properly.
it works fine an a fair amount of links but there some links that it doesn't work .

so far the only consistence i saw between a page links working properly vs not working properly is  if the "href" contains a  _   the  wb-navcur  doesn't get attributed

works
 href="/pro/Questionnaire/ProgramSelection/ProgramSel

[2015-03-09 18:33] shawnthompson commented on #6570
@pjackson28 , I updated my [sample page](http://servicecanada.github.io/GCWeb/contact/find-en.html)

[2015-03-09 18:33] shawnthompson commented on #6570
same results

[2015-03-09 18:35] pjackson28 commented on #6501
I can't remember the issue number but this was discussed at length. In essence the two approaches serve different audiences. Originally we were using just the "required" at the end of the label as that makes it programmatically available to all users (in particular screen reader users and text browser users). We then added the red asterisk at the start of the label (through CSS) because it was req

[2015-03-09 18:50] pjackson28 commented on #6570
I think I know what the issue is. I think Geomap caches a reference to the map container (and possibly other containers) which gets lost when the Tabbed interface gets enhanced, since the enhancement involves DOM changes. Those DOM changes are invalidating the previous reference to the map container (since it is a descendent of the elements that underwent DOM changes). Since the reference to the m

[2015-03-09 18:57] pjackson28 commented on #6570
@jvanulde I think the problem is in geomap-lib.js and how you are using <code>mapArray</code>. For instance you have getMapById and getMap which retrieve a cached reference based upon an id (rather than getting the map fresh).

A possible short term workaround (if it will take a while to deal with the invalidated object caching issue) would be to initialize Geomap after the Tab Interface is ready

[2015-03-09 19:07] pjackson28 commented on #6610
@junioro12 Thanks for catching that! It turns out an incrementer was being used instead of the old HTML when enhancing the pagination text for accessibility purposes. So the problem manifested itself when going beyond 5 pages (at which point the incrementer approach falls apart). Will be fixed by PR #6612.

[2015-03-09 19:45] junioro12 commented on #6610
Great...that was quick...I look forward to this release to get this fixed, should be before we launch our project, so that's excellent, thanks a lot!

[2015-03-09 20:09] robwloch commented on #6232
Just wondering if the Logout button should maybe have the colour btn-danger instead of btn-primary. Thoughts?

[2015-03-09 20:11] #6610 closed

[2015-03-09 20:49] pjackson28 commented on #6611
I can't reproduce the issue. I tried putting "/pro/Questionnaire/Application/Form/project_ident" as the href for one of the breadcrumb links and the href for one of the side menu links and the wb-navcurr class was correctly applied. It worked in the menu bar as well (to see if it worked in a different menu). Is there any mismatch between the breadcrumb link href and the side menu link href? If you

[2015-03-10 15:33] Fu22yWu22y commented on #6611
This happening in the side bar
i thought i was related to the _ but it might not be
i found on other page without the _ and it doesn't work
it's odd because when  i click Program Selection link  the "wb-navcurr" get attributed properly  but when i click anything beyond that the  "wb-navcurr"  doesn't get attributed

<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="wb-sec co

[2015-03-10 17:23] Fu22yWu22y commented on #6611
i was blind the href and the url did not match
thanks for the help !

[2015-03-10 17:23] #6611 closed

[2015-03-10 17:42] biljanap opened #6613 "Help text on form elements"
Are there any recommendations regarding the placement and the treatment of help text on form elements?
Our application requires us to occasionally use help text on both individual form elements and groups of elements (grouped in FIELDSET). Any suggestions and/or examples that would ensure that help text is read in Forms mode (Assistive technology)?

[2015-03-10 17:47] pjackson28 commented on #6613
If you want the help text read off in forms mode then the main options are:
1. Using the label element to associate the help text to a form field (1 to 1 relationship, should only use one label element per field since some screen readers have problems with multiple label elements).
2. Using the fieldset legend to associate the help text to multiple form fields (1 to many relationship)

[2015-03-10 17:50] biljanap commented on #6613
@pjackson28 this would work with short help text. Unfortunately our help text sometimes includes paragraphs and lists.

[2015-03-10 17:54] biljanap commented on #6613
Forgot to add that ideally help text would open at the user request (by selecting help button or link).

[2015-03-10 17:56] pjackson28 commented on #6613
What about providing a link to the longer help text? Usually links will remain in the tabbing order when in forms mode.

[2015-03-10 18:15] biljanap commented on #6613
@pjackson28 I was thinking about that and placing my help text on the same page because we don't want the user to navigate away from the page. It might work but it does not look as a very sophisticated solution and it's more like something that belongs to pre-WET4 age :o).
Would using a link to open a lightbox work? Would it be acceptable and accessible to place this link inside the label (before

[2015-03-10 18:38] RobJohnston commented on #6613
I've been wondering the same.  The table of contents on the forms page in the style guide does link to help text but that anchor is not actually on the page (http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html#forms-help-text).

One example that I have seen is from StatsCan (but it's just short descriptions):  http://open.canada.ca/en/forms/submit-your-app

[2015-03-10 18:43] biljanap commented on #6613
@RobJohnston I don't see that StatsCanada is using any mechanism (at least not an obvious one) that would make their short help description accessible by forms mode users but I might be wrong.

[2015-03-10 18:46] RobJohnston commented on #6613
Nope, just the only example that I've seen of a form with descriptions.

[2015-03-10 18:47] LaurentGoderre commented on #6613
I think placing the link for the help inside the label could be problenatic because there is already a behavior associated to clicking a label (focusing on the form element it's associated too) and users with mobility issues probably rely on this behavior. Adding a link in there could be disruptive

@dfarough  @mysticjeff what do you think would work best? Adding a link after the label and before

[2015-03-10 18:53] biljanap commented on #6613
@LaurentGoderre This is my concern as well. I tested the code I included before posting my issue. When part of the label element help link does not place the focus on form element. It opens lightbox but I admit it does not mean it's appropriate and accessible way of dealing with the issue. Any suggestion is welcome and very appreciated.

[2015-03-10 19:32] duboisp commented on #3268
This is not an issue anymore, as the default rendering location for the legend is at the bottom of the pie charts

[2015-03-10 19:33] duboisp commented on #3341
@duprasf are you still experiencing that issue in WET 4?

[2015-03-10 19:39] ikug opened #6615 "Video Not Playing in IE"
I am using CMS to render a page for video by WET 4.0.9.
For some reason from CMS, we have to put IE as browser IE 9 and doc IE8.
Now I found the video can't be played, but all of other browsers have no problem with it.
The issue is when I click "Play" button, then the console said: Object doesn't support property or method 'doPause', ie8-wet-boew2.min.js
![image](https://cloud.githubusercontent.co

[2015-03-10 19:43] duprasf commented on #3341
We did not move to WET 4 yet. This can be closed. I don't think we have that chart on the site anymore but will look at other chart when we move to WET 4.

[2015-03-10 19:43] #3341 closed

[2015-03-11 13:39] LaurentGoderre commented on #6615
@ikug the video can't play in Compatibility Mode because Compatibility mode is really broken.

Please see the section on Compatibility Mode to fix your issue

http://wet-boew.github.io/wet-boew/docs/server-en.html

[2015-03-11 13:42] #6615 closed

[2015-03-11 17:03] LaurentGoderre commented on #3268
@agagnon can you confirm that this is no longer an issue and that we can close?