[2018-05-17 20:27] EricDunsworth commented on #6930
It looks like the 4,095 selector limit only applies to IE9 and lower. According to [The Many Exciting CSS Limits of Internet Explorer](https://spaceninja.com/2015/03/31/ie-css-limits/), IE10-11 support up to 65,534 selectors per stylesheet.

Since WET technically only officially supports IE11+ nowadays, maybe there'd be value in modifying the build to generate an empty ie8-theme.css file and suppr

[2018-05-17 20:53] duboisp commented on #8358
Approved at the roadmap meeting.

Released as the Design decision 3 - https://wet-boew.github.io/wet-boew-documentation/decision/3.html

[2018-05-17 20:53] #8358 closed

[2018-05-18 15:19] LiamLowndes commented on #8386
I tried to reproduce the bug with the latest version of WET and the code sample you provided us but I was unsuccessful.

[2018-05-18 15:28] muling commented on #8386
so somehow got fixed in the later versions of WET?  We are using an older version of the template.

[2018-05-18 20:19] zzucco commented on #8317
Alright, so instead of making changes to the table plugin's code, we can instead solve both issues by using the `data-wb-tables` attribute. This can be used to specify the type of data in each column.

[code]

The `html ` type can properly sort strings, and the `formatted-num` type can handle numbers separated by spaces.

[2018-05-22 13:15] duboisp commented on #8386
@LiamLowndes can you test it in FF?

[2018-05-22 13:15] duboisp commented on #8386
@muling is there any error displayed in your FF and Chrome console?

[2018-05-22 13:43] muling commented on #8386
I didn't get any errors, just a couple of warnings.
The resource at “https://www.googletagmanager.com/gtm.js?id=GTM-TLGQ9K” was blocked because tracking protection is enabled.[Learn More]
real_time_e.html
Loading failed for the <script> with source “https://www.googletagmanager.com/gtm.js?id=GTM-TLGQ9K”.
real_time_e.html:1

[2018-05-22 15:58] LiamLowndes commented on #8037
I was able to reproduce the bug as described by Lucas.

[2018-05-22 16:58] PatrickMallette commented on #8317
Does this resolution mean that instead of having a relatively generic configuration for all of my tables I'll now have to customize each one just to have case insensitive sorting on alphabetic fields -- and that they'll be considered as HTML? What side effects does that introduce? Is this something that needs to be up-streamed to the DataTables project? It was working out of the box from my perspe

[2018-05-22 17:43] zzucco commented on #8317
There was a fix, but we wanted to avoid changing the code for the tables plugin as long as there was a workaround. Perhaps it is something we can implement in the future.

[2018-05-22 19:06] chyne opened #8396 "Is there a way to ensure my custom plugin init happens after the date-picker poly-fill?"
Is there a way to ensure my custom plugin initialization happens after the date-picker poly-fill has done it's thing?

[2018-05-24 18:46] chyne commented on #8396
My plugin is attempting to add a "clear" button for `input[type=date]`.
I am adding an `.input-group` and `.input-group-btn` wrappers and putting a link (styled as a button). My code is smart enough to realize if the datepicker polyfill has already added its own `.input-group` and `.input-group-btn`, and will in that case re-use those wrappers and it just adds my link/button. The problem I am faci

[2018-05-25 15:56] agagnon opened #8399 "Overlay with Date polyfill"
I have a date field in an overlay. In IE, a polyfill is used for the date field. When the calendar opens, the overlay closes because it loses focus.

Works fine in Firefox with the date field native support.

[2018-05-25 18:58] agagnon commented on #7611
I have the same issue with WET 4.0.27. Lightbox/Overlay (center modal) loading inline content. Datepicker shows up but does not populate the field. Any updates?

[2018-05-31 01:42] duboisp commented on #8396
@chyne can you share your javascript code that add the "clear" button?

[2018-05-31 01:44] duboisp commented on #8399
@agagnon What version of WET are you using and are you able to reproduce the issue with the working example: http://wet-boew.github.io/wet-boew/demos/datepicker/datepicker-en.html

[2018-05-31 12:47] agagnon commented on #8399
@duboisp I'm using 4.0.27. I can't reproduce the problem in that page base it only occurs when the date picker is in an Overlay.

Also in IE, when the date picker is in a Lightbox, the calendar opens, but clicking on a date doen't populate the text field.

[2018-05-31 18:08] PatrickMallette commented on #8317
If a fix is really needed couldn't you just suggest / upstream the fix to the DataTables project a need to render/sort based on localization? I found it very odd that the table would sort in the correct order when used out of the box, but not the wet 4 version. Yes, maybe there are issues with the internationalization aspect but that should be a bug on their project so it can get fixed for everyon

[2018-06-05 15:07] bsouster commented on #7631
**Another option:** Change colour of text and font weight.
People with vision disabilities could see that there is a change of colour, and for those minority who do not, the font weight supplements the emphasis.

[2018-06-05 16:14] sarasuri opened #8400 "Tabbed Interface: Tabs on Google Chrome using keyboard only"
Hi,
There is an issue accessing elements such links, form fields within the content of a tab in Chrome (tested in version 67.0.3396.62). The keyboard-only users are not able to access those elements.

Used the Tab and arrow key to select the Example 1 (first tab in Example 1). Then, try to navigate the content of the "Example 1" tab using the Tab key. But the keyboard focus jumped to the "Show the

[2018-06-05 17:15] SamarElAmir opened #8401 "Extra breakpoint for WET"
Hello,

There is a need of adding an extra breakpoint in WET for smaller mobile screens. The current breakpoints provided by WET4 are as follows:

![wet](https://user-images.githubusercontent.com/39964002/40991654-f6e30760-68e3-11e8-9291-b22aa31ad0c5.jpg)

The smallest screen size offered by WET is 768px, which is considered huge compared to smaller mobile screens, and causes issues. As an example

[2018-06-05 18:23] nschonni commented on #8401
The first column in your shot is the "Extra small" and is used for devices below 768. If you use a responsive emulator, you'll see how the `xs` classes behave. There is also an `xxs` classes that were added beyond the Bootstrap for below 479px https://github.com/wet-boew/wet-boew/blob/master/src/_variables.scss#L148

[2018-06-11 16:19] zzucco opened #8402 "IE11 - Menu elements not focusing when navigating with keyboard"
When navigating the mobile panel menu with the keyboard, some elements will not visibly change when they are focused.

Steps to reproduce:
1 - Go to any page with collapsible menu items (ex: [wet-boew content page](http://wet-boew.github.io/wet-boew/theme/content-en.html) or [canada.ca content page](https://www.canada.ca/en.html#mb-pnl))
2 - Shrink the screen and open the mobile menu
3 - Using the

[2018-06-12 14:03] zzucco commented on #8402
We can remedy this issue by forcing a style on a focused summary element, like so:
`#mb-pnl summary:hover, #mb-pnl summary:focus {
  background: transparent;
  color: #fff;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #fff;}`
This feels like just sidestepping the issue, though.

[2018-06-12 14:15] juleskuehn commented on #8400
I was able to replicate this issue.

[2018-06-12 15:27] bsouster commented on #8015
I don't see why the effort is worthwhile. Roman numerals are no more or less confusing to screen reader users than they are for any other users reading "IV" or "X". Making screen readers interpret them as numbers would make it **more** accessible to screen reader users than anyone else.

[2018-06-12 15:29] bsouster commented on #8015
@SBleeks which screen reader is not reading CSS list roman numerals styles incorrectly? I cannot reproduce the issue with NVDA.

[2018-06-12 15:34] grifare commented on #8015
Testing with NVDA, I have to say that this issue has already been resolved by NVDA at least.
I created a local file with an ordered list of 4 items, as seen below. Both lower and upper numerals are being correctly read as numbers, using Chrome, Firefox or IE.

[2018-06-12 16:00] SBleeks commented on #8015
@bsouster   If it's "too much effort" that is one thing, however, the user experience for roman numerals is not the same for sighted users and screen reader users. Obvious differences aside, the screen reader, the voice synthesizer speach engines phonetically pronounce vowel consonant combinations in those cases that have not been predefined in a speech dictionary.  So for example, "C" is "C' is "

[2018-06-12 16:16] SBleeks commented on #8015
-

[2018-06-12 16:58] grifare commented on #8015
A real user from our team has just tested roman numerals, using JAWS.
IE reads incorrectly
Chrome reads correctly
Firefox could not be tested

At this point, the issue seems to be a compatibility issue rather than an accessibility issue.

[2018-06-12 17:06] duboisp commented on #8402
@zzucco The ```<details>``` polyfills is defined here: https://github.com/wet-boew/wet-boew/tree/master/src/polyfills/details

[2018-06-12 19:30] bsouster commented on #8071
The issue is not arrow key navigation, rather screen readers do not read the sub-items or give users instructions.

[2018-06-12 19:47] grifare commented on #8071
NVDA reads everything perfectly, with all 3 browsers.

[2018-06-13 11:53] Bgolden67 commented on #8015
A discussion and testing with AWG  in the past settled on using <abbr title="Roman Numeral 5"> because in some instances it's very important to ensure the reader differentiates a roman numeral from a number, especially in legal documents.

[2018-06-18 19:04] dberthelotte opened #8404 "Working Example: Splash page - multiple meta tags"
When running the Canada.ca splash page against the W3C validator, we get the following error:
From line 15, column 1; to line 15, column 215
Canada.">↩<meta name="description" lang="fr" content="Le site Web du gouvernement du Canada fournit un point d…à tous les programmes, services, départements, ministères et organismes du gouvernement du Canada.">↩<meta

When looking at source code, we see a lo

[2018-06-18 19:07] jvanulde commented on #8404
By splash page you mean https://www.canada.ca/home.html?

[2018-06-18 19:10] jvanulde commented on #8404
I see:

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">

        <title>Canada.ca</title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="description" content="The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the

[2018-06-18 19:10] dberthelotte commented on #8404
Yes.

[2018-06-18 19:10] jvanulde commented on #8404
Can you point me to the validator being used?

[2018-06-18 19:12] dberthelotte commented on #8404
https://validator.w3.org/

[2018-06-18 19:15] jvanulde commented on #8404
Merci. Possible solution here: https://www.w3.org/International/questions/qa-http-and-lang

[2018-06-18 19:32] dberthelotte commented on #8404
That note seems to indicate and support that what's currently implemented shouldn't be done in HTML5.  Correct?

[2018-06-18 19:35] jvanulde commented on #8404
That's what it looks like.

[2018-06-18 21:35] BenTrem commented on #8404
Because of confusion and inconsistent implementation surrounding decision was to make the meta element with http-equiv set to Content-Language non-conforming in HTML. Should no longer use it in HTML5,  though technically not illegal in other types.

HTML5 made a concession for backwards compatibility: If  ... and if ... and if ... then a browser can (not must) ...

"**_One implication of HTML5 dro

[2018-06-19 05:18] nschonni commented on #8404
It is allowed now, but wasn't before https://github.com/validator/validator/issues/663

[2018-06-19 06:15] BenTrem commented on #8404
I do documentation to keep airliners from crashing.
That w3.org can't do change management says a lot about our society.

[2018-06-19 13:18] jvanulde commented on #8404
:laughing: @BenTrem

[2018-06-20 15:17] #8400 closed

[2018-06-21 02:34] jfksdca commented on #8024
I've done a lot of research on the accessibility of icon fonts.  There are established practices dating back to 2015 which make them perfectly accessible.  By that, I mean that every screen reader knows what to say if they are presented with a custom font that has the appropriate tags.  I agree that we won't be moving backward to use images for icons.  SVGs are beautifully rendered but I don't bel

[2018-06-22 15:27] muling opened #8407 "Tables: why do you use a down arrow for sort ascending?"
I find this to be counter intuitive to use an up arrow for descending and a down arrow for ascending.

[2018-06-22 17:55] nschonni commented on #8407
Do you have an example? On the demo table http://wet-boew.github.io/wet-boew/demos/index-en.html the up arrow is highlighted when sorting accending

[2018-06-22 18:15] muling commented on #8407
Ok you are right.  I just realized that the arrows themselves are not clickable and it is the column header that triggers the sort change.  I was not expecting that.  I assume that we do it this way because the arrows are too small and it is easier for users to click on the entire header?

We can close this item.

[2018-06-22 18:34] #8407 closed

[2018-06-22 18:39] nschonni commented on #8407
I came across https://github.com/wet-boew/wet-boew/issues/5209 when trying to see what previous information/reason we had for changing this

[2018-06-23 10:19] jsguy1 opened #8408 "Using a white badge on a custom background colour"
Hello,

I want to use the white badge class at:
http://wet-boew.github.io/wet-boew-styleguide/v4/design/badges-en.html

However, it seems that it only appears in white when it is used on the .btn-primary and .btn-info background colours. How would I make it so that it appears in white on a custom background colour (#686868)? I am not using it on a button but on a regular background colour.

Any he

[2018-06-26 14:21] zzucco opened #8409 "Changes needed to placeholder styling to meet contrast requirements"
To meet the WCAG requirement 1.4.3 on text contrast, we need to make changes to the way we're styling placeholder text.

**tl;dr** we should either set placeholder text to #767676, #636363 or to #000 + 0.56 opacity.

What follows is my research and analysis of the issue:

First off, the colour of the text depends on the background of the element it is typed on. Most of our input elements are white

[2018-06-26 14:47] RobJohnston commented on #7001
I still see this as a problem in 4.0.27.  Here's the CSS to make the override mentioned by @thekodester  until a fix is done (improvements welcome):
[code]

[2018-06-26 14:55] juleskuehn opened #8411 "Tabbed Interface: Mobile fallback can become keyboard inaccessible"
Tested in Chrome (current) and IE11.

On the mobile detail/summary fallback, functionality is provided to collapse the currently expanded accordion section. After tabbing outside of the accordion, it cannot be refocused using the keyboard (it is removed from the tab order).

To replicate, resize browser window to trigger the mobile fallback. Tab through to the currently expanded accordion section.

[2018-06-26 15:32] TimCadieux opened #8412 "Calendar of Events: From Database"
I would like to pull a list of list of events from our database and then build a calendar on the fly.

Using the below, unfortunately, it merely throws a Cannot read property 'getAttribute' of undefined` on (wet-boew.js:2138)

ideas would be appreciated, its been a while since Ive had to use these tools.

[code]
[code]

[2018-06-26 15:33] duboisp commented on #8071
That issue seems to have been resolved by the latest release of WET 4.0.28.

[2018-06-26 16:29] grifare commented on #6966
ChromeVox and NVDA interpret the same codes differently: ChromeVox reads it normally.

[2018-06-27 14:19] juleskuehn opened #8413 "<title> missing on Style Guide pages"
http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html

Title of this page and most child pages is "- Working examples - Web Experience Toolkit" which is inaccurate.

[2018-06-27 15:34] #8411 closed

[2018-06-27 15:35] juleskuehn commented on #8411
I have isolated the issue to the toggle.js file. This is the same as #7800, so I am closing this issue

[2018-06-27 20:40] juleskuehn commented on #8071
Arrow keys are working fine in Chrome 67. I am hearing instructions in JAWS to navigate up and down with arrow keys. However, no instructions are given for how to expand and collapse submenus.

We should add instructions to use the left and right arrow keys.

[2018-06-27 20:59] juleskuehn commented on #8081
No longer an issue for me with NVDA on Firefox 60 and IE11, and also with ChromeVox. I believe this issue can be closed.

[2018-06-27 21:01] juleskuehn commented on #7537
This is still an issue. Without being able to see the screen, it is unclear whether to use the left+right or up+down arrow keys to descend into submenus or to move between menu items at the top level.

"Use left and right arrow keys to navigate through top-level menu items. Up and down arrow keys navigate through sub-menu items"

[2018-06-27 21:42] duboisp commented on #8357
Thanks @jeffreystark, I included your comment in the documents.

[2018-06-27 21:42] duboisp commented on #8357
This was released as the design decision 4, as approved at the WET roadmap meeting on June 20.

https://wet-boew.github.io/wet-boew-documentation/decision/4.html

[2018-06-27 21:42] #8357 closed

[2018-06-27 23:32] thekodester opened #8415 "Accessibility Testing"
This is just a heads up for anyone testing accessibility with Firefox. Currently VoiceOver on macOS doesn't work with Firefox since the update. Not sure if others are affected.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1466342 .

[2018-06-28 12:33] shawnthompson commented on #7945
@stdgit can you take a look at this when you get back from vacation?

CC: @andrewnordlund

[2018-06-28 13:33] duboisp commented on #8404
In addition to @nschonni comments, here the reference in the HTML5.3 spec: https://www.w3.org/TR/html53/document-metadata.html#description

[2018-06-28 14:02] duboisp commented on #8408
@jsguy1 it may require you to add some custom CSS in your content.

Something like:
[code]

If you decide to use a custom CSS, I would recommend you to evaluate if the new styled badge colour meet the WCAG Level AA contrast ratio for every state (default, hover, focus...)

FYI - the colour contrast for the badge are adjusted when the following contextual CSS class are used:
* ```.btn-default```
*

[2018-06-28 14:28] duboisp commented on #8409
@zzucco can you provide a screen shoot of all options your are proposing.

[2018-06-28 14:29] juleskuehn commented on #7402
This is definitely still the case in IE, Chrome, Firefox with NVDA.
As Julie points out, this behaviour is shared with the WAI-ARIA menu example.
This has been discussed before in Issue #2680: https://github.com/wet-boew/wet-boew/issues/2680#issuecomment-22031884

Removing role="menuitem" allows the links to be shown in the link list, but doesn't conform with the prescribed ARIA pattern. As mentio

[2018-06-28 15:07] juleskuehn commented on #6694
[WAI-ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/) is the official recommendation as of December 14, 2017, so posinset and setsize are supported now.

As for the orientation of menus not being announced, I believe you have opened Issue #7537 regarding instructions.

Given that the ARIA errors are resolved and the request for keyboard navigation instructions is documented elsewhere, I think this i

[2018-06-28 18:19] juleskuehn commented on #7314
Tested a single heading within a summary on the following pages:
(For the pages which did not originally have headings within a summary, I wrapped the summary text of one accordion item in a <h1> tag.)

1. [Collapsible alerts](http://wet-boew.github.io/wet-boew/demos/collapsible-alerts/collapsible-alerts-en.html)
2. [Details/summary polyfill](http://wet-boew.github.io/wet-boew/demos/details/detail

[2018-06-28 18:33] juleskuehn commented on #7537
Along with the other issues I referenced today, this ultimately appears to be a duplicate of Issue #6682, which means there are 4 open issues requesting instructional text for keyboard navigation of menus.

[2018-06-28 18:51] juleskuehn commented on #7146
I have confirmed this issue with the demo page by pasting in the final menu item from the linked icgc page. In the case of menu items without submenus, the focus style should be the same as the hover style. This should be an easy fix - I will do it now.

[2018-06-28 19:05] juleskuehn opened #8416 "Menu: Does not retain current selection when tabbing away and back"
http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index-en.html

To replicate, navigate to the second element in a menu using the keyboard. Hit Tab to leave the menu. Hit Shift+Tab to return to the menu. The first element will be highlighted, rather than one you previously had selected.

[2018-06-28 20:26] juleskuehn opened #8418 "Menu: Nested submenu (details/summary) has strange behaviour using enter key"
To replicate:
http://wet-boew.github.io/wet-boew/demos/menu/menu-en.html

Open the "Section 3" submenu. The tree submenu, implemented with details/summary behaves as expected using the arrow keys. However, try pressing Enter to expand a submenu. It doesn't work, but does have some visual effect. Press the down key to navigate to focus another submenu. Press Enter again. The _previously_ selected s

[2018-06-29 13:36] juleskuehn commented on #7544
I can confirm that this remains an issue in IE11 and Chrome 68 (and probably all browsers)

[2018-06-29 14:02] zzucco commented on #8409
![default](https://user-images.githubusercontent.com/32529367/42096348-148bcfac-7b83-11e8-81b8-6d5a2aa1010d.PNG)

Here is a comparison of each style. You can see how minor the difference is - this change is really just to satisfy the requirements, it's far too minimal to actually be of use to anyone.

If we want to make our placeholders more noticeable while still satisfying the contrast ratio, we

[2018-06-29 17:03] juleskuehn commented on #7314
###What doesn't work

As I mentioned in my previous post, none of the WET examples work properly. There are more issues than I mentioned in my last comment, which I discovered when listening to the screen reader (rather than just looking at the heading lists, etc) - headings and/or collapse/expand status are not announced consistently.

In terms of vanilla HTML, I wrote a few experiments and concl

[2018-06-29 18:01] juleskuehn commented on #8413
The titles are correctly written in the hbs files, but do not display correctly.
`{
	"title": "Borders",
	"language": "en",
	"altLangPrefix": "borders",
	"css": ["https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome", "css/gridify" ],
	"dateModified": "2016-10-17"
}`
In the assembled html for this page:
`<title>
		 - Working examples
 - Web Experience Toolkit
</title>`

[2018-06-29 18:13] juleskuehn commented on #8418
The spacebar actually expands the submenu but does not focus the first element - meaning you have to use the arrows to enter that submenu even after pressing space. So I think there are two options to make the behaviour consistent:
1. Enter and space behave the same as right arrow.
or
2. Disable enter and space.

[2018-07-03 18:51] shawnthompson opened #8419 "Data Ajax: Not working in Basic HTML mode"
When you turn on basic HTML mode, ajax content do not get pulled in.

http://wet-boew.github.io/wet-boew/demos/data-ajax/data-ajax-en.html?wbdisable=true

[2018-07-03 19:54] kawish7 opened #8421 "Drop-down: contrast ratio issue"
Hi,

When we use the drop-down list, we are getting a contrast ratio of 2.9:1.

Foreground (text): #FFFFFF
Background: #3399FF

Regards,

[2018-07-03 20:30] thekodester commented on #8419
Not sure if there a simple solution since AJAX requires JS and Basic Mode is basically switching it off.

Also AJAX tables don't display data (filtering example): http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html?wbdisable=true

So could be expected behaviour.

[2018-07-04 13:20] shawnthompson commented on #8419
It used to work, not working now. I couldn't find any talk about it's behaviour being changed in any commits or issues. Although I'm horrible at searching so I might have missed it.

[2018-07-04 14:43] Sburbidge opened #8423 "Tabbed interface only prints the content of the open tab"
I've created a tabbed interface combined with some expand/collapse. All seems to be working fine except when I want to print, rather than print the entire content of the page, it only prints the content of the open tab. In the print preview, it shows all four tabs, only 3 are showing as empty. Our page is not live yet so I've attached it. How can I fix the problem?

I'm not that good with CSS but

[2018-07-04 15:47] duboisp commented on #7800
Solution merged via #8414

[2018-07-04 15:47] #7800 closed

[2018-07-04 17:29] juleskuehn commented on #8416
I am closing this issue, as the current behaviour matches the description given in the [ARIA 1.1 practices for menu](https://www.w3.org/TR/wai-aria-practices-1.1/#menu):

"When a menu opens, or when a menubar receives focus, keyboard focus is placed on the first item. All items are focusable as described in 5.6 Keyboard Navigation Inside Components."

[2018-07-04 17:29] #8416 closed

[2018-07-05 12:31] Sburbidge commented on #8423
Thank you Biljanap for the prompt reply.

The reason the data-toggle='{"print": "on"}' was on the <details> element was following instructions found in other issues I had seen on github when I was looking for a solution. It clearly stated on numerous occasions it had to be on either <details> or <summary>. It was testing and even if the user clicks anywhere in the open tab, it doesn’t close it. Ho

[2018-07-05 12:34] Sburbidge commented on #8423
Burbidge, Suzanne would like to recall the message, "[wet-boew/wet-boew] Tabbed interface only prints the content of the open tab (#8423)".

[2018-07-05 12:35] Sburbidge commented on #8423
Thank you Biljanap for the prompt reply.

The reason the data-toggle='{"print": "on"}' was on the <details> element was following instructions found in other issues I had seen on github when I was looking for a solution. It clearly stated on numerous occasions it had to be on either <details> or <summary>. It was tested (http://www.mpcc-cppm.gc.ca/05/transp-eng.aspx) and even if the user clicks an

[2018-07-05 12:43] RobJohnston commented on #8083
Upgrading to 4.0.28.1 resolved this problem for me, likely due to the fix in #8291.

![image](https://user-images.githubusercontent.com/1347487/42323797-627e7a9c-802f-11e8-94de-fab1c47b3497.png)

[2018-07-05 12:49] StdGit commented on #8083
@RobJohnston
Glad to hear it

[2018-07-05 13:15] thekodester commented on #8423
All the example links are TAB interfaces not using detail/summary combinations.

Also detail/summary have print issues specifically with Chrome that there is no fix for since it a browser issue. See https://github.com/wet-boew/wet-boew/issues/7158 .

BTW they are also on WET v4.0.28.1.

[2018-07-05 13:16] thekodester commented on #8423
Also detail/summary have print issues specifically with Chrome that there is no fix for since it a browser issue. See https://github.com/wet-boew/wet-boew/issues/7158.

BTW the example are also on WET v4.0.28.1.

[2018-07-05 13:19] thekodester commented on #8423
Also if you look at https://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html, by default all tabs print.

[2018-07-05 13:31] biljanap commented on #8423
@Sburbidge
Sorry if I confused you with "main tabs" :o).  I meant to say "main ```details```".  You have nested ```<details>``` elements and I was referring to parent... in your case just tabs.
I would try adding class ```wb-toggle``` like this ```<summary class="wb-toggle" data-toggle='{"print": "on"}'>``` and see if that solves the problem. If not there must be some javaScript or css file missin

[2018-07-05 13:58] Sburbidge commented on #8423
Thank you. I will review the coding.

Suzanne ☺

Webmaster
Military Police Complaints Commission of Canada / Government of Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne.burbidge@mpcc-cppm.gc.ca>
613-612-4478 | Facsimile: 613-947-5713

Webmestre
Commission d'examen des plaintes concernant la police militaire du Canada / Gouvernement du Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne

[2018-07-05 14:04] juleskuehn opened #8425 "Grunt: Very slow copy:js task on watch"
The copy:js task is greatly slowing down the build each time I make a change to a js file. (On a Surface Book i7, 16GB RAM, NVME SSD) Can this be sped up by keeping a cache of these 802 directories and 1384 files, and only updating the ones that have changed?

[code]

[2018-07-05 14:50] doucetj opened #8426 "URL From Validation failing with underscore"
When entering an valid URL that contains an underscore in the subdomain. The type=url validation flags it as invalid. The URL in question is: `http://faq_francais.ask.ca.libraryh3lp.com/questions/607`

**WET Version:** 4.0.28.1 and 4.0.27
**Browser:** Confirmed in IE 11, FF ESR 52.9.0 and FF 60.0.2

To reproduce enter that url in the WET [form validation example](https://wet-boew.github.io/v4.0-ci

[2018-07-05 15:29] RobJohnston commented on #8426
It's failing on the upstream project as well.  See https://jqueryvalidation.org/url-method/.  There's a URL2 method, but I'm not sure that will help.

But you're right, it should work, according to the example on https://mathiasbynens.be/demo/url-regex (i.e., https://foo_bar.example.com/).

The source code for the URL method in jQuery Validation even links to that page:  https://github.com/jquery-

[2018-07-05 19:06] duboisp commented on #8418
What the ARIA Practice 1.1 keyboard interaction model said? https://www.w3.org/TR/wai-aria-practices-1.1/#menu

[2018-07-05 19:50] juleskuehn commented on #8418
Yes, I was referring to this spec, and that is the exact behaviour I have implemented.

But, the enter and spacebar do not work in detail/summary (nested) submenus in Internet Explorer, and I don't think there is anything I can do about that.

[2018-07-05 19:59] thekodester commented on #8418
I don't think there much that can be done with Internet Explorer without some messy JS hacks. Considering the fact Microsoft has given up on IE I think it time to just let it die.

[2018-07-05 20:10] duboisp commented on #8419
@shawnthompson I don't recall to have seen data-ajax working in basic HTML mode.

But since the [Design Decision 4](https://wet-boew.github.io/wet-boew-documentation/decision/4.html) has been approved at the last WET Roadmap meeting which provide more clarification about the behaviour for Basic HTML mode. I think it is safe that we look a way to let that plugin run even in Basic HTML mode.

We sho

[2018-07-05 20:17] duboisp commented on #8418
This is might because IE11 run the [details/summary polyfill](https://github.com/wet-boew/wet-boew/blob/master/src/polyfills/details/details.js). See how that polyfill is implemented, you might be able to find a solution.

Unfortunately IE11 is still highly used. See the [web stats](https://wet-boew.github.io/wet-boew-documentation/research/2018-2-browser-usage.html) that I summarized last March.

[2018-07-05 20:38] kawish7 commented on #8421
Hi Pierre,

The ratio issue is when we <select> an <option> in a list.
You can see an example in the WET form validation Example: http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html

Foreground (text): #FFFFFF
Background: #3399FF

Here is a screen capture:

[cid:image001.jpg@01D4147E.6F408080]

Regards,
Eric

From: Pierre Dubois [mailto:notifications@github.com]
Sent: July-05-18 4:

[2018-07-05 20:38] thekodester commented on #8418
If you look here https://www.w3counter.com/trends. IE on 3/18 and 4/18 was 2.9% and Edge was around 2.5%.

According to there trends IE is continually dropping.

[2018-07-05 20:40] shawnthompson commented on #8419
You're right, I testing version 4.0.27 and it didn't work either. This is a mistake on our end. Sorry.

Although I do agree that we should let this plugin run in _basic mode_.

I don't have time to submit a PR for that but maybe @StdGit will when he comes back from vacation.

[2018-07-05 20:40] duboisp commented on #8421
todo:
* [ ] Find what color or style that can be use it would show enough contrast

[2018-07-05 20:42] duboisp commented on #8418
I agree that IE usage is dropping, but that is not the current reality for our central GC website.

[2018-07-05 20:47] thekodester commented on #8418
Touche...

[2018-07-06 16:09] juleskuehn commented on #8413
Could you add the "Build" tag to this?

[2018-07-09 12:11] Sburbidge commented on #8423
Thank you for the reply and solutions. Just to do another testing, I’ve used the WET demo page https://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html as a test page. Without adding anything, it only prints the open tab in the first set of “examples”, and for whatever reason, Example 1 in the second set of “examples” on the page. I then amended <summary class="wb-toggle" data-toggle='{"print":

[2018-07-09 19:01] biljanap commented on #8423
You won’t find includes in the downloaded WET. They should be somewhere with the rest of your project files. Judging by your replies it’s possible that you inherited this project from somebody else. Somebody before you is breaking up the page content into components using the following includes:

Try locating these txt files in your project (in folder called “includes”) and verify if they have lin

[2018-07-09 19:11] duboisp commented on #8423
@Sburbidge are you looking to use the tabs feature (```.wb-tabs```) or to use the accordion feature (```.accordion``` with ```.wb-toggle```)?

The tabs feature work fine for me, it prints all the tabs by default and only the active one if I add the CSS class ```print-active```.

[2018-07-10 14:56] grifare commented on #8421
#0E4164 certainly works, the background colour code of banner.

[2018-07-10 19:01] bsouster commented on #8015
@SBleeks perhaps giving me the benefit of the doubt and clarification would have been a better course of action here. I did not spend my career in web accessibility to get lectured about accessibility when every day I relay the same message, almost verbatim, to government and private industry to raise awareness and legal compliance. Your assertions are off-base and not appreciated.

The question w

[2018-07-10 19:37] bsouster commented on #8015
We were able to replicate in JAWS with 3 synthesizers. I will try using aria-label to see if it's a good bandaid, but probably getting JAWS to help is the best course of action.

Example:
<span aria-label="Nine">
   <span aria-hidden="true">VIIII</span>
</span>

[2018-07-10 19:39] JuliannaR commented on #8015
There is an interesting discussion on this topic at Webaim. https://webaim.org/discussion/mail_thread?thread=5075

[2018-07-11 14:19] Sburbidge commented on #8423
See comment in red below. Thank you.

Suzanne ☺

Webmaster
Military Police Complaints Commission of Canada / Government of Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne.burbidge@mpcc-cppm.gc.ca>
613-612-4478 | Facsimile: 613-947-5713

Webmestre
Commission d'examen des plaintes concernant la police militaire du Canada / Gouvernement du Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne

[2018-07-11 14:20] Sburbidge commented on #8423
Thank you Pierre.

Suzanne ☺

Webmaster
Military Police Complaints Commission of Canada / Government of Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne.burbidge@mpcc-cppm.gc.ca>
613-612-4478 | Facsimile: 613-947-5713

Webmestre
Commission d'examen des plaintes concernant la police militaire du Canada / Gouvernement du Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne.burbidge@mpcc-cppm

[2018-07-11 14:51] Sburbidge commented on #8423
See my comment in red below. Thank you.

Suzanne ☺

Webmaster
Military Police Complaints Commission of Canada / Government of Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suzanne.burbidge@mpcc-cppm.gc.ca>
613-612-4478 | Facsimile: 613-947-5713

Webmestre
Commission d'examen des plaintes concernant la police militaire du Canada / Gouvernement du Canada
suzanne.burbidge@mpcc-cppm.gc.ca<mailto:suza

[2018-07-11 17:50] marcallain2 opened #8432 "Changing "Filter Items" text in a data table"
Hi,

My management would like to have the term Filter Items changed on the page. I cannot, for the life of me figure out how to do it. Im guessing it's in this line of code but I have no clue how.

`<table class="wb-tables table table-striped table-hover" id="dataset-filter" aria-live="polite" data-wb-tables='{ "bPaginate": true, "order": [ 4, "desc" ], "stateSave": "true", "stateDuration": "0"}'>

[2018-07-12 15:00] bsouster commented on #8071
Closing this request because the real issue is covered in issue #6682

[2018-07-12 15:02] #8366 closed

[2018-07-12 15:04] #552 closed

[2018-07-12 15:06] #8328 closed

[2018-07-12 15:06] #8329 closed

[2018-07-12 15:22] biljanap commented on #8432
As far as I know, you can’t configure this.
The text comes from js/i18n/en.min.js and js/i18n/en.js files.
```filter: "Filter items",```
I guess you can change it there but I don’t know if that’s a good idea. You would have to remember to change it every time you update WET version.

[2018-07-12 18:15] alanbec opened #8434 "Has WET Tables (using datatables.net) been assessed for WCAG, specifically 3.2.2?"
We are considering following [WET Tables](https://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html) example (powered by datatables.net) to provide, click-to-sort table headers and searchable tables.

Concerning accessibility, it looked like perhaps [WCAG 3.2.2](https://www.w3.org/TR/WCAG21/#on-input) might be failed since meeting it requires:

Assuming WET Tables were assessed for WCAG, who

[2018-07-12 19:51] duboisp commented on #8432
@marcallain2 you can change it by using a configuration like:
[code]

[2018-07-12 19:56] biljanap commented on #8432
@duboisp I learned something :o). Thanks. What happens when you switch to French? How do you enforce new translated text?

[2018-07-12 20:03] duboisp commented on #8423
The best at this point will be to have someone to can create a test page.

@Sburbidge Can you provide a sample of the HTML markup? Is is the same/similar as the HTML from that page http://www.mpcc-cppm.gc.ca/01/1400/case-summaries-resumes-dossiers-eng.aspx#conduct ?

PS: @Sburbidge We are not able to see your "comment in red".

[2018-07-12 20:09] duboisp commented on #8421
@grifare are you able to create a test case? Or you can show me at the next code sprint.

[2018-07-13 13:03] pjackson28 opened #8435 "Toggle: Unable to set the starting state through an event when a selector is used"
Related to: https://github.com/wet-boew/GCWeb/issues/1381

**Scenario (using v4.0.28):** The toggle.wb-toggle event seems to not support overriding the starting state when a selector is passed. This seems to be an issue in the getState function here if a selector parameter is included in the data, it checks to see if it exists in the global states objects (to retrieve the current state). The probl

[2018-07-13 13:06] TimCadieux opened #8436 "Tables: Sorting Arrows do not appear when table is Triggered"
I build my datable using the below code, everything works fine except that the Sorting arrows do not appear?  Strangely, if I include jquery.dataTables.min.css the datatables arrows appear (not the WET arrows).

_**DataTables.css**_
![wet only with dt css](https://user-images.githubusercontent.com/22413348/42693052-c593db3e-867b-11e8-92f1-2e07ae645fb0.PNG)

**_WET Only_**
![wet only](https://user-

[2018-07-13 15:41] duboisp commented on #8435
@pjackson28 when the toggle action is initialized, you should be able to submit any configuration options supported by toggle.

For example:
[code]

See the [Fieldflow documentation](http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-en.html), under the heading "Configuration options for each action." you can select "toggle" in the drop down and the following table would sho

[2018-07-13 16:45] TimCadieux commented on #8412
I've since written this, the EVENTS List appear but the calendar does not appear

[code]

[2018-07-13 17:20] duboisp commented on #8436
Is your browser configuration block the use of Glyphicons? The datatable sorting arrow are a Glyphicons.

* https://github.com/wet-boew/wet-boew/blob/master/src/plugins/tables/_base.scss#L200
* http://bootstrapdocs.com/v3.3.1/docs/components/#glyphicons

[2018-07-13 17:44] TimCadieux commented on #8412
Got this working!
For the Record

<div id="calendar1"></div>
<div id="wb-calevt" data-calevt-src="calendar1">
      <ol id="calendar_events_ol">
      </ol>
</div>

wb.doc.on("wb-ready.wb", function ()
{    BuildWETCalendar();
});

function BuildWETCalendar()
{
    data.GetGenericJSONData(BuildQuery(), function (data)
    {
        CalendarCallback(data);
    });

    function CalendarCallback(dat

[2018-07-13 17:44] #8412 closed

[2018-07-13 18:16] TimCadieux commented on #8436
Hmm, I believe my colleague setup the site to use FA instead...i presume i can go into the CSS and override the styles to use FA?

[2018-07-13 19:33] nschonni commented on #8436
No, the Bootstrap SCSS/CSS will require using the bundled version. Font awesome would be on top of that, and adds a fair amount of weight to a page.

[2018-07-16 13:11] juleskuehn opened #8437 "Documentation: Creating a pull request: Single vs Double quotes"
The ["Creating a pull request" document](https://wet-boew.github.io/v4.0-ci/docs/pull-en.html) states the following recommendation:

The opposite style is used throughout the repo - double quotes in JavaScript, with nested single quotes for HTML. For instance, in menu.js:

`panelDOM.innerHTML = "<header class='modal-header'><div class='modal-title'>`

[2018-07-16 14:20] EricDunsworth commented on #8437
That guidance was introduced in #5082 in March 2014. The repo's JavaScript files were being linted with JSHint at the time but [its rules file](https://github.com/wet-boew/wet-boew/blob/478f5a38cd381f8565f3fa796820907f168c455d/.jshintrc) was specifying double-quotes.

JSHint was later replaced with ESLint. WET's .eslintrc.json file doesn't currently specify anything for the [quotes rule](https://e

[2018-07-16 14:25] LaurentGoderre commented on #8437
We were following the jQuery style guide so it should be double quotes, that document is just outdated.

[2018-07-16 15:58] #8437 closed

[2018-07-16 17:56] SamarElAmir commented on #8401
We are actually looking for extra grid classes to work with the xxs breakpoint.

[2018-07-17 12:55] fibrahim opened #8439 "Data table Filtering"
In the **Filtering Example** example: [](https://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html)

When I select a filter, e.g. **News Releases** from the Data Type filter, it filters correctly. However, when I switch the filter back to **All news types**, the filtering code does not fire, in that all records should now be displayed. The previous subset of data remains.

[2018-07-19 13:19] hebertg opened #8441 "Government of canada Intranet Theme"
Hi,
We have recently implemented the GOC Intranet theme and have noticed that it has been abandoned.  Would it be possible to confirm if a new one will be available soon or should  we use the Web Experience Toolkit (WET) theme which is the second bullet on this page - http://wet-boew.github.io/v4.0-ci/docs/ref/themesstyle-en.html

Please let me know.
Thanks,
Gaétan

[2018-07-19 18:21] fibrahim opened #8442 "Data table: Multi-select Filter option"
Is it possible to use a **multi**-SELECT list as a filter? I can't get it to work properly. It seems to only filter on the first selected item in the list as opposed to all the selected items.

[2018-07-20 14:34] pjackson28 opened #8444 "Colour classes as useful as they could be because they are often overridden"
I tried to use the colour classes such as ``.bg-primary`` and ``.bg-info`` but it doesn't work for me in several scenarios because they have very low specificity and do not use ``!important``.

For instance, if I try to apply ``.bg-primary`` to the bottom bar of the "Section with a conditional bottom bar" of Data Inview, it won't work because there are other classes with more specificity (e.g., ``

[2018-07-20 14:41] pjackson28 commented on #8444
The colour classes I'm referring to are the ones found here: http://wet-boew.github.io/wet-boew-styleguide/v4/design/colour-en.html

[2018-07-21 01:20] nschonni commented on #8444
Those are classes from Bootstrap. Are the specificity issues coming from our classes though? I think there was an issue to make sure we stop using `!important` on our stuff so we don't end up in a specificity battle between classes, but it didn't happen AFAIK.

[2018-07-23 13:37] joel-ld-esdc opened #8445 "Input type="date" polyfill (date picker): Proposition for the WET DatePicker plugin"
Hi,

I would like to propose a new feature for the wet DateTime picker.
This DateTime picker is suppose to be enabled when the browser doesn't have a built in DateTime picker.
I.E. : In Internet Explorer, the Wet plugin is enabled and it's disabled in Firefox.

Couple weeks ago, we had a requirement to let a user be able to type manually into a Date field. The issue is that in Edge Browser (Window

[2018-07-23 14:09] pjackson28 commented on #8444
I checked and none of those classes are using !important. With how we've set up WET, we have Bootstrap CSS at the start of the CSS file and WET-specific stuff appended afterwards, so anything WET-specific with the same or greater level of specificity will override the Bootstrap CSS. In this case:

- .overlay-def.wb-bar-b has greater specificity than .bg-primary so will always override .bg-primary

[2018-07-23 17:01] duboisp commented on #8441
@hebertg it has been abandoned because of lack of available resource to maintain its code base. See #8366

Currently there is **no active work** from my team regarding to release a new one because we would ran in the same issue of a lack of resource to maintain its code base.

Let me know if you or someone you know are interested to maintain and lead the intranet theme.

FYI - The wet-boew theme w

[2018-07-23 20:02] duboisp commented on #8441
Yes. Also you can manually update your local version of your theme with the latest released wet-boew files (*.js files). There should be no conflict.

[2018-07-23 20:10] LaurentGoderre commented on #8441
Except if a plugin CSS changes, they won't get the new CSS which can break the entire plugin.

[2018-07-23 21:42] duboisp commented on #8445
@joel-ld-esdc are you able to join us at the Tuesday code sprint at Place du portage?

[2018-07-23 21:45] duboisp commented on #8445
Related #8073

[2018-07-24 11:12] joel-ld-esdc commented on #8445
@duboisp . Where in Place du Portage and when ?

[2018-07-24 12:56] duboisp commented on #8445
When:  Every Tuesday from 9h30 to 15h30
Where: 200 Promenade du portage, Second floor, room A014. Close to the Passport office.

[2018-07-24 14:07] joel-ld-esdc commented on #8445
I didn't found the office.

[2018-07-24 14:16] duboisp commented on #8445
There is a security guard behind the door, just ask for me Pierre Dubois. Or call me at 819-773-2881

[2018-07-24 16:01] juleskuehn commented on #8434
Reordering the table content at the user's request is not an example of a change in context, any more than filtering the content via the text input is a change in context (which it is not):

https://www.w3.org/WAI/WCAG21/Understanding/on-input.html

https://www.w3.org/TR/WCAG21/#dfn-change-of-context

[2018-07-24 17:17] alanbec commented on #8434
Thank you.

Yes:

However, notwithstanding that, might clicking a heading to sort a table, or, using the (dynamic) 'Search' facility* (*admittedly not the subject of this thread) be deemed as meeting the criteria for _change of context_ by possibly being classed as an operation that was:

or is such a change to the content of a page not significant _enough_, or too localized to meet that criteria?

[2018-07-24 17:57] juleskuehn commented on #8434
There is a second reason why these controls meet criterion 3.2.2, which is that the user is expecting the behavior as it is explicitly indicated both visually and by aria labels.

More quotes pulled from https://www.w3.org/WAI/WCAG21/Understanding/on-input.html :

Success example:

[2018-07-24 18:03] juleskuehn commented on #8434
You may also wish to see the failure examples on that same page. The main failures relate to a situation where changing a form element automatically submits a form, opens a new window, or otherwise changes the web page substantially (such as redirecting to a different page).

Thanks for looking into it Alan.

[2018-07-24 19:55] alanbec commented on #8434
Welcome @juleskuehn and thanks so much for your comments, I was not taking into account the ARIA added by datatables.

[2018-07-26 13:33] shawnthompson commented on #8241
@StdGit Can you look into this?

[2018-07-26 14:53] duboisp commented on #8409
@shawnthompson as discussed, I would appreciate if you can share the use case that support to not use placeholder. We can create a documentation page that explain it and then release a design decision which would be a best practice to not use placeholder.

[2018-07-26 15:10] shawnthompson commented on #8409
I already started a discussion in the Design System to advise people not to use placeholder attributes.

https://github.com/gctools-outilsgc/design-system/issues/181#issuecomment-406639154

I've also started a chat within the a11y GoC community.

Other articles that talk about it.

* https://www.digitala11y.com/anatomy-of-accessible-forms-placeholder-is-a-mirage/

There is also this researching fr

[2018-07-26 17:39] frankding2014 opened #8449 "Tables:"
How can I set column width  instead of setting width automatically by data tables?

[2018-07-26 17:56] RobJohnston commented on #8449
There is a DataTables parameter called [column.width](https://datatables.net/reference/option/columns.width)

Without trying it, I think you could do something like this, to set the first column's width to 20% with columnDefs as per the example:

[code]

[2018-07-26 20:12] frankding2014 commented on #8449
Thank you. It works.

[2018-07-28 13:22] frankding2014 commented on #8449
It seems there is a problem. When I use javascript to define the column width . It works well. But if I define data-web-tables  , It doesn't work .  I define like  <table class="wb-tables table"
    data-wb-tables='{"columnDefs": [{ "width": "80%", "targets": 0 }] }'> . It isn't showed as expected. I attach two files, one is ok , the other is not ok.  Would you please have a look.

[2018-07-28 13:34] frankding2014 commented on #8449
@RobJohnston  here is the code.
[test.zip](https://github.com/wet-boew/wet-boew/files/2238011/test.zip)

[2018-07-28 13:37] RobJohnston commented on #8449
I'm not a big fan of opening zip files from people I don't know... could you not post the code here?

Or could it be that you type `data-web-tables` instead of `data-wb-tables`?  Here, "wb" is WET-BOEW.

[2018-07-28 15:13] frankding2014 commented on #8449
@RobJohnston Thank you so much. The code is in my office machine. This morning I just check it with datatables component.  I think it should not work if I just add data-web-tables attribute on table tag.  I will check Monday on wet4 environment.

[2018-07-31 02:12] frankding2014 commented on #8449
@RobJohnston I make a sample test today. It doesn't work. When I set two columns .  one is 20%, the other is 80%.  It didn't show  width attribute in the inline style as expected .  Two columns separate the width of table.   I think wet4 didn't deal well with columnDefs

...
<table class="wb-tables table"
    data-wb-tables='{"columnDefs": [{ "width": "20%", "targets": 0 },{ "width": "80%", "targe

[2018-07-31 12:43] RobJohnston commented on #8449
I haven't seen your code yet, but here's a working example that makes the first column 20%:
[code]

[2018-08-02 15:43] GregoryHamel commented on #8150
@duboisp @LaurentGoderre , has there been anymore development to the React idea? All I can seem to find is the [React Test Case](http://wet-boew.github.io/wet-boew-documentation/testcase/2018-3.html).

Migration of the Toolkit to `react` could be done component by component, allowing the users (react developers) to simply import WET-react components to use on their own web page. Not too hard, but

[2018-08-03 15:22] frankding2014 commented on #8449
@RobJohnston Sorry for reply later. In my project , we use jsp and struts 2. Wet4 can't work well with columnDefs. My code is like this.
`			<table class="table wb-tables" data-wb-tables='{"columnDefs": [{ "width": "80%", "targets": 0 }] }'>
				<thead>
					<tr>
						<th scope="col" class="text-left"><s:text name="vwGvnr.asgnParameter.paramName" /></th>
						<th scope="col" class="text-left"><s

[2018-08-03 17:35] EricDunsworth commented on #7945
Going to close this off since #8443 fixed it (just double-checked on the [session timeout plugin's demo page](http://wet-boew.github.io/v4.0-ci/unmin/demos/session-timeout/session-timeout-en.html)).

Btw #8443's subject references this issue, but didn't do it in a way that would allow GitHub to link the PR and issue together. That's why this issue wasn't auto-closed when #8443 was merged in.

[2018-08-03 17:35] #7945 closed

[2018-08-03 20:59] zachomedia commented on #7878
Just going to note here since I was looking at this briefly this afternoon. On first glance, it looks like it's Modernizr that tries to insert some inline styles (see https://github.com/Modernizr/Modernizr/issues/1262)

[2018-08-06 20:36] juleskuehn commented on #8445
Good idea. The current WET datepicker also has some accessibility issues.

[2018-08-06 22:01] duboisp commented on #8150
Currently there is no active development that I am aware about the React idea. But our current work on WET 5 should help and ease the development of a WET react variant.

@GregoryHamel Would you like to lead a such project?

[2018-08-06 22:31] duboisp commented on #8449
Aside note: when you use ```.col-*-*``` it needs to be in a ```.row```. See the bootlint rule: https://github.com/twbs/bootlint/wiki/E014 Which make your CSS not compliant.

@frankding2014 can you post the HTML that is sent to a browser after it is rendered by the jsp server? May be your JSP server modify the value of the ```data-wb-tables``` attribute during the server side processing of struts 2

[2018-08-07 17:28] bsouster commented on #8091
@grifare is working on various test cases

[2018-08-08 19:20] gsabatin opened #8454 "Try to get Field flow basic configuration working"
I can't seem to get the checkbox example working on my page. Attached is my HTML page (note: this page sits behind a login).

I'm not sure if I am initializing the data-ajax stuff correctly.
[Describing Your Skills, Experience, and Accomplishments with STAR Statements.zip](https://github.com/wet-boew/wet-boew/files/2271643/Describing.Your.Skills.Experience.and.Accomplishments.with.STAR.Statements.

[2018-08-08 19:45] juleskuehn commented on #8257
@duboisp I know you have an unfinished document related to this somewhere. Could you add the link here?

[2018-08-08 20:10] duboisp commented on #8257
Here the link: http://wet-boew.github.io/wet-boew-documentation/decision/4.html

That design decision regarding what is "Basic HTML" is finished, but it is not fully implemented yet in all plugin in wet-boew.

[2018-08-08 20:15] duboisp commented on #8454
Are you using the GCWeb template?

Did you see any error in the console?

Is those file exist?
* ajax/ajax-1.html
* ajax/ajax-2.html
* ajax/ajax-3.html
* ajax/ajax-4.html
* ajax/ajax-5.html

[2018-08-08 20:42] gsabatin commented on #8454
I’m not using the GCWeb template, just the base. Is that a requirement? Can I add the field flow configuration to the base?

Greg Sabatine
Manager, Online Technologies
Open Learning and Educational Support
University of Guelph
519.824.4120 ext. 56042

From: Pierre Dubois <notifications@github.com>
Sent: Wednesday, August 8, 2018 4:16 PM
To: wet-boew/wet-boew <wet-boew@noreply.github.com>
Cc: Greg

[2018-08-08 20:53] nschonni commented on #8454
Fieldflow is only in GCWeb, it is not part of WET

[2018-08-08 20:55] duboisp commented on #8454
Yes, it is currently because fieldflow are only implemented into the GCWeb template.

Yes you can add it in your own wet-boew instance. It should be feasible by adding the following javascript file after the wet-boew.js script in your page. https://github.com/wet-boew/GCWeb/blob/master/src/plugins/fieldflow/fieldflow.js

[2018-08-09 12:36] gsabatin commented on #8454
Thanks, I’ll give it a try.

Greg Sabatine
Manager, Online Technologies
Open Learning and Educational Support
University of Guelph
519.824.4120 ext. 56042

From: Pierre Dubois <notifications@github.com>
Sent: Wednesday, August 8, 2018 4:55 PM
To: wet-boew/wet-boew <wet-boew@noreply.github.com>
Cc: Greg Sabatine <gsabatin@uoguelph.ca>; Author <author@noreply.github.com>
Subject: Re: [wet-boew/wet-b

[2018-08-09 14:05] gsabatin commented on #8454
It seems to be working, except it’s forcing me to select all of the items when I use the checkbox UI.

Greg Sabatine
Manager, Online Technologies
Open Learning and Educational Support
University of Guelph
519.824.4120 ext. 56042

From: Pierre Dubois <notifications@github.com>
Sent: Wednesday, August 8, 2018 4:55 PM
To: wet-boew/wet-boew <wet-boew@noreply.github.com>
Cc: Greg Sabatine <gsabatin@uog

[2018-08-09 14:31] frankding2014 commented on #8449
@duboisp Here is the simple jsp file I use for column width define. It is included in the layout jsp file.

[code]

And the html file  that the browser create is below. The Jsp server doesn't change the value of the data-wb-table attribute.
[code]

[2018-08-09 17:06] duboisp commented on #8454
Do you have a link where we can test you implementation?

[2018-08-09 17:33] gsabatin commented on #8454
Hi, try this link.

https://courselink.uoguelph.ca/shared/css/WET.4.0.28/Describing%20Your%20Skills,%20Experience,%20and%20Accomplishments%20with%20STAR%20Statements.html

Greg Sabatine
Manager, Online Technologies
Open Learning and Educational Support
University of Guelph
519.824.4120 ext. 56042

From: Pierre Dubois <notifications@github.com>
Sent: Thursday, August 9, 2018 1:07 PM
To: wet-boew/we

[2018-08-09 17:50] duboisp commented on #8454
Update wet-boew.js file with the latest version, 4.0.28.1 - https://github.com/wet-boew/wet-boew-dist/blob/v4.0.28.1/js/wet-boew.min.js

Try again and let me know if it is working.

[2018-08-09 17:53] duboisp commented on #8454
Another option will be to make Field flow optional like:

[code]

[2018-08-09 17:58] gsabatin commented on #8454
Updating the wet-boew js file didn’t work but making it optional did the trick. Thanks!

Greg Sabatine
Manager, Online Technologies
Open Learning and Educational Support
University of Guelph
519.824.4120 ext. 56042

From: Pierre Dubois <notifications@github.com>
Sent: Thursday, August 9, 2018 1:54 PM
To: wet-boew/wet-boew <wet-boew@noreply.github.com>
Cc: Greg Sabatine <gsabatin@uoguelph.ca>; Auth

[2018-08-09 20:14] juleskuehn commented on #8418
Fixed by PR #8424 . Closing.

[2018-08-09 20:14] #8418 closed

[2018-08-10 16:33] grifare commented on #8091
### I think this thread is focusing on an important issue: unnecessary markup code infestation.
In order to display a word in bold red and to insert an asterisk, this many spans, strongs, divs and classes should not be present in the source code.

The usage of aria-required seems controversial.
This is what W3 validator says:
“Warning: Attribute aria-required is unnecessary for elements that have

[2018-08-10 16:35] grifare commented on #8091
### I think this thread is focusing on an important issue: unnecessary markup code infestation.
In order to display a word in bold red and to insert an asterisk, this many spans, strongs, divs and classes should not be present in the source code.

The usage of aria-required seems controversial.
This is what W3 validator says:
“Warning: Attribute aria-required is unnecessary for elements that have

[2018-08-10 17:04] StdGit commented on #8241
Hi, I'm not sure if you are aware and if it is related to ajax or just Basic Html, but on
https://www.canada.ca/en/services/business.html?wbdisable=true
The submenus don't appear.
![image](https://user-images.githubusercontent.com/5129874/43971000-72186122-9c9d-11e8-93af-93174d2ef5dd.png)

[2018-08-10 17:08] StdGit commented on #8241
Is it the normal behavior ?

[2018-08-10 17:10] nschonni commented on #8091
The bump in https://github.com/wet-boew/wet-boew/pull/8370 removed the additional `aria-required` injection

[2018-08-10 20:26] duboisp commented on #8241
In basic HTML mode the menu, which is an ajax fragment, is not downloaded. The data-ajax plugin is disabled.

The mobile menu is only available in "standard mode".

FYI - Enabling the data-ajax in the basic html mode won't fix this issue.

[2018-08-13 14:13] marieeved opened #8457 "Impossible to use overlay with map image"
Hi,

I create a map image with 5 areas. Each areas open an overlay. I used a centred popup (llightbox).

My code works perfectly ggod in Dreamweaver, but when I publish my page, Teamsite erased some code and the overlay didn't work at all.

Here's my code:

``

[2018-08-13 14:43] grifare commented on #8421
@duboisp here is the Colour Contrast Analyser result:
![issue8421](https://user-images.githubusercontent.com/3210595/44038780-8f5c7544-9ee5-11e8-9fe7-b7a54e447ece.png)

[2018-08-13 15:43] juleskuehn opened #8458 "Documentation: Header logo link broken"
On [all documentation pages](http://wet-boew.github.io/wet-boew-documentation/index-en.html) the header link is broken.

[2018-08-13 16:39] juleskuehn commented on #7314
I have been doing a lot of testing around this issue. Summary of results:

* `detail` /  `summary` is not correctly implemented across browsers, for heading or non-heading content.
* the only solutions that passed testing with NVDA and JAWS in all browsers completely replaced these elements with `div` and `button` elements.

I propose that `detail` /  `summary` be replaced through a javascript omn

[2018-08-13 18:50] duboisp commented on #8457
Is that the code you have in dreamweaver or the code after your page is published by teamsite?

Did you ask your teamsite support team for a rational?

[2018-08-13 19:11] marieeved commented on #8457
it's my code in Dreamweaver. Teamsite erase the ahref around all the area tags.

No, I admit that I didn't consult my Teamsite team. I find difficult to ask them questions... So, I wanted to know first if my code was semantically ok and was supposed "to pass" into Teamsite.

[2018-08-14 14:17] duboisp commented on #8457
Is your page created in Dreamweaver validate with the HTML5 validator? https://validator.nu

[2018-08-14 14:44] waterandsewerbill2 commented on #7947
I looked at this in NVDA. I found I no problems in Firefox or Chrome. I have to hit enter to read the contents of the tabs, but I don't know that there is a problem with this? If this is a non-standard behavior, or not intuitive, an aria describedby attribute is a solution.

But in JAWS, one tester said the following:

"I get better results with Firefox than IE. JAWS key + ALT M works everywhere i

[2018-08-14 15:03] duboisp commented on #8457
What happen is you add the "href" attribute to area element?

I only worries on how AT support imbrication of interactive element. They might be to be side-by-side like: Example 111 in HTML5.3: https://www.w3.org/TR/html53/semantics-embedded-content.html#example-a7ff8819

[2018-08-16 15:13] fanjinfei opened #8460 "angularjs controller get initialized twice only when it is open in a new browser tab"
AngularJS v1.6.9, using webpack, ng-route, with ng-model for a input

[code]
the controller with get initialize again when press a key in the input field. This will only happen with the link is open in a new browser tab.

If the page is refreshed with F5, this will not happen.

[2018-08-17 17:39] apressey commented on #7063
Issue is resolved.  Clicking on the link in my original post, no longer results in the special characters displaying on the screen.

[2018-08-17 17:39] #7063 closed

[2018-08-17 20:30] duboisp commented on #8460
@fanjinfei your issue seem to be related to how you use AngularJS and doesn't seem to be related to WET framework.
We don't have a WET-BOEW Angular variant yet. I recommend you to contact your departmental angular support or your IT service desk.

[2018-08-19 14:25] LaurentGoderre commented on #8460
We isolated the big and it does seem to be an issue with WET.

[2018-08-21 13:52] duboisp commented on #8460
@LaurentGoderre can you provide more details on how to reproduce the issue without Angular?

[2018-08-22 14:06] alanbec commented on #8434
[I hope this is sufficiently related and so reopening here is OK] Related: Re: the search box, an 'X' (to cancel search) is added if a search is carried, but if the input looses focus the 'X' disappears only to reappear on hover, so this hide/appear only works for desktop not mobile OS users. This seems like a reduction in accessibility compared to the 'X' being visible at all times until clicked.

[2018-08-23 13:10] stephendonnelly2 commented on #7631
2 years later and we're still removing semantic meaning from text by removing <em> and <cite> tags because the Style Guide says NO italics. Is this really so complicated to resolve?...

[2018-08-23 14:36] LaurentGoderre commented on #8425
This shocked me because it wasn't like this last I checked. This is caused by the fact that we are now bundling MathJax as a backup. Perhaps MathJax should be excluded from `copy:js` and only included on deploy.

[2018-08-23 14:47] #8241 closed

[2018-08-23 17:30] duboisp commented on #7631
@bsouster is currently reviewing, finalizing a summary and defining the guideline to run usability testing for this particular issue.

This thread include a few proposal, the Canada.ca Style Guide don't propose any alternative and removing the semantic is not a solution. Before moving forward with one of the proposed solution, each of them need to be assessed through usability testing. Once the re

[2018-08-24 13:36] juleskuehn commented on #8434
Could you clarify what you mean, perhaps with screenshots? I can't make an "X" appear.

[2018-08-24 18:02] mrhcon opened #8465 "Date Picker/Angukar 6/ngx-translate"
When using ngx-translate with Angular 6 and WET 4, I have an issue refreshing the strings in the date picker (Month names, Day names, etc) to match the selected language toggle.  Was curious if anyone else has experienced this and found a work around?
I do modify the language in the top level HTML element to have the proper lang value, but there seems to be no way to refresh the datepicker...

[2018-08-24 20:25] alanbec commented on #8434
Happily @juleskuehn

One I have searched for 'Vanc' and my mouse is over the search box, the other I have moused away

![2018-08-24_16-23-37](https://user-images.githubusercontent.com/41155257/44606183-333a1400-a7ba-11e8-8394-529f5e9c39d3.png)

![2018-08-24_16-23-04](https://user-images.githubusercontent.com/41155257/44606182-333a1400-a7ba-11e8-92c1-88b0bfdade5b.png)

If I mouse over the 'X' reapp

[2018-08-24 20:30] thekodester commented on #8434
I believe that is the web browser generating the 'X' as if I test:

http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html
https://datatables.net/examples/api/multi_filter.html

I do not get the 'X' on some browsers.

[2018-08-24 20:32] juleskuehn commented on #8434
On what page? I believe this is an enhancement made by the browser, unrelated to DataTables or WET, and, as it is merely an enhancement it is not an accessibility issue.

[2018-08-24 20:50] shirajgill opened #8466 "Issue with input fields of type=search"
Hello,

We've been having issues with input fields that have a type=search. This specific input fields do not show the "X" that usually appears on the right side of the input field.

After some digging, I found the following CSS in theme.min.css to be the problem:
`input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}`.

The pseudo

[2018-08-27 12:56] duboisp commented on #8465
We don't have a WET-BOEW Angular variant yet. Are you able to reproduce the issue only by using WET4?

[2018-08-27 12:57] duboisp commented on #8465
Is your issue is limited to one particular browser?

[2018-08-27 13:04] mrhcon commented on #8465
I was using ngx-translate so I could avoid a page refresh when toggling the language selection.  If I do a page refresh it works just fine.  Happens on Firefox and Chrome.

[2018-08-27 13:08] LaurentGoderre commented on #8465
The problem is that all strings are cache so when you change the language changes, the strings don't get refreshed. WET was not designed to support this use case (though it may be possible to support it)

[2018-08-28 21:42] duboisp commented on #8445
Merci @joel-ld-esdc d'avoir participé au code sprint.

Tel que discuté, un numéro représentant la semaine (conçu spécifiquement pour votre produit) n'est pas une valeur valide tel que définie selon la spécification du [input[type=date]](https://www.w3.org/TR/html53/sec-forms.html#date-state-typedate). Une solution alternative serait l'ajout d'un champ dédié pour que l'utilisateur puissent entrer l

[2018-08-29 18:14] cjlauziere opened #8467 "in-code sample of intranet menu"
Hello, I'm trying to locate a sample of some in-code "code" for the menu with sub-items in the latest intranet based theme.

Basically the menu and theme demonstrated here: https://wet-boew.github.io/v4.0-ci/index-en.html

We are building an Angular app and prefer to NOT have to use the 'data-ajax-replace="ajax/menu-include-en.html"' approach, as it limits our ability for dynamic routing. Or, perh

[2018-08-29 21:44] joel-ld-esdc opened #8468 "Adding some WET event into ASPX page"
Hello,

We're getting some issue with adding some WET event into an ASPX page.

Basically, we need to add some JQuery code into the middle of a page.

Example:

[code]

Actually, because this code is in the middle of the body, the code into the wb-ready.wb is never reached.

Do you have any best practice to accomplish that.

Thank a lot.

Joel

[2018-08-29 23:06] RobJohnston commented on #8468
I'm guessing that it's not working because jQuery isn't loaded until the end of the page?  If so, could you put the script into an external file and use the [defer ](https://caniuse.com/#search=defer)attribute, as in `<script defer src='myfile.js'>`?

[2018-08-30 00:28] fanjinfei commented on #8460
Thanks guys. I am trying to create a minimal case to reproduce it.

[2018-08-30 01:13] duboisp commented on #8467
If you don't want to use data-ajax-replace, you can insert directly the html of your menu.

like

[code]

[2018-08-30 01:16] duboisp commented on #8468
Another solution will be to insert your javascript after the wet-boew.js script

[2018-08-30 11:38] joel-ld-esdc commented on #8468
That's what I thought.

In MVC we can add @Section scripts { } into the CSHTML page and place the section rendering event at the end of the layout page.

Howerver in Webforms, there is no easy way to achieve that.

Thanks

[2018-08-30 14:07] Pacoup commented on #8467
@duboisp Are you sure this works on mobile? In a Drupal template, I had to create a dynamic page which generates the menu HTML for data-ajax-replace because the mobile menu applies some transformations from it and puts the mobile menu code elsewhere.

Works well, though, I basically have a menu service registered to a route which accepts a parameter to render either the base menu (for basic mode)

[2018-08-30 15:28] cjlauziere commented on #8467
@duboisp  Thanks very much for the reply. I've already tried the code
samples a number of times. And, while I have little problem reproducing the
menu via the Ajax method, each time I place the code directly within the
HTML, I lose all the colour and line styling, and the sub-menu  "flyout"
pops out to the RIGHT, and not BELOW the main menu "item". I wonder...does
the Ajax method and related Inclu

[2018-08-30 16:18] fanjinfei commented on #8460
I narrow down the problem to this wet-boew code:
[code]
It conflicts with ng-route. My guess is due to the hash used by ng-route.  Maybe using html5 mode in angularjs could solve it, but I have not figured it out.

[2018-08-30 17:52] duboisp commented on #8467
@Pacoup can you test and let me know if you have an issue with the mobile menu on any page hosted on Canada.ca? The menu are not ajaxed in but directly inserted for that website.

@cjlauziere What version of WET are you using?

[2018-08-30 17:59] cjlauziere commented on #8467
@duboisp  I'm using version 4.0.28.1

The latest, I believe.

[2018-08-30 20:42] Pacoup commented on #8467
Interesting, I didn't save the code, but I believe what I missed was the `data-trgt` attribute, which seems responsible for placing the mobile menu code.

![code](https://user-images.githubusercontent.com/112764/44877815-1a76a600-ac73-11e8-832a-6e13edf73bac.PNG)

I will reimplement my menu code using this approach and report back. Should load faster too!

[2018-08-31 16:51] SamarElAmir opened #8469 "Warning alert with glyphicon"
Has anyone noticed that the icon in the default WET alert does not look very clear, and looks squished?

![01 default warning alert](https://user-images.githubusercontent.com/39964002/44925071-cfc16080-ad3c-11e8-97f1-3ce39fc43796.jpg)

If the glyphicon was replaced by a fontawesome icon, it will look more clear, and more friendlier. Fontawesome icons also tend to look more modern:

![02 warning al

[2018-09-04 14:02] cjlauziere commented on #8467
@duboisp So, I believe I've discovered the issue...seems everything works fine when I run a website within IIS express. But, things get wonky when running the Angular site with Node.js.  Perhaps file references are getting out of whack in a Node environment.

[2018-09-05 19:49] jcmiron commented on #8467
I'm also having an issue with adding the menu to directly in the page and not ajaxing it in with Angular 6.

The reason I need to do that is because we want to avoid the post back that the ajax menu would create since we cannot use routerlinks in the menu files.

[2018-09-06 15:20] jcmiron commented on #8467
I got mine to work, when I redid a fresh new project and added the WET. Seemed to work. I made sure my index.html only had the header and body tags and the rest was in my app component.

[2018-09-06 20:10] jcmiron opened #8471 "Angular 6 Mobile Language selection issue"
I'm having an issue with the mobile language selection using angular. When not in mobile view, the language selection works just fine. I can toggle between languages and when I click on one, the current selection changes just fine and everything works. But when I go into mobile view, the click no longer works and it seems to always be the "Francais" text and never the "English" no matter what lang

[2018-09-06 20:18] jcmiron commented on #8465
Even on WET's website documentation french datepicker doesn't work in Chrome. This might be a bigger issue.

[2018-09-06 21:02] Pacoup commented on #8467
@jcmiron How did you order the scripts? Are you using Angular CLI?

For me, the menu works, but only if I manually move the jQuery and WET scripts to load after the Angular scripts in `index.html`, which is problematic because with the CLI, the Angular scripts are always appended at the bottom. They do so via a webpack plugin, and you can't eject anymore, so. Maybe I can hack something with a [bui

[2018-09-06 21:27] Pacoup commented on #8471
I think the problem is that the mobile menu is created dynamically, and `createMobilePanelMenu()` is only called on init, so if your language switch doesn't actually do a plain navigation, the menu is never initted again, so it stays in whatever the code was on first load.

@duboisp Is there any way to call `createMobilePanelMenu()` on demand?

[2018-09-07 13:57] jcmiron commented on #8471
I looked at the WET code for the menu and it seems like createMobilePanelMenu function recreates the section tag along with ul and li tags instead of taking the old ones. This causes an issue because Angular adds things to those tags.

`<section _ngcontent-c0="" class="visible-md visible-lg" id="wb-lng">
    <h2 _ngcontent-c0="">Language selection</h2>
    <ul _ngcontent-c0="" class="text-right"><

[2018-09-07 15:34] EileenDumbrell opened #8472 "Table Validator:"
Hi there.  Is it possible to assign or force unique header ids for a table with the table validator?  I have split my table into two separate tables and they will be both on the same html page thus each requiring unique ids to pass validation.
Thanks for your help!

[2018-09-10 17:29] LiamLowndes opened #8473 "wet-boew repository migration"
## Issue

As of right now we are starting the planning process of moving away from WET 4 to WET 5.  With this come some changes to how the repositories are going to be set up.  Now the plan is to move all existing WET 4 code into a new repository and leave the wet-boew repository fresh for the new WET 5 code.

## Process

To complete this task we are looking to follow option #1.  However, we have

[2018-09-10 20:02] duboisp commented on #8472
Yes it is possible.

* You can check the option "Do not clean up the HTML" and then it will re-use the ids that you have manually set.
* You can manually change the IDs prefix to a prefix of your preference, instead of using the default prefix "tbl".
* You can check "Auto generate the prefix" which provide prefix id based on a time stamps.

[2018-09-12 14:27] jkshapiro opened #8474 "Skip links on mobile"
Happened across this article today: https://axesslab.com/skip-links/

It points out the problem with skip links on mobile devices, and provides some Javascript that can be used to ameliorate the problem for iOS users.

[2018-09-14 19:08] dfarough opened #8475 "Share widget: does not appear when basic html option is active."
The share widget link does not appear if a user specifies the basic HTML option for the website.
Is this expected behavior?
@wet-boew/access-working-group

[2018-09-17 17:12] TimCadieux opened #8476 "validation"

[2018-09-17 17:12] #8476 closed

[2018-09-17 19:37] marieeved commented on #8457
If the area element has an href, it works only if the href link to an other webpage (internal or external) or if it link to a simple anchor on the page (exemple another section of text).

but if the href is an anchor that link to an overlay, it doesn't work because the a tag needs other elements like it shown on the WET page: <a href="#cs-centre" aria-controls="cs-centre" class="wb-lbx" role="butt

[2018-09-18 14:17] DK-TBS commented on #7631
@stephendonnelly2 - There's a new team in charge of the Style Guide since this whole thing came around, and they have come to understand the problems associated with placing a blanket ban on italics like that.  Work is currently underway to soften the language and allow flexibility.

They're not done yet, so:  don't quote me on this.  But it sounds like they plan to discourage people from using it

[2018-09-18 21:25] suzannely opened #8477 "Form Validation does not work with Recaptcha?"
I am using Google's invisible recaptcha and am trying to implement it with my form. The issue I am having is that the form gets submitted even though I have required fields. The form validation does not seem to fire when I am using recaptcha.

Any suggestions?

[2018-09-18 21:42] #8477 closed

[2018-09-19 11:57] Bgolden67 commented on #7631
@DK-TBS you are correct. I am not in a position to say more than you have but yes, new wording is being developed with a move to better guidance than an all out ban. Hopefully it will be released in the near future.

[2018-09-19 15:57] RitchieD opened #8478 "Menu: Does the menu support items with sub-menues and without?"
http://wet-boew.github.io/v4.0-ci/demos/menu/menu-en.html
The example has Section 1 with menu items and Section 3 with sub-menu items.
Can a menu drop-down contain single menu items and sub-menu items?
If yes, please provide a sample code; I could not get it to work.

[2018-09-19 16:04] RitchieD commented on #8366
Very disappointing to lose GoC Intranet Theme.

[2018-09-19 16:11] LaurentGoderre commented on #8366
@duboisp is Service Canada willing to revisit this decision if I fix the release script to bring back automated releases? It seems a lot of people are still relying on the Intranet theme and breaking semver like this is a bad precedent.

[2018-09-19 18:10] GarthMartin opened #8479 "Video spinner never stops when fast-forwarding"
Using CDTS 4.0.27 and <video> element with wb-mltmd class - IE11.  While the video is play if a user uses the timeline to fast-forward the video the spinner activates and never stops.  The video restarts where it is supposed to but spinner never goes away. Does not happen if video is paused.  Cannot try to reproduce using the examples here as all the videos are returning 404 errors.

Any ideas?  H

[2018-09-20 18:45] glevert opened #8482 "Tabbed Interface:"
Are the Carousel tabbed interfaces fully accessible WCAG 2.0 AA?

Our accessibility service team is telling us they are not and they would need a BASIC HTML version to be available.

Thanks,
Guy

[2018-09-20 18:50] RitchieD commented on #8478
Found solution

[2018-09-20 18:50] #8478 closed

[2018-09-20 20:06] thekodester commented on #8482
If you look at http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-carousel-en.html?wbdisable=true, it just displays the main images.

So yes it works in BASIC mode, just don't have any of the fancy effects.

[2018-09-21 14:31] OCHeather commented on #8441
So, in a world where folks are using the GoC Intranet Theme (which has now been abandoned), what are some of those groups looking at in terms of options? Looking at future planning, and curious how other groups have chosen to proceed. It doesn't appear that anyone is planning to maintain and lead this theme (unless there has been a development in the last few months.) Thanks!

[2018-09-21 14:35] LaurentGoderre commented on #8441
@OCHeather see my comment here: https://github.com/wet-boew/wet-boew/issues/8366#issuecomment-422862989

[2018-09-21 20:21] biljanap commented on #8482
You don’t need a new separate BASIC HTML version. It is incorporated in the template. It is accessible through hidden link provided in the template.
Users using screen readers will be able to access this link and open page in Basic mode if they wish.
You can test this either by using the link @thekodester  provided or by tabbing. Start from URL and keep tabbing. Three invisible links will be revea

[2018-09-25 16:02] duboisp commented on #8366
I/We (Service Canada) are not against to release the intranet theme based on the latest version of WET. What we need is an official theme lead which would be tasked and responsable to do the release and maintain the repository.

If there a such high interest to have the intranet theme back, then I can coordinate the creation of a small community/team dedicated. This for the intranet theme or any o

[2018-09-25 17:12] LaurentGoderre commented on #8366
Releasing the theme took less than 10 minutes with the automated script why isn't it possible to just do that part?

[2018-09-25 17:38] duboisp commented on #8366
@LaurentGoderre may be yes to produce and publish the binary/compilation, but that don't include maintenance effort and producing relevant documentation for now on and moving forward. I prefer to have a lead that would be able to maintain it in a more stable manner.

BTW - a PR with the appropriate release note and links to the theme binary/compiled version are welcome.

[2018-09-25 17:50] LaurentGoderre commented on #8366
I believe what the community is asking is to continue producing the binaries until a proper theme lead is found. Would that be an acceptable compromise?

[2018-09-25 18:09] joejoseph00 commented on #8366
Je suis d'accord avec Laurent, à 100%, sauf je suis un consultant motivé par l'argent, éliminer le support pour le thème intranet risque de m'enrichir grossièrement!  Mais comme contribuable je déplore ce changement car ça va juste créer le chaos et ça ne sert qu'à enrichir les entreprises au détriment de projets de mérite et de plus grand valeur.  J'ai déjà assez de boulot comme c'est là.  Voilà

[2018-09-25 19:01] duboisp commented on #8366
@LaurentGoderre Feel free to submit the PR.

If the community want all those sub-products released, we need a more active participation from members of the community.

@joejoseph00 I am sorry to heard that your contract with whatever Government of Canada institution that has hired you, don't include a clause to force you to share all your work in the open by following current best practice.

[2018-09-25 19:08] joejoseph00 commented on #8366
Totally off topic, @duboisp , but ya, maybe if the govt would get it's act together they'd GPLv3 stuff like Phoenix instead of writing blank cheques to IBM.

My point is, I don't think you realize what impact your changes have.  Maybe you should just listen to Laurent, he's the one that built this whole architecture, he's the expert that actually knows how this thing works and the whole ecosystem

[2018-09-26 01:14] thomas-kay commented on #8366
I could help.  I've assisted in deploying WET templates to the CDN locations. Example,  ssl-templates.services.gc.ca  ( both into legacy www zones, and intranet zones that get copies of such critical WET assets).

We can deployed to the shared hub/intranet enclave between GC departments.   I need to move these original template support sites anyways to the next OS platform SSC will enable for them

[2018-09-28 20:44] biljanap opened #8483 "Equal heights not working on campaign example page"
[http://wet-boew.github.io/themes-dist/GCWeb/campaign2-en.html](url)

The class ```hght-inhrt``` is applied to the wrong html element. It is applied to ```<li>``` element when it should be applied to child ```<a>``` element.

[2018-10-01 11:58] GarthMartin commented on #8479
Is this a known issue with IE?  Will it be fixed?  I cannot even try to repro with the samples on the documentation pages as they do not work (all videos return a 404 error).

Cannot even test against the demo pages as all videos return 404 errors ( https://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-en.html).

This is related to #8169 which is getting very stale.

[2018-10-01 16:49] duboisp commented on #8483
@biljanap can you show us what is the issue and how we can reproduce it? like with a screen capture or a HTML snipped.

Feel free to send a fix via a Pull Request in the GCWeb repository. This is the file that would need to be updated:
* https://github.com/wet-boew/GCWeb/blob/master/site/pages/campaign2-en.hbs
* https://github.com/wet-boew/GCWeb/blob/master/site/pages/campaign2-fr.hbs

FYI - Next

[2018-10-01 16:55] duboisp commented on #8479
@GarthMartin are you able to work or provide ressources that can develop a fix for your issue? If so, I invite you and your ressource to come at the WET-BOEW weekly Tuesday code sprint at Place du portage at Gatineau. The next code sprint will be next week.

We will need to figure out how the issue can be reproduced before to start debugging it.

Cheers

[2018-10-02 18:03] EricDunsworth commented on #8483
I came across this too 1-2 weeks ago. Must've forgotten to properly test equal heights when I brought that template into GCWeb.

I'll try sending out a PR to fix it later this week or next week.

[2018-10-02 19:50] marcallain2 opened #8485 "URL Mapping - Table filtering:"
Hi,

I'm having a hard time getting this to work. I've set up a dev page with the code pasted as is from the [example](http://universallabs.org/wet/labs/urlmapping/v1.0-b1/demos/urlmapping/tblfilter-en.html) and still no go.

Here is my dev link: http://www.justice.gc.ca/eng/rp-pr/fjs_test3.html.

Any help is greatly appreciated!!

[2018-10-03 18:46] DanBeaudinCCG opened #8486 "New to WET4 - How flexible is it as far as design/CSS?"
I am wondering if there is a lot of flexibility for customization?

Can design elements change? (background images, link colors, buttons design, header size, footer size, page background, etc.)

That being said, we would still follow web accessibility and usability standards and guidelines.

Thanks!

[2018-10-03 21:16] thekodester commented on #8486
Some provincial governments have change things up, but it a lot of work.

I really like the look of PEI's site: https://www.princeedwardisland.ca/en.

[2018-10-04 14:59] thekodester commented on #8486
Has a lot to do with consistent design. It to make the user experience easier of each site and page would have a similar look and functions.

[2018-10-04 15:01] thekodester commented on #8486
My self the look of the [GCWeb Theme](https://github.com/wet-boew/GCWeb) is not that bad looking. It very simple.

[2018-10-04 19:48] deepsidhu85 opened #8487 "Tabbed Interface data not viewable on tab click"
Has anyone else experienced the following issue with the tabbed interface:

Say for example we have 2 tabs, if you click within either tab that data is still viewable when clicking on the link for that tab. If you click on the link to the other tab it does not display the data

My view page is has a lot of data but the issue is reproducible in this example:

<div class="wb-tabs">
	<div class="tabp

[2018-10-04 20:07] thekodester commented on #8487
What browser and version? I don't see an issue in Safari 12.0 or Chrome 69.0.

[2018-10-04 20:19] deepsidhu85 commented on #8487
Experiencing this issue in both Firefox 62.0 (64-bit) and Chrome 69.0.3497.81 (Official Build) (64-bit) on Ubuntu 18.04.

I am using Ruby on Rails for the framework. I'm thinking maybe there is an issue with turbolinks

[2018-10-09 18:37] DanBeaudinCCG commented on #8486
Do you have other examples of provincial governments or any other uses of this basic template, but adapted to their needs and design?

[2018-10-09 18:37] ogati opened #8488 "Skip WET validation against input fields with ignore class"
Hi,
I'd like not to perform WET validation against an input field when the submit is clicked. I use the code (see below) from "Configuration options" section at [https://wet-boew.github.io/v4.0-ci/docs/ref/formvalid/formvalid-en.html](url). However, the input field still gets validated. Does anyone know why? Many thanks.

`<div class="wb-frmvld"><form action="#" method="get" id="myform"><input cla

[2018-10-10 20:10] #8361 closed

[2018-10-10 20:18] duboisp commented on #8486
@DanBeaudinCCG it depends what you are looking for. Is it for a Government of Canada institution? What rule you need to comply to?

You can always fork the project, customize the build or/and modify it to fit your need.

[2018-10-11 14:55] ZacharyLeeCarbonneau commented on #8161
To hide your first tab for example:

$("#details-panel-ArticlesByDate-lnk").hide();
$("#details-panel-ArticlesByDate-lnk").closest("li").hide();

[2018-10-11 15:50] TaylorPope opened #8491 "Issue with Safari 12 for datalist populateoptions"
Using safari the option list covers the input box so you cant see what you are typing.
The list comes from populateOptions in datalist.js

We fixed it for our case by adding:
[code]

Not sure if this is a good fix or specific to our use. Here is an example pic to see what the issue is:
![populateoptions](https://user-images.githubusercontent.com/12159291/46816449-febeef00-cd4a-11e8-97c2-e189fe482c

[2018-10-12 13:45] fredymoko opened #8492 "Form buttons and dropdown list element are cut off at 200%"
On this page: http://wet-boew.github.io/themes-dist/GCWeb/feedback-en.html,
all form buttons and dropdown list are cut off at 200% due to the absolute length units:
input[type="button"], input[type="reset"], input[type="submit"] {
    _height: 37px;_
}

.form-control {
     _height: 37px;_
    }

![zoom_200_percent](https://user-images.githubusercontent.com/13095980/46872664-d0044f80-ce02-11e8-992

[2018-10-15 14:49] jcmiron opened #8493 "Language switching after page load"
I am using angular 6 and I am trying to switch languages on the fly after the page is initially loaded. It works for angular but I can't seem to get the validation error messages for the Wet to switch to french. I check my dom and the html tag has the "fr" value.

I am wondering if I need to re-initialize using jQuery the wb object or not or something when I switch language? Even if I hardcode in

[2018-10-15 15:55] bronsl opened #8494 "Mobile menu with IE11"
We were in the process of upgrading a web application from WET 4.0.28.1 to 4.0.29 when we noticed that the mobile menu doesn't open in IE11 when using wet-boew.js from the 4.0.29 package.

Upon looking at the distribution templates more closely, we noticed the same problem with some of the files in the download package, including themes-dist-4.0.29-gcweb\localnav\task1\index-en.html, which is the

[2018-10-15 19:44] duboisp commented on #8493
Your issue is similar to #8465

[2018-10-16 13:34] duboisp commented on #8494
@bronsl I tested in IE11 and I am unable to reproduce your issue. Did you experienced the same issue if you only use the production file on v4.0.29? or only when you replace the binary of v4.0.28.1 build?

[2018-10-16 14:01] DHaslip commented on #8494
I've been working on this issue with @bronsl.  I can reproduce the issue by:
- downloading the Production files for the Canada.ca theme, v4.0.29
- extracting the zip file to my local disk
- opening themes-dist-4.0.29-gcweb\localnav\task1\index-en.html with Internet Explorer 11
- re-sizing my browser so that the hamburger icon appears
- then clicking on the hamburger icon and the mobile menu is not

[2018-10-16 15:59] bsouster commented on #8099
Do you supplement NVDA with addons? I sent it to a JAWS user for testing.

[2018-10-17 13:43] szet0018 opened #8496 "Accessibility issues with data tables and JAWS"
We are using WET v4.0.21 and did testing with Internet Explorer 11.0.96 and JAWS 18 + JAWS 2018.

When we navigate by keyboard to "Filter items" on the datatable, JAWS 18 reads "Filter items" multiple times. When we input a search term into "Filter items", TAB to a field before the "Filter items", then TAB back to "Filter items", JAWS 18 will read "Filter items" and the search term over and over a

[2018-10-17 15:29] davidbarrett-eccc commented on #7631
We argued up and down, back and forth for italics (and other things) before we migrated to Canada.ca (I'm at Environment and Climate Change Canada) and were shut down repeatedly. We're still being encouraged to remove all italics from pages that have been migrated in the "optimization phase", which, by my reckoning, would take over a decade to complete for the site I work on (assuming we hire seve

[2018-10-17 17:03] kevins1234 opened #8497 "Error when page load."
Hi,
I copied the session-timeout.js and am including it in my page as follows.
		<span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "www.cnn.com"}' />

I get the following error in Chrome:
Uncaught ReferenceError: wb is not defined at line 451.
Am I missing something?
Thanks

[2018-10-18 15:48] duboisp commented on #8494
You need to access it through a web server, like http://localhost. When running the file locally some browser, like IE11, prevent to run any javascript code.

[2018-10-18 18:03] karinne commented on #6742
Hi! One of our developers created a javascript that overwrites the part in the jQuery validator that impedes on this process and then converts the number to a number with "." for ease of saving the data in the database.

This is currently only available in our development area but we will be sending it to testing very soon.

We are willing to share this javascript file if you feel there is a need

[2018-10-18 18:05] shawnthompson commented on #6742
cc/ @duboisp

Here is a screenshot of the issue:

![image](https://user-images.githubusercontent.com/2575266/47174542-dac95380-d2de-11e8-8092-6f6c4d09ed83.png)

[2018-10-18 18:47] TaylorPope opened #8498 "Issue with Safari 12 for datalist populateoptions funtionality"
Related to this issue: https://github.com/wet-boew/wet-boew/issues/8491

When using Safari the options that are generated are unable to be selected. After double clicking an option the dropdown list just disappears with the input field not autocompleted.

[2018-10-18 22:05] measterbrook opened #8499 "Session Timeout Tool Error"
I am getting this error in the session-timeout.js file:
0x800a1391 - JavaScript runtime error: 'wb' is undefined

I am using this in my webpage:
`<span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "../index-en.html"}'></span>`

I have loaded the script by inserting this header in the webpage:
`<script src="~/Scripts/session-timeout.js"></script>`

The error occurs when the

[2018-10-18 22:31] RobJohnston commented on #8499
I think I know your problem.  You should load the `wet-boew.min.js` script, not `session-timeout.js`.  It's all or nothing... you can't pick-and-choose the functionality you want.

Here's a working example:  https://wet-boew.github.io/wet-boew/demos/session-timeout/session-timeout-en.html

[2018-10-18 22:34] RobJohnston commented on #8499
Duplicate of https://github.com/wet-boew/wet-boew/issues/8497.

[2018-10-19 19:33] #8499 closed

[2018-10-25 16:54] RobJohnston opened #8500 "Tables: Filtering on an exact match"
I'm following the [DataTables filtering example](http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html), but in my case, a select list used as a filter has a numeric for a value and a string for the text, as is typical for database work.  I'll try and extend the working example to make my issue clear.

Image a filter has values like this for column 7:
[code]
And the table is defined like t

[2018-10-26 13:59] c0brarules opened #8501 "Multimedia Player:"
Hello.

Is it possible to add a full screen button and if so, how do I add one.

[2018-10-29 20:52] 2denise commented on #7896
It would appear that the approach hasn't been updated since February 2017. We're working on an enrolment process where 95% of the fields are required. That's A LOT of red "required" text on the page. In testing, we heard from several participants that they presumed everything was required. Any new thoughts on this issue?

[2018-10-29 21:29] 2denise commented on #7896
This is our current thinking:
![image](https://user-images.githubusercontent.com/9452146/47681510-0c280600-dba0-11e8-95dd-da82382cd99f.png)
Direct instructions with clean layout.

[2018-10-30 13:09] shawnthompson opened #8503 "v4.0.29 French release notes not updated"
The [v4.0.29 - Notes de version](http://wet-boew.github.io/v4.0-ci/docs/versions/v4.0/v4.0.29-fr.html) were not updated

[2018-10-30 15:14] EricDunsworth commented on #8503
It looks like the French version of that page was fully updated apart from a leftover "4.0.28" H3 heading.

I just sent out an unrelated PR to fix broken commit links in both versions of that page. Will send out another to remove the aforementioned heading.

[2018-10-31 12:17] Bgolden67 commented on #7896
@nschonni Don't forget mobile users.. that asterix can be easily missed. Even on a larger screen, I've missed asterix only indicators and I'm not a low vision user, so I don't think a small character is enough. I do however agree that on a form where most fields are required, it can be visually in your face to see **(Required)** after every line.

As for someone's mention about making name and ema

[2018-10-31 15:12] duboisp commented on #8500
@RobJohnston great description.

I can see to have the column filtering option to be passed through a data attribute on the form with the class "wb-tables-filter" or on a data attribute directly set on the input control. I will opt-in for the easiest and more intuitive solution to configure such parameter.

Feel free to send a PR (code update, docs and working example)
Or you can join me during an

[2018-10-31 15:27] duboisp commented on #8501
WET multimedia player seems to not support the [fullscreen API](https://fullscreen.spec.whatwg.org/) yet by using it's custom controls. I think it is feasible to add a such feature.

If your are interested, during the weekly Tuesday WET code sprint I can assist you to develop and submit that new feature.

[2018-10-31 16:38] lisafast commented on #7896
I notice a similar issue here posted for field flow: https://github.com/wet-boew/GCWeb/issues/1391 where @duboisp is suggesting a "displayRequired" option, I think similar to what @LaurentGoderre suggests above.  So there is clearly a need for a solution to reduce the visual overload when every/almost every q is required.

Our research with over 100 participants on WET forms back in 2017 supports

[2018-10-31 17:15] DanBeaudinCCG commented on #8486
As mentioned on the Treasury Board of Canada web site, we have to comply to Standards on Web Accessibility (https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601) with conformance requirements found on thw W3C site (https://www.w3.org/TR/WCAG20/#conformance-reqs).

We also need to apply the Standards on Web Usability (https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227).

That being said, the Intran

[2018-10-31 17:30] thekodester commented on #8486
Right now the intranet theme has been abandoned. See https://github.com/wet-boew/wet-boew/issues/8366#issuecomment-422862989 by @LaurentGoderre for more information on this discussion.

[2018-10-31 17:51] duboisp commented on #8486
The Standards on Web Accessibility applies to all Web pages that are "Public Facing"  (i.e., available to individuals and businesses outside of the Government of Canada). See the section 2.2 of the Standard. Idem for the usability standards, it's the same section (2.2) too.

So for intranet web site dedicated to Government of Canada employee, meeting the Standard on Web Accessibility and Standards

[2018-10-31 18:00] DanBeaudinCCG commented on #8486
Thanks very much for all your help!! :)

[2018-11-02 15:19] fibrahim opened #8505 "Feeds Plugin"
We have been having problems lately with the Feeds widget. It seems to fail intermittently.

(1) Is it possible to just reference a JSON file directly, rather than use an XML file that is converted to JSON?

(2) Is it possible for the Feeds code to just parse the ATOM/RSS XML directly?

The Feeds plugin is extremely important for GoC departments, and it should basically never fail. Reliance on a 3

[2018-11-02 16:40] c0brarules commented on #8501
Thanks duboisp.

I believe I met you at A11yCamp at the University of Guelph a few years ago.

What is the "weekly Tuesday WET code sprint"?

I am interested however I am not really a programmer so I am not sure if I will be able to figure it out, but I am willing to try.

[2018-11-05 02:09] duboisp commented on #8505
Not with the WET Feed, but if you are using the GCWeb theme, you can achieve it by using Data-JSON with the HTML5 template. Like the last example "Layout a RSS feeds" here: http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/template-en.html

Not yet, but it will be soon possible to do it with the Feed plugin, see PR #8502

[2018-11-05 13:40] jhaydtw opened #8506 "Help with implementing datatables"
I wish I knew more about this, but here is the issue from my developers:
We need the directory structure to map to the .css and .js files.
--------------------------
What do we include to get all these files? Including the datatables css and js files?

For example this is base directory we have:
https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_27/

Then we add  /cdts/compiled/soyutils.js

[2018-11-05 13:40] jhaydtw opened #8507 "CDN help"
I wish I knew more about this, but here is the issue from my developers:
We need the directory structure to map to the .css and .js files.
--------------------------
What do we include to get all these files? Including the datatables css and js files?

For example this is base directory we have:
https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_27/

Then we add  /cdts/compiled/soyutils.js

[2018-11-05 13:43] jhaydtw commented on #8506
hmmm, screwed something up.  this one can be closed.

[2018-11-05 13:43] #8506 closed

[2018-11-05 13:51] thekodester commented on #8506
See https://datatables.net for more features of the plugin.

FYI: WET excludes some features for accessibility reason.

[2018-11-05 13:52] thekodester commented on #8507
See https://datatables.net for more features of the plugin.

FYI: WET excludes some features for accessibility reason.

[2018-11-05 13:55] thekodester commented on #8507
See [table.js](https://github.com/wet-boew/wet-boew/blob/6dda28ad4d64de6a051cdd7811024a615066f414/src/plugins/tables/tables.js#L81) on how WET loads the table.

[2018-11-05 14:10] RobJohnston commented on #8507
The download would show you the relative paths: http://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html

But if I understand, you shouldn't be digging for individual JavaScript  and CSS files!  Look at the code-behind for any page and you'll see the links for the wet-boew.js files, for example, https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js.

[2018-11-05 16:37] thekodester commented on #8507
Also if your developers need help there is a weekly code sprint usually on Tuesday. Imagine @duboisp could give you more information.

[2018-11-05 16:41] duboisp commented on #8507
@shawnthompson

[2018-11-05 18:14] shawnthompson commented on #8507
I don't think this is a CDTS issue. I think they are asking for all the WET JS files. @jhaydtw  Can you please tell us more about your issue?

[2018-11-05 19:46] markbelanger opened #8508 "CDN - French mega-menu character encoding"
The CDN mega menu in French (http://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-fr.html) is not encoded properly. The accented characters are displaying wrong. This affects any sites using this CDN. Please fix. Thank you.

[2018-11-05 19:58] duboisp commented on #8508
We are currently investigating the issue. Thanks for reporting it

[2018-11-05 20:29] markbelanger commented on #8508
Thank you very much for the quick turnaround on this. Much appreciated.

[2018-11-05 20:29] #8508 closed

[2018-11-05 20:30] markbelanger commented on #8508
French accented characters fixed. CDN mega-menu now works as expected.

[2018-11-06 14:39] duboisp commented on #8501
Yes, I was there a few years ago with Toufic.

It's a day where WET-BOEW contributors are welcome at my office, at Place du portage in Gatineau, to make contribution to WET or GCWeb. Some contribution are supporting directly the WET-BOEW project, like solving web accessibility reported issues, and some other are building new WET tools or learning how to do with existing WET tool to support their d

[2018-11-06 17:02] zyxy opened #8509 "Tabbed Interface: Collapsing on each ASP.NET page postback and doesn't Expand on IE11"
Bonjour,

I am new posting on GitHub and I hope I am not duplicating any existing issues/questions. I searched quite a lot on GitHub and Google for the solution, to no avail. Anyway, I am currently developing a web application on WET4. I successfully implemented the data tab interface (screenshot attached) with the following code. I  tried many attributes/classes suggested here on GitHub:

http://

[2018-11-06 19:40] duboisp commented on #8509
The tabs plugins seems to not being called. You first class should be ```wb-tabs``` instead of ```data-wb-tabs```

Like:
[code]

See the source code of the working example here: http://wet-boew.github.io/wet-boew/demos/tabs/tabs-en.html

If that doesn't work, can you provide a copy of the rendered HTML markup that are sent to the client browser.

[2018-11-07 16:18] #8503 closed

[2018-11-07 20:33] Pacoup opened #8510 "API to extend mobile menu panel?"
In our Intranet redesign, we are adding login links to the menu bar. For example, we add this markup in our Drupal template:

[code]

The details aren't relevant, but basically, what I'm trying to achieve is to add links here:

![add_links_here](https://user-images.githubusercontent.com/112764/48158798-74ae6b80-e2a1-11e8-8dba-c50a16b16dc2.PNG)

Since these extra links are not inside the actual men

[2018-11-07 20:45] thekodester commented on #8510
I wouldn't use that many level two headers (`<h2>`). You could include it with the language tab.

Update this code:
`<section class="lng-ofr">
<h3>Language selection</h3>
<ul class="list-inline">
<li class="visible-xs-inline visible-sm-inline"><a href="#">Sign out</a></li>
<li><a lang="fr" hreflang="fr" href="index-fr.html">Français</a></li>
</ul>
</section>`

Image:
<img width="826" alt="screen s

[2018-11-07 20:52] thekodester commented on #8510
The key is having the `<section>` with 'class="lng-ofr"' and the list item ('<li>') with 'class="visible-xs-inline visible-sm-inline"'.

[2018-11-07 21:05] thekodester commented on #8505
As for the intermittent errors a lot of that has to do with the Yahoo API which is used to process the feeds. It has crashed in the past (for example https://github.com/wet-boew/wet-boew/issues/7802).

[2018-11-07 21:07] thekodester commented on #8123
Also on that topic it looks like Yahoo is planing on phasing it out. There website had this message:

[2018-11-07 21:08] thekodester commented on #8505
Also on that topic it looks like Yahoo is possibly planing on phasing it out. There website had this message:

[2018-11-07 21:18] thekodester commented on #8491
This appears to be fixed with macOS latest updates. When using http://wet-boew.github.io/v4.0-ci/demos/datalist/datalist-en.html.

Demo Site:
<img width="541" alt="screen shot 2018-11-07 at 4 16 21 pm" src="https://user-images.githubusercontent.com/23484460/48161447-8e06e600-e2a8-11e8-98a7-6b901d649919.png">

Safari Version:
<img width="396" alt="screen shot 2018-11-07 at 4 16 25 pm" src="https://

[2018-11-08 14:46] duboisp commented on #8510
@Pacoup There is no official and specific API that allow you to insert content in the mobile menu. The mobile menu is generated by the [menu.js plugin](https://github.com/wet-boew/wet-boew/blob/master/src/plugins/menu/menu.js)

What you can do is to listen on the menu "ready" event and then use JavaScript to insert your content inside the mobile panel. You can see the HTML structure of the mobile

[2018-11-08 15:38] thekodester commented on #8510
Like I said in my second comment you can also do this:

[code]

[2018-11-08 15:40] Pacoup commented on #8510
@duboisp How would I go about listening to the menu ready event outside of a WET plugin? Something with wb.ready?

[2018-11-08 15:57] duboisp commented on #8510
You will need to write some JavaScript. It should look like:

[code]

See the events section in the WET menu documentation: http://wet-boew.github.io/wet-boew/docs/ref/menu/menu-en.html

[2018-11-08 16:16] thekodester commented on #8510
Using this code works:

[code]

See https://www.thekodester.ca/wet/menu/demo

[2018-11-08 16:34] thekodester commented on #8492
Yes with Zoom Test Only the enforced height causes the issue. I wonder if using `min-height` would fix it without causing any issues on other browsers.

[2018-11-08 16:38] thekodester commented on #8492
Looking a the scss files it appears this is not a wet override, but coming directly from bootstrap.

See https://github.com/wet-boew/wet-boew/blob/1882dd3df9cefb0d8d64edb22783903ace778edd/src/base/bootstrap-overrides/_base.scss for bootstrap overrides.

[2018-11-08 16:39] duboisp commented on #8510
@thekodester Your code render like this for the mobile menu generated by the menu plugin:

[code]
See the "undefined" header and you can see it mix up the content of both section.

BTY - It would be nice if a simple solution like yours would work.

FYI - In the long term, the mobile menu may stop to be auto-generated at every page load. Instead, the same markup would be reuse in desktop and in mob

[2018-11-08 16:42] thekodester commented on #8510
I didn't notice that. That kinda sucks. Yes the new menu on GCWeb is nicer then the old style.

[2018-11-08 16:42] thekodester commented on #8492
There are other open issues too https://github.com/wet-boew/wet-boew/issues/7744 and https://github.com/wet-boew/wet-boew/issues/6910

[2018-11-08 16:52] Pacoup commented on #8510
Wow... why is the font so big. So many options... I'm not sure this is an improvement. Pretty sure the Amazon menu is not an example to follow. Does anyone even use it? I would think everyone just uses the search.

[2018-11-08 16:56] thekodester commented on #8492
The better solution seems to be https://github.com/wet-boew/wet-boew/issues/7744#issuecomment-387200043.

[2018-11-08 16:57] thekodester commented on #7884
Also see https://github.com/wet-boew/wet-boew/issues/7744#issuecomment-387200043.

[2018-11-08 17:03] thekodester commented on #8510
Thats a fair point of view. I can get why they want to redesign as the current menu is becoming overloaded. There is also this approach https://www.princeedwardisland.ca/ I know there using drupal for content management. Neat thing about the PEI site is the have a search/departments tab, so you can select a different department.

[2018-11-08 19:03] shawnthompson opened #8511 "ajax-replace: MS Egde: menu not loading"
There's a problem with the menu when you use ajax for both the main menu and the footer `nav`. This only happens in Edge.

I've created samples to show the differences.

<ul>
    <li><a href="https://shawnthompson.github.io/gcweb-ajax-menu-no-cache/index-en.html">ajax-replace menu from GCWeb, footer inline (works)</a></li>
    <li><a href="https://shawnthompson.github.io/gcweb-ajax-menu-no-cache/i

[2018-11-08 19:58] shawnthompson commented on #8511
Often happens only on refresh or change of page.

Might be related to #8268

[2018-11-09 03:20] duboisp commented on #8510
The whole design concept was done by TBS and mostly based on usability research. [GC-proto/design-refresh](https://github.com/gc-proto/design-refresh/) repository was the project incubator. Me and a few other contributors has worked on implementing that design concept in GCWeb. For the bigger font, I think that was to improve the readability. TBS knows more about the rationale for these changes.

[2018-11-09 03:43] duboisp commented on #8511
Il faudrait vérifier si les deux section sont "ready" avant d'initialiser l'amélioration du menu. Présentement le plugin du menu support le chargement de contenu en différé venant de la barre des menus. Il est assumé que le pied de page (footer) est déjà existant dans la page courante.

Le "Network log" indique que le fichier du menu "sitemenu-en.html" est téléchargé avant le fichier "footer.html"

[2018-11-09 18:43] Pacoup commented on #8510
@duboisp Anyway, I will implement `wb-ready.wb-menu` soon. Given that this answers the question of my issue, I will close this. Thanks for your help.

[2018-11-09 18:43] #8510 closed

[2018-11-13 16:18] frankding2014 opened #8512 "how to implement dropdown button"
Hey folks,
Is there an example to implement a dropdown button like the one report problem button in url  http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-en.html  ?

When "Report problem in this page" button is clicked, a group of checkbox  is showed as well as a submit button.

Thanks

[2018-11-13 18:52] Pacoup commented on #8512
This just looks like a creative use of details / summary. If you're satisfied with the functionality, code like this should work out of the box in WET 4.

[code]

This is pulled directly from the page you linked. You can then style it as you wish. I think you can even put pretty much anything you want inside the details.

[2018-11-13 19:17] zyxy commented on #8509
Bonjour Pierre,
thanks for your quick response. Sorry it took me a while to reply as I was addressing other issues in this project. Attached are the markups rendered on the client side. One HTML page is generated with wb-tabs and the other one with data-wb-tabs. Note that if I use wb-tabs only, the section headers do not appear at all on the user interface, despite that the underlying markup is pr

[2018-11-14 14:36] marcbertrand33 opened #8513 "vertical align"
Hello,

I am looking for an answer regarding vertical align.

Does WET 4.0 have a class for vertical aligns?

If yes, what is the code?

Thank you.

Marc

[2018-11-14 14:39] RobJohnston commented on #8513
See the discussion in https://github.com/wet-boew/wet-boew/issues/6906.

[2018-11-14 19:46] frankding2014 commented on #8512
Thanks. It works.

[2018-11-14 19:46] #8512 closed

[2018-11-15 17:01] duboisp commented on #8509
@zyxy the attachment didn't get uploaded in the issue when you replied by email. But you can add it if you go through the github website by adding a comment at this issue.

[2018-11-15 17:04] #8513 closed

[2018-11-15 17:38] Bgolden67 commented on #8123
@MaximMartel It was brought to my attention again this week that delays are frequent yet sporadic at the same time if you get my meaning.

[2018-11-15 17:47] duboisp commented on #8123
@Bgolden67 Once testing will be completed for PR #8502 it will be possible to use a feed whitelisted by the CORS http header. That should reduce a lot the delay that you are experiencing and it will offer an alternative to not depend on the Yahoo API to read a feed.

Let me know if you can help me with testing PR #8502.

[2018-11-15 22:45] DoctorEJB commented on #8301
Finally got back to looking at this issue.   Currently working with Angular 6 and tinyMCE 4.8.5.  Still serious issues; the tinyMCE editor only appears about 1 out of 10 times and only in IE.
Investigating further...

ecstriker - if you are still around, I'm curious  - your "chart code" - what approach are you taking to render it?  Are you dynamically rendering it using Renderer2?  Or is it more n

[2018-11-16 00:00] jsguy1 opened #8514 "Help with web form"
Hello,

I have a form that looks like the following:

--------------------------
Radio Options:

- Option 1
- Option 2
- Option 3
- Other

Textbox:

- Other
--------------------------

If "Other" is selected as a radio option, I want the textbox below Other to be a required field.  If "Other" is not selected as a radio option, then the textbox is not a required field.

We are using AEM so we are f

[2018-11-16 15:06] duboisp commented on #8514
What version of WET and what theme are you using?

[2018-11-16 15:15] jsguy1 commented on #8514
We are using WET4 and the Canada.ca theme.  I believe the exact version is WET v4.0.28.

[2018-11-16 20:14] agagnon opened #8515 "Field flow "Output Container ID" not working"
I'm using the field flow plugin and i'm trying to use the "outputctnrid" attribute, but it doesn't seem to be working.

The page is loaded correctly with AJAX, but not in the div#frame, it loads in a new div (default behavior)

`<div id="frame"></div>`
`<li data-wb-fieldflow='{"action": "ajax", "url": "page1.html", "live": true, "outputctnrid": "frame"}'>Page 1</li>`

Am I missing something?

[2018-11-18 01:33] jsguy1 commented on #8514
Anyone?

[2018-11-18 02:43] thekodester commented on #8514
Appears WET only has hidden input with a drop down list. See http://wet-boew.github.io/wet-boew/docs/ref/feedback/feedback-en.html

[2018-11-19 15:06] duboisp commented on #8514
@jsguy1 To do it like the feedback form working example, it will require you to add some custom javascript.

An alternative solution is available if you can modify the flow of your web form a little bit by using the [do action](http://wet-boew.github.io/themes-dist/GCWeb/demos/doaction/tblfilter-en.html) plugin (Using a combination of addClass and removeClass action) or by using the [field flow](h

[2018-11-19 15:22] duboisp commented on #8515
@agagnon the configuration name is ```container``` not ```outputctnrid``` as illustrated by the first working example in the [field flow advanced](http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/advanced-en.html) example page

The ```outputctnrid``` is to defined an container where you want the field flow controls to be rendered inside the page. I sent a PR to update the field flow doc

[2018-11-19 18:51] jkshapiro opened #8516 "Data tables pagination not needed when only one page"
With the DataTables plugin, when only one page of results is returned, the pagination should be hidden. It's confusing to see a big "1" button that doesn't even do anything.

Screenshot below is from http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html with Firefox on Windows:

![screenshot_2018-11-19 tables - working examples - web experience toolkit](https://user-images.githubuserconten

[2018-11-19 19:07] PaulCormier commented on #8494
I notice that the data-ajax-replace isn't happening on the file:// pages either. When the menu isn't replaced with AJAX the overlay code isn't initialised. This is due to the change introduced in pull request #8459 which was meant to fix issue #8241.

[2018-11-19 19:21] PaulCormier opened #8517 "No mobile menu on non-AJAX menu"
I'm using 4.0.29 with a non-AJAX menu. The "wb-init.wb-overlay" event isn't being called on the mobile menu because there's no AJAX happening to trigger the function passed to ajaxStop in:
https://github.com/wet-boew/wet-boew/blob/9e85c8b2099ae1de5b4d1c0b331a0a5df4ed6fb7/src/plugins/menu/menu.js#L322-L332

[2018-11-19 23:12] thekodester commented on #8516
This is default design on the plugin. Only way to currently remove would be hiding it using JavaScript as the DataTable loads.

See https://stackoverflow.com/a/11050988 for a way to do that.

Another suggestion is bring your concern to the DataTable group.

[2018-11-20 01:47] duboisp commented on #8494
@PaulCormier if you revert locally the changes introduced by pr #8459 it will resolve this issue?

Did you tried via a webserver without doing any changes?

[2018-11-20 02:38] thekodester commented on #8494
@duboisp is right here you need to run WET on a server for functionally especially AJAX related. If allowed in your department you can use apps like XAMPP (http://www.apachefriends.org/index.html) to create a localhost environment on your desktop for testing.

[2018-11-20 12:47] PaulCormier commented on #8494
@duboisp Reverting the change does resolve the issue. In a web server the AJAX runs and the overlay is inited.

@thekodester I have run with, and without, a web server; in relation to this issue I was noting the connection between the AJAX not happening on local pages, and the mobile menus not loading.

Upon further testing I notice that, as @bronsl observed, the Task 1 page does not initialise th

[2018-11-20 13:17] thekodester commented on #8494
@PaulCormier It would be excepted that 'file://' is block as most browsers do this by default for security reasons as that would be trying to access a file direct on my system and not the servers.

[2018-11-20 13:59] thekodester commented on #8494
I found no issue with **using** AJAX and generating a mobile menu.

Example:
![untitled2](https://user-images.githubusercontent.com/23484460/48778159-79602000-eca2-11e8-891d-3d00e4959071.png)

IE:
![untitled](https://user-images.githubusercontent.com/23484460/48778171-7e24d400-eca2-11e8-9b1f-1bf52d11c763.png)

This was using wet version 29 (also tested gcweb and same no issue).

[2018-11-20 14:01] thekodester commented on #8517
I can confirm that since version 4.0.29 that if you hard code the menu and **do not use** AJAX then mobile menu fails.

[2018-11-20 14:34] Bgolden67 opened #8518 "Template Basic HTML message - typo in French"
It's been pointed out that this noticehas a typo at the end:

Avis: Version HTML simplifiée

Vous naviguez présentement sur la version HTML simplifiée de cette page. Certaine fonctionalités peuvent être déactivées.

déactivées should be dé**s**activées

[2018-11-20 19:20] jkshapiro commented on #8516
There's a simple solution at https://datatables.net/forums/discussion/46103/hiding-pagination-when-the-table-only-has-a-single-page-when-filtering . Could this be added to WET?

[2018-11-20 19:21] jkshapiro commented on #8516
Alternatively https://github.com/DataTables/Plugins/blob/master/features/conditionalPaging/dataTables.conditionalPaging.js

[2018-11-21 03:15] thekodester commented on #8516
There is another easy way to do this by wrapping the code from [Line 138](https://github.com/wet-boew/wet-boew/blob/6dda28ad4d64de6a051cdd7811024a615066f414/src/plugins/tables/tables.js#L138) in that tables.js which recreates the pagination with accessibility, but instead hide it if only one page.

[code]

[2018-11-21 03:18] thekodester commented on #8516
What do you think @duboisp ?

[2018-11-21 03:19] thekodester commented on #8516
@neoinsight

[2018-11-21 16:13] duboisp commented on #8494
@PaulCormier Is your page is fully loaded? You can look in your network tab to see if there any "pending/loading" http request

[2018-11-21 16:18] duboisp commented on #8494
@StdGit can you try to reproduce this issue in your workstation, thanks

[2018-11-21 16:48] #8515 closed

[2018-11-21 16:49] PaulCormier commented on #8494
@duboisp Yep. Everything's fully loaded. The Google tag manager sometimes takes a little while to load, but removing it from the page doesn't affect my results.

[2018-11-21 17:01] duboisp commented on #8123
@Bgolden67 Thanks

I published a build that include the PR 8502. - https://github.com/wet-boew/wet-boew/pull/8502#issuecomment-440724539

The first working example use the CORS, here the link:
* Test URL: http://universallabs.org/wet/labs/pr-8502/demos/feeds/feeds-en.html
* WET-BOEW build with this fix: http://universallabs.org/wet/labs/pr-8502.zip

Let me know your testing result.

[2018-11-21 17:02] duboisp commented on #8505
FYI

I published a build that include the PR 8502. - https://github.com/wet-boew/wet-boew/pull/8502#issuecomment-440724539

The first working example use the CORS, here the link:
* Test URL: http://universallabs.org/wet/labs/pr-8502/demos/feeds/feeds-en.html
* WET-BOEW build with this fix: http://universallabs.org/wet/labs/pr-8502.zip

[2018-11-21 21:16] StdGit commented on #8494
@PaulCormier @bronsl @duboisp @shawnthompson

I replicated with Internet Explorer (Kbb4466536) and Firefox Dev Edition) the following steps
•downloading the Production files for the Canada.ca theme, v4.0.29
•extracting the zip file to my local disk
•opening themes-dist-4.0.29-gcweb\localnav\task1\index-en.html with Internet Explorer 11
•re-sizing my browser so that the hamburger icon appears
•clic

[2018-11-22 12:53] PaulCormier commented on #8494
@StdGit For this instance, I believe it is an apache server. In issue #8517, it's a Weblogic server.

[2018-11-22 14:34] thekodester commented on #8494
@StdGit Reason FireFox work at all with **_File open_** as you're referring to it, is it browser security doesn't block file accessing with AJAX locally. If you're to use Chrome with the file path act more like IE for security reasons.

[2018-11-22 14:40] shawnthompson commented on #8517
Canada.ca hard codes their menu but they are only using v4.0.28.1.

https://www.canada.ca/en.html

[2018-11-22 14:50] shawnthompson commented on #8494
Can we say this issue is a non-issue because the framework needs to be ran on a web server to have it work. This is an issue we've decided a long time ago not to support file:// systems in WET.

As for #8517 we will look into fixing that to allow for non-ajax menus to work.

Can we close this issue? Thanks for all your testing on this, you folks are awesome!

[2018-11-22 14:58] PaulCormier commented on #8494
I think the issue here is more along the lines of "why does it work on Local Navigation topic page, but not on the Task 1 page?" I think It's related to whether or not the AJAX event is loading in the menus, and the solution to #8517 presumably will answer why it works sometimes, but not others.

Without more input from @bronsl though, it's hard to say where this issue should lead.

[2018-11-22 15:19] bronsl commented on #8494
@PaulCormier  Yes, for IE11, the mobile menu only worked in pages similar to the local navigation page.

I think you're on the right track regarding #8517.  We had integrated it into a web application (running on a server) with no ajaxed-in content, and it was in this scenario that the mobile menu did not work.  We noticed that if you remove the ajaxStop method, the menu will open.

[2018-11-22 16:12] Pacoup commented on #8517
The commit which appears to be break this is https://github.com/wet-boew/wet-boew/commit/8de48593fac3e24307dda4e79e10d7fc5dfdde08.

We are also using a hard coded menu where I work but we're still on v4.0.28.1.

Not super nice, but maybe the code could be moved to a function and that function could be called twice, once normally (like before), and once on ajaxStop. More of a workaround though. Not

[2018-11-22 16:12] StdGit commented on #8517
I will have a look at it. Probably this is a side effect of the fix for the ajax menu.

[2018-11-22 21:19] duboisp commented on #8516
Yes that feature for the datatable can be added, please send a PR.

Regarding which solution to use, some testing would need to be completed like accessibility and performance.

[2018-11-22 21:40] neoinsight commented on #8516
Nice!

Sent from my iPhone

[2018-11-22 22:49] #7825 closed

[2018-11-22 23:32] thekodester commented on #8516
Pull request was created.

[2018-11-23 21:07] StdGit commented on #8517
Hi some update on this bug

I was able to run a non-ajax menu with wet 4.0.29 and the fix for the ajax menu

![menu sans ajax](https://user-images.githubusercontent.com/5129874/48959718-45505d80-ef35-11e8-825a-1937eb0cb5e3.JPG)

In [https://wet-boew.github.io/wet-boew/demos/menu/menu-en.html](url)
Section menu-include-en.html
The first div is `<div class="pnl-strt container visible-md visible-lg n

[2018-11-27 22:29] Christopher-O opened #8520 "Field flow nesting reset"
Hi there, I'm trying to figure out if there is a native way to reset the entire Field-flow plugin nesting example with a reset button by using the data-wb-fieldflow attribute.

I have added in a reset button by using the noForm: true value and it works to reset the dropdowns, but if there is more than one level selected, it does not collapse the list back to it's initial state (only showing one dr

[2018-11-28 18:19] zyxy commented on #8509
Oops sorry here they are, to go along with my reply above ;-) Thanks very much for pointing that out!

[WET_Tabs_Client-side_markup.zip](https://github.com/wet-boew/wet-boew/files/2626116/WET_Tabs_Client-side_markup.zip)

[2018-11-30 22:38] RobJohnston commented on #8026
Consider add the `up-for-grabs` label too.  See https://github.com/up-for-grabs/up-for-grabs.net#up-for-grabsnet.  It may get some new people involved.

https://up-for-grabs.net

[2018-12-04 13:32] Spirch commented on #8366
What are the alternative for the internal theme? Does it mean any vulnerability or bug fix is on every and all individual using 4.0.27 to handle/fix?

Also, depending on how the theme was implemented in a code base, changing it could he expensive/risky.

I find it weird that it was supported and then not supported, it should have been dropped with 5.0

I hope, this is impossible, there will be no

[2018-12-04 18:07] Bgolden67 opened #8522 "Feeds: any development for instagram support?"
Just wondering if there is any work in progress or planned for an Instagram feed similar to the facebook and twitter widget, or to work in the same one?

[2018-12-04 18:13] thekodester commented on #8522
I think the big issue is when Facebook took over Instagram they took a verification approach to using there latest API.

https://developers.facebook.com/docs/instagram-api/getting-started

[2018-12-04 18:22] thekodester commented on #8522
There are some alternatives, but you would be using third party code. Like https://instawidget.net/generate .

[2018-12-04 21:52] grav5 opened #8523 "Overlay: Overlay in Overlay"
When I use an Overlay in a overlay and I want use
[code]
It comes out twice in the last overlay

Thanks

[2018-12-04 21:54] shawnthompson commented on #8523
@StdGit Can you look into this? Thanks

[2018-12-07 19:04] jsguy1 opened #8525 "Accessibility question about JavaScript"
We have a complex form that sends data to a third-party. The functionality of sending the data from A to B relies on JavaScript. The form interface/controls are WCAG 2.0 accessible, but if the user happens to have JS disabled, they are brought to a page with a <noscript> tag that tells them that the site requires Javascript.

I am well aware that this is not ideal, and that progressive enhancement

[2018-12-13 18:50] lizeidsness opened #8526 "Bar chart customization"
I would like to create a bar chart where every bar is a different (but specific) colour.
I found this reference: https://stackoverflow.com/questions/23273055/different-color-bars-for-flot-categories-bar-chart/23274121

However, I do not know how to apply, or if i can, the technique to the WET4 implementation of flot using javascript or HTML attributes.

I have tried various things, and none have w

[2018-12-16 19:43] mgifford opened #8527 "Links to IDs in Documents"
WET should highlight IDs where it is possible to provide links directly to anchors. Looking at pages like this [one on Canada.ca](https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/t4130/employers-guide-taxable-benefits-allowances.html#P897_112354) we need an easy way to see where there are anchors that we can link to.

In a related example, why link to:
https://www.t

[2018-12-17 15:17] duboisp commented on #8525
Yes, we consider JavaScript being [accessibility supported](https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance.html#accessibility-supporteddef).

Using progressive enhancement technique for web accessibility are a best practice and not a requirement to being conform to WCAG 2.0 Level AA.

[2018-12-17 15:33] duboisp commented on #8520
I know that use case is not currently supported by field flow.

Can you consider other form/content design that would fit better with the field flow default design?

I can help you during the Tuesday code sprint. I can either guide you with the implementation of a such feature or work with you on an alternate design.

[2018-12-17 15:44] duboisp commented on #8522
@Bgolden67 There is no work in progress for an Instagram feed similar.

If someone are interested in developing this feature, I invite them to join me at one of the Tuesday codesprint. We would start by documenting the feature and doing an initial environmental scan.

[2018-12-17 15:58] duboisp commented on #8526
Global flot configuration can be set through the ```data-flot``` attribute set on the ```<table>``` element.

For example:
[code]

But by default, the series used for charting is represented by the table row, not the table column. You might want to reverse the axis on how the wet-chart parse the data (```data-wb-charts='{"reversettblparsing": true}'```) or you can rewrite the table markup in a way

[2018-12-17 16:09] duboisp commented on #8527
If I understood correctly, it will be to have a plugin/CSS into WET that would act as an element "ID" revealer. So it would be easier for reader when they want to get a link from a specific section in the content.

[2018-12-17 16:16] mgifford commented on #8527
I have to find a good visual example for this..   But ya, some visual identifier for the anchor that is either on by default or is a discoverable feature set.  Ideally there'd be a widget like https://docs.fluidproject.org/infusion/development/PreferencesFramework.html in WET.

[2018-12-17 16:20] duboisp commented on #8506
JS dependency, such datatable, are only loaded when your page contains an HTML table enhanced with the WET table plugin. Like: ```<table class="wb-tables">```

It's the same thing for loading polyfill and loading other JS dependencies. They are publisher in this folder: https://github.com/wet-boew/wet-boew-cdn/tree/v4.0-dist/js

[2018-12-17 18:50] jsguy1 commented on #8525
Thanks!

[2018-12-17 20:01] JamesCatt opened #8528 "Footnotes not WCAG 2.1 compliant"
FYI the [footnotes pattern](https://wet-boew.github.io/v4.0-ci/demos/footnotes/footnotes-en.html) is not compliant with WCAG 2.1, specifically [SC 2.5.3 Label in Name](https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html), since the hidden text ("footnote") is at the beginning of the link text. The simplest solution to this would be to change the hidden text to follow the number. For exa

[2018-12-17 20:40] massierick commented on #8527
Does wet require any particular server languages in order to operate? I'm wondering if there can be a built-in server side tool to auto generated anchor links for all headings?

[2018-12-17 20:52] mgifford commented on #8527
This should be a javascript think at the most.

[2018-12-17 21:15] massierick commented on #8527
I only mention server side just in case people have JavaScript disabled. I did build a simple JavaScript code to do just that thing though. If anyone thinks it could help, I can post the code ( it could probably be more elegant , I'm one of those coders who k ows just enough to be dangerous, haha...)

[2018-12-17 23:35] mgifford commented on #8527
That's that.. This is exactly what I'm looking for.  And that Microsoft document is a fraction of the size of some GC docs out there.

[2018-12-18 14:36] mgifford opened #8529 "Add EPUB3 to the list of documents"
There's a list of approved document types here:
  http://wet-boew.github.io/wet-boew-styleguide/v4/writing/strctr-en.html

This page supports the following file types HTML, Word, PDF, PPT, Excel but doesn't mention EPUB.

EPUB is a better tool to convey information in a mobile first era than anything other than HTML. It many cases it is better than HTML. For instance, many of the long directives t

[2018-12-18 20:18] shawnthompson commented on #8529
I believe this documentation was brought in from CRA's internet style guide. I think it talks about HTML being the best way to post information online and discourages people from posting any other format.

Curious if [the GC digital operations strategic plan (2018-2022)](https://www.canada.ca/en/government/system/digital-government/digital-operations-strategic-plan-2018-2022.html) will replace thi

[2018-12-18 20:36] marieeved commented on #7438
Hi,
Can someone help me to begin?
If I use a server-side  code like ASP, do I need something in particular (on my computer, etc) or I just have to learn how to write in ASP like as I would learn to write in JavaScript?
Thank you,

[2018-12-19 02:44] RobJohnston commented on #7438
JavaScript runs in the web browser, but for ASP you'll need to do some installation.  The .NET Core SDK, at a minimum.  See https://www.asp.net/get-started

[2018-12-19 13:08] marieeved commented on #7438
in waiting I also receive info from my organization. want I want to do could be created by our IT team, so I will not have to do the complex coding...
but thanks for the info, very appreciated. :)

[2018-12-19 14:36] mgifford commented on #8529
Interesting.. The CRA has some good information on their Intranet site on accessibility.  I do think it would be useful to find a way to share some of this more broadly.

One of the advantages of sharing is that it helps provide a space to discuss/debate if this is still a best practice.  I'd love to see more acceptance of EPUB in government as it addresses needs for a broader selection of users t

[2018-12-19 15:03] shawnthompson commented on #8529
I know @jrowsell was looking into ePub and she's now with TBS so she might be in a better position to get the talk started over there.

[2018-12-19 15:04] jvanulde commented on #8529
EPUB by its very nature is exclusionary. We should adopt HTML as the standard for all documents and scientific papers in the GC. This is the only path forward if we are serious about ML and AI.

[2018-12-19 15:07] shawnthompson commented on #8529
But what about those who want to publish to PDF (accessible) instead of HTML? I think we shoulod replacing PDFs with ePubs instead. I use VoiceOver to read long documents online, ePubs work great in iOS but PDF, even accessible ones are tricky.

[2018-12-19 15:17] shawnthompson commented on #8529
Can you make a responsive PDF? I was told you could but never seen it done.

[2018-12-19 15:21] mgifford commented on #8529
I do think it is or will be possible.  However, it will be a decade or more before most PDF files are responsive.  The challenge isn't with the format itself, as much as the authoring tools and author practices that produce the ocean of PDF files.  The vast majority of which aren't accessible or responsive.  There's no way of telling which were developed using 2018 best practices and which were ju

[2018-12-19 15:39] jvanulde commented on #8529
You need a plugin to view PDF. While those plugins are pervasive you need to ask yourself why they are needed in the first place. We need to get out of the headspace where we treat the web like a repository. Instead, we need to encode data and information into the web so that it can be crawled and reasoned over using agents (e.g. ML, AI). We need to drop this "publishing" paradigm that is a throwb

[2018-12-19 15:48] mgifford commented on #8529
PDFs mostly open by default in the browser.  They don't always for EPUB, although I think IE does now.

There's an issue for it in FF
https://bugzilla.mozilla.org/show_bug.cgi?id=770946

[2018-12-19 16:00] jvanulde commented on #8529
@mgifford my point exactly.

[2018-12-20 15:09] lizeidsness commented on #8526
Ok great! I thought I had tried that but I think it was the axis reversing that made a difference.
I just have to fiddle with my x axis labels now, but this helps.

[2019-01-04 15:52] CaroGagnon opened #8530 "Feeds: Widget not working"
The feeds widget seems to have failed.

[2019-01-04 16:00] thekodester commented on #8369
Just an FYI the https://wet-boew.github.io/v4.0-ci/demos/twitter/twitter-en.html demo page is broken due to twitters changes.

[2019-01-04 18:08] obrien-j opened #8531 "Enforce HTTPS on wet-boew.github.io"
Apologies if this isn't the best place to raise this issue, but the github host page for the repo seems to not be enforcing HTTPS properly. (80 doesnt' redirect to 443)

https://help.github.com/articles/securing-your-github-pages-site-with-https/

Seems like it's a simple checkbox fix.

Cheers.

[2019-01-06 13:45] duboisp commented on #8530
Thanks for reporting the issue. I just find out the yahoo API that we were using has been retired. https://developer.yahoo.com/yql/

Some research would be required to find a few alternative API services.

The next version of wet-boew include an update to the feed plugin that take advantage of COORS. May be it would worth to have that as the default to read the feed instead of using an external AP

[2019-01-07 14:11] michael-milette commented on #8530
Good morning Pierre,

Bonne année !

- Will this fix it for the WET 4 theme as well?
- What is the estimated release date?

This issue is affecting many departments such as but not limited to:

https://www.canada.ca/en/employment-social-development.html
https://www.canada.ca/en/revenue-agency.html
https://www.canada.ca/en/food-inspection-agency.html
https://www.canada.ca/en/canadian-heritage.html

[2019-01-07 14:38] Bgolden67 commented on #8530
@michael-milette
this is probably affecting almost all IP pages on canada.ca as that feed is part of the IP Page template.
I have 3 sites as well it's affecting.

[2019-01-07 19:09] mikeym88 opened #8532 "How does WET handle multiple languages?"
I'm am implementing the WET in a .NET Core application and need to implement multiple languages (English and French). How does WET handle different languages?

I am looking at the [WET website](http://wet-boew.github.io/wet-boew/index-en.html) and I see the following HTML code for switching between English and French; does this imply that there is a web page for each language?

[code]

[2019-01-07 19:46] RobJohnston commented on #8532
There is, but if you're wondering how the WET components know which language to use, it's controlled by the `"lang"` attribute on the `<html>` tag.  View the source to see either `"en"` or `"fr"`.

[2019-01-08 16:43] michael-milette commented on #8530
If anyone is interested and has access to PHP on their site, I recently published a solution which reads the XML atom feed and converts it into a list of HTML list items (<li>...</li>). You need only find a way to call it from your web page (it is not JavaScript).

See https://github.com/michael-milette/atom-newsfeed . Documentation is currently included in the source code.

Working example:
    h

[2019-01-08 19:09] duboisp commented on #8530
It will be included in the next version version of WET (4.0.30).

[2019-01-08 19:13] duboisp commented on #8531
Thanks for the suggestion. Not we hare enforcing the https.

[2019-01-08 19:13] #8531 closed

[2019-01-08 19:16] duboisp commented on #8532
In addition to @RobJohnston, once WET have detected the current page language, it will download one single JS file (i18n.js) that contains all the translated string for all its plugins.

[2019-01-08 21:20] michael-milette commented on #8530
Hi @duboisp ,

1) Will that be fixed for the "Government of Canada Web Usability theme" as well?

2) When do you foresee that WET (4.0.30) will be released?

Best regards,

Michael

[2019-01-09 00:51] thekodester commented on #8530
@michael-milette The theme "Government of Canada Web Usability theme" was abandoned see https://github.com/wet-boew/wet-boew/issues/8366.

[2019-01-09 12:25] michael-milette commented on #8530
Does this mean that we can now use the Canada.ca theme with our own menus? For example:
https://www.statcan.gc.ca/eng/start

[2019-01-09 13:06] Bgolden67 commented on #8530
@michael-milette I think you need to check the Canada.ca Information Architecture and style guide. I could be wrong but i believe that is not allowed, but if it is, this would be good to know.

[2019-01-09 14:34] Bgolden67 commented on #8366
@michael-milette I think you need to check the Canada.ca Information Architecture and style guide. I could be wrong but i believe that is not allowed, but if it is, this would be good to know.

[2019-01-09 20:40] duboisp commented on #8366
@michael-milette

Currently in the Content and IA spec it is mentioned the global navigation

It is also mentioned

Reference: https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc1

[2019-01-09 20:47] duboisp commented on #8530
FYI - We are currently working on a solution for the Feed. We are going to provide some instruction on how to apply a patch for older version of wet-boew, including the "Government of Canada Web Usability" theme.

[2019-01-09 21:15] trangdo68 opened #8533 "My classic ASP page is loaded with error 'wet is undefined'. I was wondering what script I am missing. Thank you!"

[2019-01-09 22:17] duboisp commented on #8533
This is seems to be an issue related to your WET-BOEW implementation.

Is it for a government of Canada website? If so are you using the CDTS template?

[2019-01-10 00:04] CaroGagnon commented on #8530
Thank you, @duboisp.

[2019-01-10 17:43] duboisp commented on #8530
FYI - The patch that I am working on for the older wet-boew will allow existing wet-boew implantations to read the news feeds from Canada.ca. Some content change will be required in order to use that work-around.

PR #8534 would make the feed plugin read the xml feed directly instead of going through the Yahoo API to get the JSON version of it. That fix is planned to be included in the next releas

[2019-01-11 13:46] mikeym88 commented on #8532
Okay thanks!

[2019-01-11 13:46] #8532 closed

[2019-01-11 14:48] Bgolden67 commented on #8530
@duboisp will the fix itself be made available before the release or do we have to wait to update a full release

[2019-01-15 15:17] RobJohnston commented on #7631
[Section 4.2 of the Canada.ca Content Style Guide](https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#wp4-2) was updated in November.  It now states the following:

[2019-01-16 16:17] #8517 closed

[2019-01-16 17:29] bronsl commented on #8494
Probable duplicate of #8517, which is now closed.

[2019-01-16 17:29] #8494 closed

[2019-01-16 20:39] CaroGagnon commented on #8530
Thank you. This issue has been resolved: https://github.com/wet-boew/wet-boew/releases/tag/patch-v4.0.21-to-v4.0.29

[2019-01-16 20:39] #8530 closed

[2019-01-17 13:45] marieeved opened #8539 "can't change width of form select"
Hi,

I'm doing a quiz with a form. All my questions are with select tag. The answers have not the same width, so the box of the select adjust to the width of the answers. me, I want that all the box have the same width.

In adding a "col-md-10" to the class of the select tag it doesn't work. (I also try to wrap the form-group in a row, but doesn't change the width of the select box too).
If I take

[2019-01-17 13:48] marieeved commented on #8539
forget it.
I found a way to add spacing between questions, I wraped them in a row...

[2019-01-17 13:48] #8539 closed

[2019-01-17 13:50] marieeved commented on #8539
but if someone have a better idea for next time..

[2019-01-17 15:49] idekaresearch opened #8541 "v4.0.29.1 feeds implementation"
I am implementing v4.0.29.1 and cannot get the Feeds to work.

I still see references to the Yahoo API when I load my page.

1) Is there still a Yahoo API reference?

2) Is it mandatory to place the data-ajax attribute **before** the href attribute [ I ask because our TinyMCE editor reverses the order of these when it cleans up the mark-up ]

3) Can the data-ajax reference a .txt file instead of a

[2019-01-17 21:35] Christopher-O commented on #8528
Would this also be an issue with buttons that only have an icon displayed (like a garbage can, or a printer)?
http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html#btn-types

[2019-01-21 15:13] duboisp commented on #8541
Is your JSON atom-like feed are properly structured?
* Documentation: https://wet-boew.github.io/wet-boew/docs/ref/feeds/feeds-en.html#json-atom-like-feed
* Example: https://github.com/wet-boew/wet-boew/blob/master/src/plugins/feeds/demo/manitoba-en.atom.json

Do you have a code sample where I try your implementation?

Yes Yahoo API reference call wasn't removed. We are going to remove the Yahoo A

[2019-01-21 18:19] idekaresearch commented on #8541
Thanks for the response.
It's working now.

Does the Feeds widget only now work with a JSON format?

If so, is it possible for the Feeds widget to just parse the ATOM xml file, and internally convert this to JSON in the WET framework? A future build perhaps?

Our web content management system, like many have been coded to push out XML for the ATOM feeds, in an automated system with web page publis

[2019-01-21 20:41] JamesCatt commented on #8528
@duboisp Sorry for the delay on this. PR's almost ready. A couple of notes:

- For the French footnotes, I went with the pattern `<a class="fn-lnk" href="#fn2">1<span class="wb-inv">, note de bas de page</span></a>`
- For the reference return links, I went with the pattern `<a href="#fn1-rf">1<span class="wb-inv">, return to footnote referrer</span></a>` in English, and `<a href="#fn2-1-rf">1<span

[2019-01-21 21:33] EricDunsworth commented on #8528
IMO the status quo could arguably pass 2.5.3.

**Quote of [SC 2.5.3's description](https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html):**

If I were to strictly read that on its own, my take on it would be that the requirement is for the text that's being presented visually to exist somewhere within the name. That's already being done in the pre-existing footnote links (even though the

[2019-01-22 16:19] RobJohnston commented on #7716
Here's what I've put together this morning to solve this:

[code]

Comments welcome.

[2019-01-22 20:56] JamesCatt commented on #8528
@EricDunsworth Correct--I realized this belatedly. I also just tested with Dragon Naturally Speaking and the existing pattern works when speaking "click footnote".

With that in mind, feel free to close the issue and/or PR as you see fit.

[2019-01-23 18:23] duboisp commented on #8541
Yes that is true after this patch has been applied: https://github.com/wet-boew/wet-boew/releases/tag/patch-v4.0.21-to-v4.0.29

Yes, the upcoming version of WET-BOEW (4.0.30) would query directly the XML file.  PR #8534 is about that. However, that type of fetch might require you to configure the CORS HTTP header on the server.

[2019-01-23 20:30] locutux opened #8545 "Question about vue.js and WET"
Hi,

(slightly related to issue #8018, but with Vue.js)

We are in the process of using Vue.js and the WET to create a new website. Unfortunately, when we call certain aspects, like wb-tables or the datepicker, it does not work in IE. the datepicker works in Chrome. I'm not sure if it is the WET's, or Chrome's native handling of date <input>, but the wb-tables with all the filtering and sorting we

[2019-01-23 20:59] duboisp commented on #8545
Yes it could be related. WET-BOEW has a hard dependence with jQuery.

Also, the WET-BOEW enhancement happen after the page load and if there any new WET plugin added into the DOM after the WET-BOEW core has notify its readiness ```wb.isReady === true```, those newly added plugin need to be manually initialized.

[2019-01-23 22:10] locutux commented on #8545
Thank you Pierre. We decided to get rid of Vue.js for the time being. We'll go static pages for now, especially since the application has so few of them. Cheers! :)

[2019-01-24 13:47] #8545 closed

[2019-01-24 20:50] PMinhThai commented on #8366
Trying not to hijack this post too much but in regards to the themes, I was wondering which one are [https://talent.canada.ca/](url) and [https://digital.canada.ca/](url) using?

[2019-01-24 21:14] shawnthompson commented on #8366
These sites are not using any WET theme. They took GCWeb and created custom styles. Personally I don't even think they should be using WET. They can pull all that off with just basic CSS. Their site performance would be so much better!

[2019-01-25 13:54] michael-milette opened #8546 "DataTable filter with SELECT MULTIPLE field"
Has anyone managed to create a search field where users can select more than one item in a select dropdown field?

For example, I want to be able to filter on more than one province at a time.

Best regards,

Michael

[2019-01-25 14:23] locutux opened #8547 "NuGet package GoC.WebTemplate no longer available?"
Hi everyone!

I'm taking over a project for a web application that was developped some time ago (1yr+ at least) and I notice  the following errors when I open it :

NuGet Package restore failed for project [ProjectName]: Unable to find version '1.28.0' of package '**GoC.WebTemplate-WebForms**'.
  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\: Package 'GoC.WebTemplate-WebForms.1.28.0' is not

[2019-01-25 14:51] Christopher-O commented on #8528
@JamesCatt  Thank you for the response.  I misread "images as text" as images instead of text.  Though the issue may not violate this particular WCAG issue directly, I still think it could be an accessibility issue with these types of readers.  For example, if a webmaster tagged a button with a garbage can with the text "remove"...many people think of a garbage can as "delete" and if the person is

[2019-01-25 14:57] RobJohnston commented on #8547
There was never an office NuGet package.  I recall that @nschonni did some work years ago (as can be seen    here: https://github.com/nschonni/wet-boew-nuget/tree/v3.0), but it wasn't continued.

Another possibility is that it's from a local repository.

[2019-01-25 18:52] PMinhThai commented on #8366
So correct me if I'm wrong but just like they did, If we have to reskin or create a new public web app in our government institution and we're not pushing it to Canada.ca or to our institution website, we can basically take the GCWeb theme and enhance it as long as we comply with the Web Standards?

[2019-01-25 21:02] cfarquharson commented on #7879
This has been an outstanding issue (since 2017) and I would like to move it along to resolution.  Can we add [Font Awesome 5](https://fontawesome.com/icons) to WET4?   The 1,400+ free icons are open source and can be used by us, per [Is Font Awesome open source?](https://fontawesome.com/support#fa-opensource).

The current glyphicon set in WET4 is not comprehensive and has limited usefulness.

The

[2019-01-25 21:51] duboisp commented on #8366
@PMinhThai

The content and IA spec define what is out of scope. It is explained here: https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/usage-canadaca-design.html

If you have questions or need more clarification and you can't discuss with your theme lead about this, please open a new issue in [GCWeb reposi

[2019-01-25 22:06] duboisp commented on #8546
Not in WET yet

I know of some experiments that provide that feature but it is undocumented and not ready for being integrated to wet-boew.

[2019-01-25 22:08] duboisp commented on #8547
Your issue seems related to your implementation environment, not to the wet-boew product.

[2019-01-25 22:09] thekodester commented on #8546
I haven't seen this done with a dropdown, but I seen it with checkboxes. For example here: https://www.jobbank.gc.ca/jobsearch/.

<img width="298" alt="screen shot 2019-01-25 at 5 09 25 pm" src="https://user-images.githubusercontent.com/23484460/51775492-edb0a880-20c3-11e9-833d-f3466e80d7fc.png">

[2019-01-26 16:41] mgifford opened #8548 "Add an Accessibility Statement to the footer"
It is a best practice to include an accessibility statement in the footer of your webpage indicating what efforts have been done to make your site accessible. The [UK will be requiring it on new sites](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#accessibility-statements), It is a best practice that has [come from the USA](https://www.lflegal.com/2013/

[2019-01-26 16:44] mgifford opened #8549 "Adopt the IDRC's Preference Framework"
WET should really be looking at adopting something like the [IDRC](https://idrc.ocadu.ca/)'s https://build.fluidproject.org/infusion/demos/uiOptions/

This would improve WET for users who are low vision or have cognitive impairments like dyslexia.

[2019-01-26 18:36] McEmily commented on #8549
It seems like a good idea, but I'm not too keen on the option for "Times New Roman" as a font option. That being said, I work for the Accessibility, Accommodation, and Adaptive Computer Technology program at Shared Services, and the documentation we have recommends using sans-serif fonts. But I can definitely see how this could have potential. I'll show it to my team on Monday and let you know wha

[2019-01-26 19:12] mgifford commented on #8549
That's great.  Think it is kinda funny you noted Times New Roman & not Comic Sans (which is also an option).

That said, if a user prefers them and is able to better digest the information with their favorite font, why not. Why look for "the best" when you can actually deliver "the best for me".

Personalization is really the future of accessibility.

[2019-01-26 19:13] mgifford commented on #8549
Oh ya, forgot to mention, this list of fonts is totally adjustable. You could (and probably should) also give the option of OpenDyslexic for instance.

[2019-01-28 00:45] michael-milette commented on #8546
Thanks @thekodester , I did not have that one.

If anyone is looking, I found several other examples:

- https://www150.statcan.gc.ca/n1/en/subjects/crime_and_justice/victimization
- http://w05.international.gc.ca/projectbrowser-banqueprojets/filter-filtre
- https://www.investcanada.ca/incentives?format=json&limit=10&fpur=1,2&naics=0
- https://www.ic.gc.ca/app/scr/innovation/list-liste/571c8f726c7

[2019-01-28 00:50] michael-milette commented on #8546
Checkboxes would work for me too. Doesn't have to be a dropdown.

[2019-01-28 01:40] mgifford opened #8550 "Search Defaulting to Basic HTML mode"
Am I the only one who finds that Googling something (that is in Canada.ca) gives them the "Notice: Basic HTML" warning?  It's just ugly, but also it shouldn't be the default for search.

I'm not sure what the best way to recreate this or how much is a problem with AEM.

I can't repeat it on a non-canada.ca site so maybe it is just something messy in how they did redirects or something.

[2019-01-28 15:27] duboisp commented on #8550
I tried some search terms in Google for content that are published on Canada.ca and the description don't include the "Notice: Basic HTML".

Are you able to provide keywords that you have tried or search result links that provided you those kind of result. Thanks

[2019-01-28 15:35] mgifford commented on #8550
Ahh..  It's just a cookie thing..  Interesting..  Sorry for the noise, I didn't check that.

[2019-01-28 15:35] #8550 closed

[2019-01-28 15:44] michael-milette opened #8551 "Canada.ca theme refresh download"
Anyone know where I can Git Clone the production files of the refreshed Canada.ca theme?

I would much prefer to Git Clone it so that it can easily be updated however a ZIP file would also do.

Best regards,

Michael

[2019-01-28 17:41] michael-milette commented on #8546
Found another one which looks promising: https://www.canada.ca/en/privy-council/campaigns/mandate-tracker-results-canadians.html

[2019-01-28 17:49] duboisp commented on #8551
Will be more suitable to ask that kind of question in the [GCWeb repo](https://github.com/wet-boew/GCWeb/issues).

The production files are published in the [themes-dist](https://github.com/wet-boew/themes-dist) repository

[2019-01-28 19:11] PMinhThai commented on #8366
Thank you for the info Pierre!

[2019-01-29 04:57] thekodester commented on #8546
I created a request to see if where able to add checkboxes to the filtering.

[2019-01-29 06:35] michael-milette commented on #8551
Hi @duboisp

Thank you very much for the link. That is exactly what I needed.

Best regards,

Michael

[2019-01-29 06:35] #8551 closed

[2019-01-29 15:09] upsonp opened #8553 "GeoMap: JQuery hooks"
Do the jQuery hooks into Geomap still work?

I think the documentation needs some updating, but I'm not sure. I had a hell of a time hooking into a `wb-ready.wb-geomap` event using the basic examples from the GeoMap features page.

https://wet-boew.github.io/wet-boew/demos/geomap/geomap-en.html

I copied the first example and stripped out everything except for the "cities" layer. It displayed corr

[2019-01-29 17:18] upsonp commented on #8553
Can you point to the PR? Any idea if/when it might be merged in?

[2019-01-29 19:51] bsouster commented on #8549
I think it's cool but for the performance hit and utility I don't see it out-performing the users' personal tools already set to supplement their experience from the operating system level and onward.

I foresee diminishing returns; the more the user needs the formatting options of this tool, the more likely they will already be relying on other better tools.

@mgifford it's worth trying it anyway

[2019-01-29 23:11] duboisp commented on #8553
PR #7889

And the only thing left as per my [last comment](https://github.com/wet-boew/wet-boew/pull/7889#issuecomment-402508492) is to :

It don't need to be the same, but at least some what equivalent.

[2019-01-30 14:59] mgifford commented on #8549
Ya, performance might be an issue, but the patterns are really what matter. They've got a good text to speech plugin too.

There has to be a way to load the JS only if the widget is selected.  That's not how this specific library works, but that should be possible.

[2019-01-30 15:13] RobJohnston commented on #8549
My only preference is almost always to inverse the colours (light text on a dark background).  I remember this was an option on the microfiche machine at the library to make it easier to read.

It's a popular option that I see around the web like on https://docs.microsoft.com/en-us/dotnet/csharp/ or https://www.reddit.com/.

[2019-01-30 15:16] mgifford commented on #8549
Plus there's Mac's Dark Mode - https://support.apple.com/en-us/HT208976 - which is a preference which is available to Safari browsers (not sure about other Mac browsers).

https://paulmillr.com/posts/using-dark-mode-in-css/

[2019-02-03 21:15] mgifford commented on #8529
On EPUB3 here's an accessibility validator that leverages aXe-Core https://github.com/daisy/ace

Some great work done here https://inclusivepublishing.org & by the Daisy folks.

It's worth asking too where the automated tools are for evaluating PDF files are.  I haven't found any good ones that compare with what is available in HTML.

[2019-02-04 16:31] juleskuehn commented on #8549
I agree 100% with @bsouster. I don't think these kinds of tools should be integrated into individual websites. Rather, the website should be coded in standard, accessible ways so that the design doesn't interfere with accessibility tools. All of the demonstrated functionality can and should be provided by browser plugins, not to mention operating system tools. Lots of work is being done in terms o

[2019-02-05 05:05] ognil opened #8556 "Screen readers and keyboard navigation of the new main menu"
Hi guys,

Please visit canada.ca and try to use NVDA or JAWS 18 screen readers.
I use Chrome, NVDA and JAWS 18 screen readers.
Without a screen reader, it works OK but with a screen reader the keyboard navigation (arrow keys) of the main menu stop working.

George

[2019-02-05 18:11] duboisp commented on #8556
Thanks @ognil for reporting that issue, I am looking at it.

[2019-02-05 20:37] duboisp commented on #8556
I was able to reproduce the issue with NVDA in IE11. It works fine in Firefox.

[2019-02-05 21:58] thekodester commented on #8556
Could it be related to the removal of `aria-posinset `and `aria-setsize`, and the introduction of roles like `role="presentation"`?

[2019-02-06 15:21] duboisp commented on #8556
@thekodester no it's not about ```aria-posinset``` and ```aria-setsize```.

The issue seems to be related the screen reader mode don't change to "Focus mode" but remain in "Browsing mode" when the button receive the focus. More info here: https://github.com/nvaccess/nvda/issues/7898

Adding the ```role="application"``` at the main menu container fix the issue but I am not sure if that is the best

[2019-02-07 15:24] #8516 closed

[2019-02-07 16:29] neilmispelaar opened #8557 "Migration to jQuery 3 (WET 4)"
### Issue

jQuery version 2.x is no longer receiving updates or patches.

The risk being any sites leveraging WET 4 **could** be susceptible to security vulnerabilities.

In addition, no new features, enhancements or further optimization will be added to jQuery 2.x.

### Recommendation

A project should be initiated to upgrade WET 4 to the latest version of jQuery 3.x

### Consideration

Is the le

[2019-02-07 19:53] #8369 closed

[2019-02-08 15:46] soatley commented on #7716
I've tried @RobJohnston 's example and it worked for my situation.  Thanks for the snippet.

[2019-02-08 17:38] michael-milette opened #8558 "DataTable Checkbox filter fails with multiple checkbox fieldsets"
Hi @thekodester ,

We did a little more extensive testing today and I believe we found a bug.

## Description

I have a datatable with two filter fields: Pillars and Provinces. Checking a box in the first field and none in the second field produces 0 results.

## Reproducing the issue

Create a form similar to the working example but with two filter fields of check boxes. The first will be Pillars

[2019-02-08 17:49] thekodester commented on #8558
This is expected behaviour and how it works with even the drop-downs. Cause it looking for "GBV Strategy Pillar: Prevention" the whole word and not just "Prevention".

[2019-02-08 18:13] thekodester commented on #8558
Not it not that either. It has nothing to do with multiple checkboxes, cause do a quick test with a alert or console log it passing the string.

[2019-02-08 18:14] michael-milette opened #8559 "DataTable: Multiple filters for same field (AND)"
Does anyone know if there is a way to have multiple filters apply to the same field in a datatable?

For example, I have a province field which contains a commas delimited list of one or more provinces. I want to find all of the entries that include **BOTH Ontario AND Quebec**.

I tried the new Checkbox filter and, while it works great and we will be using it, it's filter returns results that incl

[2019-02-08 18:23] thekodester commented on #8558
Found the issue has too do with:
[code]
Basically the value is never null or empty, so it continues to search incorrect columns. Working on a better way to determine if we change columns.

[2019-02-08 18:33] duboisp commented on #8559
The datatable third party plugin support regular expression, so yes it feasible.

In order to do, when applying programmatically the filter on a column, the person would need to provide additional parameter where it activate the regular expression and deactivate the smart search.

See the docs here:
https://datatables.net/reference/api/column().search()

[2019-02-08 18:45] thekodester commented on #8558
Posted a fix for it that was erase the value when it starts checking the next set of checkboxes.

[2019-02-08 19:48] RobJohnston commented on #8559
Dot this relate to my issue https://github.com/wet-boew/wet-boew/issues/8500 where I found the search lacking the `regex`, `smart`, and `caseInsen`?

[2019-02-08 19:53] thekodester commented on #8559
I enable regex for the filters when introducing checkboxes. It be really simple to update it so it not looking for exact string.

[2019-02-08 19:56] cfarquharson commented on #7879
@masterbee @shawnthompson @patlaj  checking in on my post above.  Can someone comment?

[2019-02-08 19:56] thekodester commented on #8559
Also the regex I enable does not affect the search box. FYI.

[2019-02-08 20:06] thekodester commented on #8559
Also @michael-milette what do you mean by?

With the current design it searches using this code:

`$datatable.column( parseInt( $elm.attr( "data-column" ), 10 ) ).search( "(" + $value + ")", true ).draw();`

for checkboxes the value be `Ontario|Quebec`, so it searches the field looking for Ontario or Quebec.

Are you looking for it to search with Ontario AND Quebec instead of OR?

[2019-02-08 20:08] thekodester commented on #8559
Maybe the checkbox filer could be updated in away that allows for **AND** or **OR**...should this be predetermined or up-to the user searching?

[2019-02-08 20:49] michael-milette commented on #8558
Hi @thekodester ,

Thank you so much for the quick fix. So much better. You the man!!! :-)

Best regards,

Michael

[2019-02-08 20:52] michael-milette commented on #8558
Hi @duboisp , looking forward to this being merged.

Best regards,

Michael

[2019-02-08 21:27] michael-milette commented on #8559
Hi @thekodester ,

Ideally we would like to give the user the option of selecting AND or OR. The checkboxes already provide the OR which is great. I am definitely using this feature. Just looking for a way to provide the AND now. It can be AND or OR like the advanced filter option in excel offers. Looks like this:

![image](https://user-images.githubusercontent.com/3808579/52506543-e5c13000-2bbc-1

[2019-02-08 22:15] duboisp commented on #7879
@cfarquharson

The next step would be to look at the best way to add it.
* Will be exclusive to GCWeb or not.
* Do we add a "link" in the template?
* Do we include it in our CSS import?
* What about SRI (Sub Resource Integrity)?
* What is the fa CDN privacy statement say? Is it conflicting with our policies?

[2019-02-10 20:36] cfmaley3 commented on #8150
Does anyone have an updated example of how to integrate wet toolkit into reactjs 16.3 or greater?

thanks

chris

[2019-02-10 22:58] duboisp commented on #8150
@cfmaley3 not that I am aware.

[2019-02-10 23:26] cfmaley3 commented on #8150
What version of react was used in the example above ?

Is there a link to the react example repo?

[2019-02-11 04:03] #8558 closed

[2019-02-11 04:04] duboisp commented on #8558
@michael-milette FYI it is now merged and will be included in the release v4.0.30

[2019-02-11 08:14] michael-milette commented on #8558
Thank you @dubois! Much appreciated.

Brst regards,

Michael Milette

[2019-02-11 11:51] idekaresearch opened #8562 "New Canada Theme Availability"
The download links for the new Canada theme are broken; could someone update these.
Thanks!

[2019-02-11 16:33] mgifford opened #8563 "Aurora design system"
Please document the connection between WET-BOEW & the Aurora design system:  https://design.gccollab.ca/

Are the two systems compatible?  How are the teams developing these to systems engaging with each other.  What is documented where?

Some clarity on this in both pages would be useful.

[2019-02-11 16:54] duboisp commented on #8562
It will be available soon.

[2019-02-11 17:51] BelangerMaxime opened #8564 "Unable to download Wetboew Canada.ca"
Hi,

I'm unable to download the latest version :
https://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html

![image](https://user-images.githubusercontent.com/25433718/52582669-bc421780-2dfb-11e9-8826-974c9f5ee279.png)

Error 404 - NOT FOUND

[2019-02-11 18:10] RobJohnston commented on #8564
Duplicate of https://github.com/wet-boew/wet-boew/issues/8562, I believe.

[2019-02-11 20:07] duboisp commented on #8562
The version 5.0.0 of Canada.ca theme (GCWeb) are now published and available for download.

* [Release notes](https://wet-boew.github.io/themes-dist/GCWeb/gcweb-theme/release/v5.0-en.html)
* [Production files](https://github.com/wet-boew/GCWeb/releases/download/v5.0.0/themes-dist-5.0.0-gcweb.zip)

[2019-02-11 20:08] #8562 closed

[2019-02-11 20:09] duboisp commented on #8564
The version 5.0.0 of Canada.ca theme (GCWeb) are now published and available for download.

* [Release notes](https://wet-boew.github.io/themes-dist/GCWeb/gcweb-theme/release/v5.0-en.html)
* [Production files](https://github.com/wet-boew/GCWeb/releases/download/v5.0.0/themes-dist-5.0.0-gcweb.zip)

The link in the wet-boew download page are now working.

[2019-02-11 20:09] #8564 closed

[2019-02-12 15:49] idekaresearch opened #8566 "Canada theme: Menu CSS differences between Canada.ca and the downloadable version"
I noticed that the downloaded Canada theme has a blue background for the main Menu drop-down button; whereas on the Canada.ca site the same menu button background is white.

It looks like on the Canada.ca site, the parent <nav> has v2 classes different than the downloaded Canada theme.

Should we use the theme.min.css from the Canada.ca site or the downloaded Canada theme?

[2019-02-12 15:52] thekodester commented on #8566
Only the landing page has the white background, if you go to for example https://www.canada.ca/en/services/jobs.html. It is the same as the https://wet-boew.github.io/themes-dist/GCWeb/index-en.html.

[2019-02-12 15:56] idekaresearch commented on #8566
Ok. Got it

[2019-02-12 15:56] #8566 closed

[2019-02-12 17:17] tekduy opened #8567 "GeoMaps Language and Loading Error"
When calling the geomaps function, the geomap loads in a language not native to my machine and proceeds to break the data table it is pulling from when selecting a page. Has anyone else had this issue and is there a fix for this?

![capture](https://user-images.githubusercontent.com/36016701/52654333-9de52600-2ea6-11e9-83db-8c17ab968981.PNG)
![capture2](https://user-images.githubusercontent.com/36

[2019-02-12 17:36] duboisp commented on #8567
What is the language of the page, the attribute ```lang``` set on the ```html``` element? What language are you expecting?

If the i18n string for geomap plugin are undefined, they fall back on English. It is possible to add new translation to our dictionary.

[2019-02-12 17:46] tekduy commented on #8567
There is no `lang` attribute set, so I would be expecting English.

But I'm also coming across a second problem as well where geomaps is being called twice and as a result, bleeding into the data table and populating it with two selection options and two zoom options. However, this does not occur consistently.

![capture4](https://user-images.githubusercontent.com/36016701/52656250-c838e280-2eaa-1

[2019-02-12 18:11] jvanulde commented on #8567
@tekduy can you post your configuration and I can take a look.

[2019-02-12 18:21] tekduy commented on #8567
Here's how I'm calling geomaps:

`        <div id="mygeomap" class="wb-geomap position scaleline"
             data-wb-geomap='{
                    "tables": [{
                        "id": "stations",
                        "zoom": true,
                        "tab": false,
                        "visible": true,
                        "popups": true,
                        "style": {

[2019-02-12 18:38] jvanulde commented on #8567
@tekduy are you seeing the language issue with any other wet-boew plugin? I don't see any issue with your configuration.

[2019-02-12 18:43] tekduy commented on #8567
Yes, the datepicker plugin is also not loading in English.

![capture5](https://user-images.githubusercontent.com/36016701/52659730-e0146480-2eb2-11e9-8224-335373b21a1f.png)

[2019-02-12 18:46] tekduy commented on #8567
I've also tried excluding the `.js` files in `i18n` except for `en.js` and `en.min.js` from my project to force the map to load in English, but this did not work.

[2019-02-13 14:57] gvautour opened #8568 "Feeds broken when limit is greater than the number of feed entries"
When the wb-feeds limit-**#** is greater than the actual number of items in the feed, the plugin throws an error.

[2019-02-13 19:06] jvanulde commented on #8567
Strange. I would focus on solving the language issue first. Then we can tackle the Geomap issues.

[2019-02-13 19:24] duboisp commented on #8568
@ipaksc can you take a look?

[2019-02-14 12:18] gvautour opened #8571 "Feeds Plugin: Link to Web Resource"
Should we use the atom:link to link to a web resource instead of the atom:id? I believe that the use of the id is a deviation from previous implementations of the feeds plugin, but I could be mistaken.

According to the RFC4287, the [atom:link](https://tools.ietf.org/html/rfc4287#section-4.2.7) defines a reference from an entry or feed to a Web resource while the [atom:id](https://tools.ietf.org/h

[2019-02-14 18:17] thekodester commented on #8567
Just curious was the HTML tag set to the language? Like `<html class="no-js" lang="fr" dir="ltr">` is for French or for Chinese language you have `<html class="no-js" lang="zh" dir="ltr">`.

[2019-02-14 19:34] RobJohnston commented on #8567
He's stated that no `lang` attribute was set on the `html` tag.  So from https://www.w3.org/International/questions/qa-html-language-declarations

My guess is that the fallback algorithm is choosing Chinese.

[2019-02-14 19:36] jvanulde commented on #8567
Good point @RobJohnston, @tekduy please set the language explicitly and let us know if that solves the issue.

[2019-02-14 20:31] duboisp commented on #8571
I think the wb-feeds use the first atomLink not the atomId as I can see at line: https://github.com/wet-boew/wet-boew/blob/master/src/plugins/feeds/feeds.js#L99 and https://github.com/wet-boew/wet-boew/blob/master/src/plugins/feeds/feeds.js#L324

[2019-02-14 21:08] michael-milette commented on #8559
Hi @thekodester ,

Just wanted to confirm that you saw my reply last week.

Best regards,

Michael

[2019-02-14 21:10] thekodester commented on #8559
It wouldn't be overly complicated.

[2019-02-15 00:46] gvautour commented on #8571
That is correct, however, while it it being processed in the corsEntry function, the id is assigned to the link. https://github.com/wet-boew/wet-boew/blob/master/src/plugins/feeds/feeds.js#L249

[2019-02-15 02:48] tekduy commented on #8567
When the language is set explicitly, this fixes the language issue but the loading of the geomap is still an issue.

[2019-02-15 14:22] agagnon opened #8573 "Lightbox - Open specific image in gallery through Javascript"
In Example 5, it's possible to open a gallery through Javascript when we specify an array of images and descriptions. However, it always shows the first image by default.

https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html#examples5

Is it possible to open a specific image, for example the 2nd image, using the trigger event?

[2019-02-15 14:24] tekduy commented on #8567
Perhaps it's how I'm bundling wet-boew? I'm on Windows 10 and using ASP.NET MVC 5.
I'm bundling `theme.css` and `theme.js`  in `BundleConfig.cs` through:

`bundles.Add(new StyleBundle("~/Content/Render/canada_theme").IncludeDirectory(
                "~/Content/canada_theme", "*.css", true));`

`bundles.Add(new ScriptBundle("~/bundles/wet-boew").IncludeDirectory(
                "~/Scripts/wet-boe

[2019-02-15 14:41] RobJohnston commented on #8567
Maybe you are bundling both the full an minimized versions with this?
[code]

Wouldn't it be better to change `*.js` to `*.min.js`?  That's my guess.

[2019-02-15 15:47] idekaresearch commented on #8546
We are also looking for a multi-select filter option, as well as a Date range filter.

To get this working we simply had to roll our own and post back to the server when filtering the results.

[2019-02-15 15:58] duboisp commented on #8571
@ipaksc can you take a look at this? Can we try to use the "link" first then the "id" if unavailable?

[2019-02-15 16:20] duboisp commented on #8573
That don't seems possible, as is, when I look how the [lightbox open event](https://github.com/wet-boew/wet-boew/blob/master/src/plugins/lightbox/lightbox.js#L336) work.

What is your use case? Why you would need to skip the first image if you are using JS to open the lightbox when you can reorder the image array?

[2019-02-15 16:34] agagnon commented on #8573
We have a "gallery" that is generated dynamically with JS, but all images cannot be in the same container for layout reasons, hence opening it through Javascript instead of HTML markup. But it seems that an image can't open itself in a lightbox gallery through Javascript if not the first image.

I guess I'll have to find another approach for my web page. Thanks.

[2019-02-15 17:22] michael-milette commented on #8559
I understand @thekodester and thank you again - all of your efforts are so much very much appreciated.

[2019-02-15 17:28] duboisp commented on #8573
@agagnon I tried with a gallery that use Bootstrap grid instead of an unordered list and it works as expected.

[code]

Are you able to provide a sample of your markup structure that don't work?

If you are using JS to dynamically create the list, are you initializing the lightbox plugin once that task is completed? How to manually initialize the lightbox plugin is documented in the "Events" secti

[2019-02-15 17:30] cfarquharson commented on #7879
@duboisp

Probably a good ideal to just put it in GCWeb.  Not core to WET4, it can be optional there.  Is there is way to refer to the files from an import on an existing CSS file?  That way it's easy to update as new releases come out and you aren't update the code on each page?    I don't know about the tech side of CND or SRI so someone would have to investigate that.

[2019-02-16 16:40] mgifford commented on #7413
Just looking at this on Canada.ca:

https://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg

It's just kinda a sloppy way to implement the core part of Canada's Brand.

https://www.deque.com/blog/creating-accessible-svgs/

This could just be done better.

[2019-02-16 16:49] mgifford commented on #7413
Just looking at this on Canada.ca:

https://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg

It's just kinda a sloppy way to implement the core part of Canada's Brand.

https://www.deque.com/blog/creating-accessible-svgs/

This could just be done better by adding a title, description & role="img":

`<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/

[2019-02-17 05:49] thekodester commented on #8500
I think my change to filters with checkboxes made have fixed this as it now checks to see if the word is contained within a string.

[2019-02-17 15:31] thekodester commented on #8559
<img width="1186" alt="screen shot 2019-02-17 at 10 28 54 am" src="https://user-images.githubusercontent.com/23484460/52915220-1e3cca00-329f-11e9-9332-561c4d9f2656.png">
<img width="1209" alt="screen shot 2019-02-17 at 10 29 12 am" src="https://user-images.githubusercontent.com/23484460/52915221-1e3cca00-329f-11e9-8e2d-86c0246a5b01.png">
<img width="1210" alt="screen shot 2019-02-17 at 10 29 23 am

[2019-02-17 15:32] thekodester commented on #8559
[code]

[2019-02-17 15:33] thekodester commented on #8559
I placed these filters above the form:
[code]

[2019-02-17 15:35] thekodester commented on #8559
[code]

[2019-02-17 15:39] thekodester commented on #8559
I'm not sure if this should be merged in the filters demo or not. Any feedback on the code or ideas are great. @michael-milette @duboisp

[2019-02-17 17:50] cfmaley3 commented on #8150
@Duboisp I’m working on trying to integrate field flow component into reactjs using the same pattern you used above..  My challenge is when I use a promise to make a rest call to get the <li> collection from my data source, the component renders before the promise is complete which causes the component to be rendered as a <ul> instead of a feild flow component.  If I remove the promise and hard co

[2019-02-18 04:21] thekodester opened #8574 "Info Alert About Changes to WET are only in French"
The info alert about changes to WET are only in French. See https://wet-boew.github.io/wet-boew/docs/versions/dwnld-en.html.

<img width="1161" alt="screen shot 2019-02-17 at 11 20 32 pm" src="https://user-images.githubusercontent.com/23484460/52927895-c9cf3400-330a-11e9-91f5-10c6f6055176.png">

[2019-02-18 04:23] thekodester commented on #8574
The last link is also only in French.

[2019-02-18 05:55] thekodester commented on #8559
Was just able to publish a live demo see: https://www.thekodester.ca/wet/tables/dtfiltering

[2019-02-18 06:18] michael-milette commented on #8559
You are absolutely the best @thekodester , Thank you so much Kody! I can't wait to try it out when I get back in the office on Tuesday. I will be sure to let you know how it work out.

Best regards,

Michael

[2019-02-18 14:17] duboisp commented on #8150
@cfmaley3

It's a development build of React v16.8.2

The init event for field flow is ```wb-init.wb-fieldflow```

Field flow work well when the flow "the decision tree" is fully static at the initialization. Inserting content (provided from a GraphQL query for an example) when the user are interacting with an existing fieldflow component could be challenging.

If you would like to chat and you ar

[2019-02-18 15:12] duboisp commented on #8574
@thekodester we have just received the English translation and I have a web publisher that is currently working on it. It would be translated soon in English.

[2019-02-18 15:13] thekodester commented on #8574
Okay thanks!

[2019-02-18 15:13] #8574 closed

[2019-02-18 21:52] duboisp commented on #8556
@ognil are you able to do a quick test with the test page bellow by using Chrome with a screen reader and let me know if you can operate the main menu? It contains a fix that resolved the issue I had with IE11 and NVDA.

Test page: https://universallabs.org/wet/labs/gcwebmenu/content-en.html

[2019-02-19 02:03] ognil commented on #8556
Thank you Pierre,

Unfortunately it still  doesn’t work with  Google Chrome Version 71.0.3578.98 (Official Build) (64-bit) with JAWS v.18 and NDVA.

I tested this page:

https://universallabs.org/wet/labs/gcwebmenu/content-en.html

George

From: Pierre Dubois <notifications@github.com>
Sent: Monday, February 18, 2019 4:52 PM
To: wet-boew/wet-boew <wet-boew@noreply.github.com>
Cc: ognil <aromikik52

[2019-02-19 14:01] mariovachon1 opened #8576 "graphique animé html canvas"
Bonjour,

Je tente d'intégrer un graphique animé en HTML Canvas que j'ai créé à partir de Animate cc. lorsque j'intègre mon projet dans un gabarit du gouvernement (wet-boew 4.0.30) dans la section <main role="main" property="mainContentOfPage" class="container"> <main/> mon animation sort du (container) et ce déplace sur le côté droit.

Comment faire pour que l’animation demeure dans le (container

[2019-02-19 14:02] mariovachon1 commented on #8576
Hi,

I am trying to embed an animated graphic in HTML Canvas that I created from Animate cc. when I integrate my project in a government template (wet-boew 4.0.30) in the section <main role = "main" property = "mainContentOfPage" class = "container"> <main /> my animation comes out of (container ) and this moves on the right side.

How to make the animation stay in the (container)?

Thank you!

[2019-02-19 17:26] michael-milette commented on #8573
Hi @agagnon ,

I know the following code isn't exactly what you are looking for however it does demonstrate how to open a lightbox programmatically with a fallback if javascript is disabled. I think you should be able to adapt it to what you are trying to accomplish:

[code]

Hope it helps. Feel free to share any code you derive from it.

Best regards,

Michael

[2019-02-19 19:39] biljanap opened #8577 "Toggle not working in overlay opened from a page with tabs"
I am using Middle screen overlay. The overlay contains ```<details>``` element that I am trying to expand/collapse using toggle plugin. The "On" or "Toggle" functionality works initially to expand ```<details>``` elements but "Off" or "Toggle" can't collapse them back.

This only happens if the overlay is opened from the page that contains tabs. If I remove ```class="wb-tabs"```, the toggle is wor

[2019-02-20 05:00] thekodester commented on #8546
@idekaresearch  Checkboxes filters where added (something as a multi-select). Also #8559 talks about expanding on the recent addition of checkboxes. Currently still no date range filter.

[2019-02-20 05:41] #7871 closed

[2019-02-20 07:14] thekodester commented on #8546
I have a working example of using a date range. See https://www.thekodester.ca/wet/tables/date-filter.

To have this apart of WET I could add the following code and there need to be some documentation.
[code]

Thoughts?

[2019-02-20 13:49] biljanap commented on #8577
I should have added that I am ajaxing the modal including toggle buttons. If I ajax just the content but have the buttons on the page from which I am making ajax call, things are working fine.

[2019-02-20 14:33] duboisp commented on #8556
@ognil what is the issue you have? Is the menu are still keyboard operable with the arrow key? How you are able to operate them?

I did some test and here my result:

| Browser | Screen reader | Date | Test page | Results |
| ---- | ---- | ---- | ---- |  ---- |
| Chrome | (none) |  2019-02-19 | Canada.ca | OK, The menu are keyboard operable as expected |
| Chrome | JAWS |  2019-02-19 | Canada.ca |

[2019-02-20 16:03] biljanap commented on #8577
....and I just noticed that all works as it should if I add class ```wb-prettify``` anywhere on the page.

[2019-02-20 20:07] samghar1 opened #8579 "Menu not visible in mobile view (only the mb-pnl button that is visible)"
I'm working with WET v4.0.26 I'm not seeing the menu on the mobile view. There's one Wet-boew.min.js error Uncaught TypeError: Cannot read property 'href' of undefined at t (wet-boew.min.js:formatted:3810)
    at h (wet-boew.min.js:formatted:3834)
    at u (wet-boew.min.js:formatted:3860)
    at q (wet-boew.min.js:formatted:3772)

Here is a picture of the menu working fine in a desktop view (md an

[2019-02-20 20:15] duboisp commented on #8579
Can you provide the HTML markup used for your page header?

[2019-02-20 20:18] duboisp commented on #8577
You might want to specified the CSS selector in your toggle plugin configuration. Like a CSS selector that only target your middle screen overlay.

It is the first item in the configuration option in the toggle documentation: https://wet-boew.github.io/wet-boew/docs/ref/toggle/toggle-en.html

[2019-02-20 20:21] duboisp commented on #8576
Est ce que tu as essayé de le mettre dans une grille bootstrap?

Par example:
[code]

[2019-02-20 20:26] samghar1 commented on #8579
Here is the HTML markup.

`
    <div class="visible-print mrgn-bttm-md"></div>

    <header role="banner">
        <div id="wb-bnr">
            <div id="wb-bar">
                <div class="container">
                    <div class="row">

                        <section id="wb-lng" class="hidden-xs hidden-sm col-md-12">
                            <h2>Header Links</h2>

[2019-02-20 21:03] biljanap commented on #8577
@duboisp
This is my code:
[code]
...but it's not working unless I have class ```wb-prettify```.

[2019-02-20 21:16] biljanap commented on #8577
Tested it in 3 browsers:
Firefox v.52.9.0:
On - expands elements
Off - does not collapse elements

Chrome v.72.0.3626.109
On - expands elements
Off - does not collapse elements

IE 11
On - does not expand elements
Off - does not collapse elements

[2019-02-20 21:43] thekodester commented on #8577
It quite possible the the WET code isn't being triggered cause the toggle elements are not on the page and are only loaded once the user opens the overlay you might need to re-trigger the toggle elements.

[2019-02-20 22:42] Pacoup commented on #8579
I'm not sure this is the issue, but the menubar role does not belong on those `<a>` tags.

Here's what our sub-menu-less items look like:

[code]

You also have unusual markup around the `<div id="mb-pnl"></div>` part. Your `<h2>Search and menus</h2>` appears twice, and you have `<div class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">` wrapping `<div id="mb-pnl"></div>`, which may

[2019-02-21 03:10] thekodester commented on #8577
Using the code below I had no issues.

[code]

[2019-02-21 03:12] thekodester commented on #8577
That was with the latest version of WET what are you using?

[2019-02-21 13:47] mariovachon1 commented on #8576
Bonjour Pierre,

Oui, voir attachement. Lorsque  je l’intègre à ma page (content-fr.html) qui vient du (wet-BOEW) du gouvernement, mon animation.html se déplace vers la droite et sort du (container)

J’ai l’impression que j’ai du JavaScript qui entre en conflit et qui fait sortir mon animation du container.

Je t’ai mis en attachement mon projet afin que tu puisses constater.

Merci
[wet-boew-dist

[2019-02-21 15:31] duboisp opened #8580 "Review footnote design pattern"
The focus order vs the structure order might cause some confusion when the user are navigating the individual footnote at the bottom of the page. That was already discussed here: #2072. Also there were a confusion in order to have the footnotes design pattern conforming to WCAG 2.1 as per #8543.

So this issue is to more to discuss about what kind of design pattern we could use in order to avoid a

[2019-02-21 19:36] duboisp commented on #8576
Possiblement le canvas déborde car sa largeur est plus grand que l'espace disponible. Une solution serait de définir une largeur variable au canvas, par example ```style="width:100%"```. Cette méthode est présentement utilisé par le plugiciel des graphiques.

Est ce que tu as exploré l'option d'utiliser une image SVG (vectoriel) afin de créer ton image animé? Il y a des librairie comme "D3" qui fa

[2019-02-21 19:44] mikeym88 opened #8581 "Is there a way to merge server-client errors functionality in .NET Core 2.1?"
Is there a way to merge server-client errors functionality in .NET Core 2.1? For example, do the [Asp Validator examples](https://wet-boew.github.io/v4.0-ci/docs/ref/formvalid/formvalid-en.html#MergeSCE) have an equivalent in .Net Core?

[2019-02-21 20:07] EricDunsworth opened #8582 "Closing a lightbox that contains a multimedia player doesn't pause in Firefox/Opera"
We've noticed that if a user attempts to playback a multimedia player that's situated inside a lightbox overlay, closing the overlay will automatically pause the video in some browsers... but not others.

The player only seems to auto-pause when closing a lightbox in IE11. In Firefox (Gecko) and Opera (Blink), the player continues playing after its parent lightbox is closed. This is bad from an ac

[2019-02-21 20:40] mariovachon1 commented on #8576
J’ai déjà tenté d’appliquer des CSS, mais ça ne répond pas. Comme je disais, il semble que le JavaScript interfère avec les CSS que j’applique.

[2019-02-21 20:41] samghar1 commented on #8579
I revised my code and apparently I had an extra <nav> tag that was in the footer, I removed it and now works as expected. Thank you very much for your help!

[2019-02-21 20:43] #8579 closed

[2019-02-21 21:36] Pacoup commented on #8579
Good to know.

I've just upgraded to 4.0.30 and wanted to mention I removed the item class from my menu items without dropdowns, otherwise I get the `active` class on the parent `<li>`, which causes the hover background color to briefly “stick” after the mouse moves away.

The class in question gets added with a timer to prevent the opened sub-menus from closing right away when users briefly mouse

[2019-02-22 18:09] patlaj commented on #7879
Hey sorry weighing in late here - we (Canada.ca team) definitely want to have it available in GCWeb. Since that has one purpose (pubic GC sites), it seems to make more sense to keep it there than risk whatever issues might arise from how people are using core WET.

@duboisp should we then create an issue in GCWeb and leave this one here?

[2019-02-22 19:28] duboisp commented on #8581
There is a .NET component available here: https://github.com/wet-boew/asp.net-formvalid-serverside

/cc @StdGit

[2019-02-22 20:00] MichaelDalrymple opened #8583 "Tables: Sort by alpha date"
Wondering if there's a way that the filterable table can sort by date using the spelled-out date (e.g. February 22, 2019) instead of the numerical date 2019-02-22 (and have it work in both languages). Or if there's a way to enter a date as 2019-02-22 and then have it display as February 22, 2019, allowing the table to still read the numerical date. Anyone tried this?

https://wet-boew.github.io/v4

[2019-02-22 21:34] thekodester commented on #8583
I created a live demo of formatting the date as the table is populated.

Which can be seen here: https://www.thekodester.ca/wet/tables/formatted-dates

Code:

[code]

You can see the demo data here: https://www.thekodester.ca/wet/tables/ajax/publications.json

[2019-02-22 21:36] thekodester commented on #8583
As for filtering right now WET has no date filters. I have worked on one, but have no created a PR yet.

You can view #8546 and https://www.thekodester.ca/wet/tables/date-filter .